#abilitySlider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*background-color: transparent;*/
    padding: 5px 15px;
    width: 390px;
    height: 185px;
    background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/raid/footer_bg.png?1729002592') repeat-x;
    background-size: 3px;

}

.ability-panel {
    position: relative;
    height: 185px;
    justify-content: space-between;
    color: white;

    margin-left: 1px; /*복사된 다음 엘리먼트의 왼쪽 외각선 표시 방지*/

}

.charge-attack-wrapper {
    position: absolute;
    top: 0;
    left: 73px;
    width: 280px;
    height: 50px;

    padding: 4px;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: inset 0 0 6px 1px rgba(168,132,99,0.5);
    border: 1px solid #a88463;
    margin-bottom: 1px;
}

.charge-attack-info {
    height: 20px;
    font-size: 10px;
}

.ability-wrapper {
    position: absolute;
    top: 55px;
    left: 73px;
    height: 80px;
    width: 280px;

    display: flex;
    padding: 0.25rem 0;
    justify-content: space-evenly;
    margin-bottom: 0.1rem;

    box-shadow: inset 0 0 6px 1px rgba(99,159,168,0.5);
    border: 1px solid #639fa8;
    border-radius: 5px;
    background: #150f0f;
}

.ability-battle-portrait {
    top: 0;
    width: 66px;
    height: 140px;
    position: relative;
}

.ability-battle-portrait img {
    height: 100%;
}

.ability-icon {
    position: relative;
    align-content: center;
    width: 45px;
}

.ability-icon .ability-overlay {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 7%;
    left: 0;
}

.ability-icon .ability-overlay.not-ready {
    display: block;
}

.ability-icon img {
    margin: auto 0;
    width: 100%;
}

.ability-cooldown-text {
    text-align: center;
    font-size: 16px;
}

.ability-cooldown-text.active {
    visibility: hidden;
}

.ability-wrapper .ability-info-text {
    display: none;
}

.panel-wrapper {
    width: 320px; /* battle-portriat 합쳐 100% */
}

.status-container.party {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 143px;

    padding: 0 4px;
    border-radius: 5px;
    height: 40px;
    align-content: center;
    display: flex;

    box-shadow: inset 0 0 6px 1px rgba(77,73,72,0.5);
    border: 1px solid #4d4948;
}

.status-container.party .show-status-info-button-wrapper {
    display: flex;
    width: 40px;
    margin-right: 10px;
    align-items: center;
}

.show-status-info-button-wrapper button {
    width: 50px;
}

.status-container.party .status {
    display: flex;
    align-items: center;
}

.status-container.party .status .status-icon {
    display: inline-block;
    width: 28px;
}

/* 어빌리티 백버튼 - 하단메뉴 */
.ability-back-button {

}

/* 어빌리티 모달 */
.ability-info-modal-button {
    display: none;
}

#abilityInfoModal .modal-dialog {
    transition: transform 100ms ease-out;
}

#abilityInfoModal {
}

.ability-info-wrapper {
    display: flex;
}

.ability-info-icon-wrapper {
    width: 12%;
    margin-right: 5%;
}

.ability-info-icon {
    width: 100%;
}

.ability-info-text {
    width: 80%;
}

/* 스테이터스 모달 */
#statusInfoModal .modal-body {
    padding: 0.5rem;
}

.status-info {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    
    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}

.status-info.status-buff {
    background-color: rgba(32,24,22,0.8);
    border-top: 1px #ca7652 solid;
    border-bottom: 1px #ca7652 solid;
}

.status-info.status-debuff {
    background-color: rgba(23,41,31,0.8);
    border-top: 1px #7aaaaa solid;
    border-bottom: 1px #7aaaaa solid;
}

.status-info.incant-attack {
    background-color: rgba(100, 30, 70, 0.8);
    border-top: solid 1px rgb(200, 60, 140);
    border-bottom: solid 1px rgb(200, 60, 140);
}

.status-info.hp-trigger {
    background-color: rgba(100, 100, 100, 0.8);
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
}

.status-info.charge-attack {
    background-color: rgba(100, 100, 30, 0.8);
    border-top: solid 1px rgb(200, 200, 60);
    border-bottom: solid 1px rgb(200, 200, 60);
}

.status-modal-button {
    display: none;
}

.status-info {
    display: flex;
}

.status-info-icon-wrapper {
    width: 7%;
    margin-right: 3%;
}

.status-info-icon {
    width: 100%;
}

.status-info .status-info-text {
    width: 85%;
}

/* 슬라이드 버튼 (주의 #battleMemberPresentContainer 의 자식임) */
.ability-slider-slide-button-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
}

.ability-slider-slide-button-wrapper button {
    font-size: 1.25rem;  /* btn-sm 0.875rem */
    color: white;

    @media (min-width: 600px) {
        font-size: 1.5rem;
    }

}

.ability-slider-slide-button-wrapper.to-right {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.ability-slider-slide-button-wrapper.to-left {
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}


.ability-back-button-wrapper {
    position: absolute;
    z-index: 99;
    bottom: 5px;
    left: 5px;
}

.ability-back-button {
    display: none;
}



