#battleMemberContainer {
    margin: -10px auto 0;
    padding-top: 10px;
    background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/raid/footer_bg.png?1729002592') repeat-x;
}

#abilitySlider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
    width: 100%;
    height: 35vw;
    min-height: 160px;
    max-height: 225px; /* #battleMemberPresentContainer 와 연동 */
}

.ability-panel {
    display: flex;
    width: 100%;
    /*padding: 1rem;*/
    justify-content: space-between;
    color: white;
}

.charge-attack-wrapper {
    /*height: 25%;*/
    padding: 0.25rem;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: inset 0 0 6px 1px rgba(168,132,99,0.5);
    border: 1px solid #a88463;
    margin-bottom: 0.1rem;
}

.charge-attack-info {
    height: 1.5rem;
    font-size: 0.6rem;

    @media (min-width: 600px) {
        font-size: 0.7rem;
    }
}

.charge-attack-info .charge-attack-text {
}

.ability-wrapper {
    display: flex;
    padding: 0.25rem 0;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    margin-bottom: 0.1rem;

    box-shadow: inset 0 0 6px 1px rgba(99,159,168,0.5);
    border: 1px solid #639fa8;
    border-radius: 5px;
    background: #150f0f;
}

.ability-battle-portrait {
    width: 18%;
    min-width: 75px;
    position: relative;
    min-height: 150px;
}

.ability-battle-portrait img {
}

.ability-battle-portrait img {
    width: 100%;
}

.ability-icon {
    position: relative;
    align-content: center;
    width: 15%;
}

.ability-icon .ability-overlay {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 7%;
    left: 0;
}

.ability-icon .ability-overlay.not-ready {
    display: block;
}

.ability-icon img {
    margin: auto 0;
    width: 100%;
}

.ability-cooldown-text {
    text-align: center;
    font-size: 1rem;
}

.ability-cooldown-text.active {
    visibility: hidden;
}

.ability-wrapper .ability-info-text {
    display: none;
}

@media (min-width: 600px) {
    .ability-cooldown-text {
        font-size: 1.3rem;
    }
}

.panel-wrapper {
    width: 80%; /* battle-portriat 합쳐 100 */
}

.status-container.party {
    padding: 0 0.25rem;
    border-radius: 10px;
    height: 25%; /* .ability-wrapper, .charge-attack-wrapper 합쳐 100 */
    align-content: center;
    display: flex;

    box-shadow: inset 0 0 6px 1px rgba(77,73,72,0.5);
    border: 1px solid #4d4948;
}

.status-container.party .show-status-info-button-wrapper {
    display: flex;
    width: 17%;
    align-items: center;
}

.show-status-info-button-wrapper button {
    width: 100%;
}

.status-container.party .status {
    width: 10%;
    display: flex;
    align-items: center;
}

.status-container.party .status .status-icon {
    display: inline-block;
    width: 100%;
}

/* 어빌리티 백버튼 - 하단메뉴 */
.ability-back-button {

}

/* 어빌리티 모달 */
.ability-info-modal-button {
    display: none;
}

#abilityInfoModal .modal-dialog {
    transition: transform 100ms ease-out;
}

#abilityInfoModal {
}

.ability-info-wrapper {
    display: flex;
}

.ability-info-icon-wrapper {
    width: 12%;
    margin-right: 5%;
}

.ability-info-icon {
    width: 100%;
}

.ability-info-text {
    width: 80%;
}

/* 스테이터스 모달 */
#statusInfoModal .modal-body {
    padding: 0.5rem;
}

.status-info {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    
    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}

.status-info.status-buff {
    background-color: rgba(32,24,22,0.8);
    border-top: 1px #ca7652 solid;
    border-bottom: 1px #ca7652 solid;
}

.status-info.status-debuff {
    background-color: rgba(23,41,31,0.8);
    border-top: 1px #7aaaaa solid;
    border-bottom: 1px #7aaaaa solid;
}

.status-modal-button {
    display: none;
}

.status-info {
    display: flex;
}

.status-info-icon-wrapper {
    width: 7%;
    margin-right: 3%;
}

.status-info-icon {
    width: 100%;
}

.status-info .status-info-text {
    width: 85%;
}

/* 슬라이드 버튼 (주의 #battleMemberPresentContainer 의 자식임) */
.ability-slider-slide-button-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
}

.ability-slider-slide-button-wrapper button {
    font-size: 1.25rem;  /* btn-sm 0.875rem */
    color: white;

    @media (min-width: 600px) {
        font-size: 1.5rem;
    }

}

.ability-slider-slide-button-wrapper.to-right {
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

.ability-slider-slide-button-wrapper.to-left {
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}




