#battleMemberContainer {
    background-color: white;
}

#battleMemberPresentContainer {
    width: 100%;
    height: 35vw;
    min-height: 160px;
    max-height: 225px; /* #abilitySlider 와 연동 */
    position: relative;
}

.present-container { /* 이거랑 상위 컨테이너랑 합쳐야 될듯 */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
    position: relative;

    @media (min-width: 600px) {
        padding: 0.5rem 1.5rem;
    }
}

.battle-member-wrapper {
    display: flex;
    width: 80%;
}

.battle-portrait {
    position: relative;
    width: 23%;
    margin-right: 1%;
    min-width: 65px;
    min-height: 130px;
}

.battle-portrait img {
    width: 100%;
}

.charge-gauge-wrapper {
    position: absolute;
    width: 95%;
    padding: 0.25rem;
    bottom: 0.15rem;
    left: 0;
}

.hp-gauge-wrapper {
    position: absolute;
    width: 95%;
    padding: 0.25rem;
    bottom: 1rem;
    left: 0;
}

.charge-gauge-value {
    position: absolute;
    bottom: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    color: white;
}

.hp-gauge-value {
    position: absolute;
    bottom: 3px;
    font-weight: bold;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    color: white;
}


.hp-gauge .progress{
    height: 6px;

    @media (min-width: 600px) {
        height: 7px;
    }
}

.charge-gauge .progress{
    height: 4px;

    @media (min-width: 600px) {
        height: 5px;
    }
}

/* 소환석 */

.summon-button-wrapper {
    width: 19%;
}

.summon-portrait {
    width: 96%;
}

.summon-portrait img{
    width: 100%;
}


.summon-display-button {
    padding: 0;
}

.summon-display-wrapper {
    position: absolute;
    max-width: 441px;
}

.summon-collapse {
    max-width: 441px;
    min-width: 260px; /* 65 * 4 */
}

.summon-list {
    background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/raid/footer_bg.png?1729002592') repeat-x;
    background-size: 3px;
}

.summon-list-item {
    float: left;
    width: 23%;
    height: 100%;
    margin-right: 1%;
    min-height: 130px;
    position: relative;
}

.summon-list-item img {
    width: 100%;
    min-width: 65px;
    min-height: 130px;
}

.summon-cooldown {
    position: absolute;
    bottom: 3%;
    right: 10%;
    color: white;
    font-weight: bold;
}

.summon-list-item.disabled {
    background: rgba(0, 0, 0, 0.5);
}

/* 버튼 */

.button-container {
    color: white;
    display: flex;
    padding: 0.25rem 1.25rem;
    
    @media (max-width: 410px) {
        padding: 0.25rem 0.5rem; /*작은 화면 찌그러짐 방지*/
    }
}

.button-container .form-switch {
    display: flex;
    align-items: center;
}

.button-container .form-switch input {
    margin-top: 0;
    height: 1.2rem;
}

.button-container .form-check-label {
    margin-left: 5px;
}

.show-ability-info-check-wrapper {
    margin-left: 2%;
}

.charge-attack-check-wrapper {
    margin-left: 2%;
}

.ability-back-button-wrapper {
    margin-left: auto;
}