#commandContainer {
    /* 셰이크 효과를 위해 background 에 1px 추가, 마진 패딩 삭제*/
    /*margin: -10px auto 0;*/
    /*padding-top: 12px;*/
    background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/raid/footer_bg.png?1729002592') repeat-x 1px;
}

#commandContainer .value {
    font-family: 'Lusitana', sans-serif;
}

#partyCommandContainer {
    height: 122px; /* 110 + 4 + 4 */
    position: relative;
    padding: 4px 10px;

    display: flex;
}

/*.present-container { !* 이거랑 상위 컨테이너랑 합쳐야 될듯 *!*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 0.25rem 0.75rem;*/
/*    position: relative;*/
/*}*/

.battle-member-wrapper {
    display: flex;
    width: 230px;
    height: 110px;
}

.battle-portrait {
    width: 56px;
    position: relative;
    height: 114px;
    margin-right: 3px;
    align-self: flex-start;
}

.battle-portrait img {
    height: 100%;
}

.hp-gauge-wrapper {
    position: absolute;
    width: 95%;
    padding: 3px;
    top: 85px;
    left: 0;
}

.charge-gauge-wrapper {
    position: absolute;
    width: 95%;
    padding: 3px;
    top: 97px;
    left: 0;
}

.charge-gauge-value {
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    color: white;
}

.hp-gauge-value {
    position: absolute;
    right: 0;
    bottom: 3px;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    color: white;
}


.hp-gauge .progress{
    height: 5px;

    @media (min-width: 600px) {
        height: 6px;
    }
}

.charge-gauge .progress{
    height: 3px;

    @media (min-width: 600px) {
        height: 4px;
    }
}

/* 소환석 */

.summon-button-wrapper {
    position: relative;
    width: 56px;
    height: 114px;
    margin-left: auto;
    justify-items: flex-end;
}

.summon-portrait {
    height: 114px;
}

.summon-portrait img{
    height: 100%;
}


.summon-display-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

.summon-display-wrapper {
    position: absolute;
    width: 240px;
}

.summon-collapse {
    width: 240px;
}

.summon-list {
    background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/raid/footer_bg.png?1729002592') repeat-x;
    background-size: 3px;
    background-position-y: -20px
}

.summon-list-item {
    float: left;
    width: 56px;
    height: 114px;
    margin-right: 3px;
    position: relative;
}

.summon-list-item img {
    height: 100%;
}

.summon-cooldown {
    position: absolute;
    bottom: 3%;
    right: 10%;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.summon-list-item:not(.empty):hover {
    cursor: pointer;
}

.summon-list-item.disabled {
    background: rgba(0, 0, 0, 0.5);
}

/* 추가(advanced) 커맨드*/
.advanced-command-container {
    padding: 0 8px;
}

.advanced-command-container::after {
    content: '';
    display: block;
    clear: both;
}

.advanced-command-container .guard-button-wrapper {
    width: 230px;
    display: flex;
    float: left;
    margin-left: 4px;
}

.guard-button-wrapper .guard-button {
    width: 54px;
    text-align: center;
    margin-left: 4px;
}

.guard-button-wrapper .guard-button:first-child {
    margin-left: 0;
}

.guard-button img {
    width: 90%;
    vertical-align: sub;
}

.fatal-chain-gauge-wrapper{
    width: 65px;
    float: right;
    display: flex;
    align-items: center;
}

.fatal-chain-gauge-label {
    color: white;
    margin-left: -4px;
    padding-right: 2px;
}

.fatal-chain-gauge {
    width: 100%;
    position: relative;
    border-radius: 3px;
}

.fatal-chain-gauge-value {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 13px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    top: -2px;
    right: 3px;
}

.fatal-chain-gauge-info {
    display: none;
}

/* 서브 커맨드 */
.sub-command-container {
    color: white;
    display: flex;
    padding: 8px 8px;
    height: 50px;
    font-size: 14px;
}

.sub-command-container .form-switch {
    display: flex;
    align-items: center;
}

.sub-command-container .form-switch input {
    margin-top: 0;
    height: 18px;
}

.sub-command-container .form-check-label {
    margin-left: 4px;
}

.show-ability-info-check-wrapper {
    margin-left: 4px;
    font-size: 14px;
}

.charge-attack-check-wrapper {
    margin-left: 4px;
}
