/* bootstrap override ================================================================================================ */
#container .progress-bar {
    transition-duration: 1s; /* 0.6s */
}

#container .progress {
    border-radius: 0.1rem; /* 0.375rem */
}

/* 기본 ================================================================================================================ */
body {
    font-family: 'PretendardVariable', Pretendard, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

#container {
    position: relative;
    width: 320px;
    min-height: 600px;
    margin: 1rem 0;
}

#container.deActivated {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

/* 요소 사이즈 ======================================================================================================== */
body .button-xsm {
    /* button 적용 후에 적용할것 */
    padding: 3px 2px;
    font-size: 0.6rem;

    @media (min-width: 640px) {
        font-size: 0.7rem;
    }
}

body .font-sm {
    font-size: 0.7rem;
    @media (min-width: 640px) {
        font-size: 0.8rem;
    }
}

body .font-xsm {
    font-size: 0.6rem ;
    @media (min-width: 640px) {
        font-size: 0.7rem ;
    }
}

body .font-xxsm {
    font-size: 0.4rem;
    @media (min-width: 640px) {
        font-size: 0.6rem ;
    }
}


/* 오버레이 ============================================================================================================ */
.command-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* 쿨다운 활성화 상태 */
.command-overlay.not-ready {
    display: block;
    cursor: default;
    background-color: black;
    opacity: 0.5;
    z-index: 999;
}

/* 사용불가 활성화 상태 (기본적으로 쿨다운 상태와 동일) */
.command-overlay.none-usable {
    display: block;
    cursor: default;
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}

/* 사용 불가시 금지 사선 추가 */
.command-overlay.none-usable::before {
    content: '';
    position: absolute;
    left: 47%;
    top: 0;
    opacity: 1;
    width: 3px;
    height: 100%;
    background-color: red;
    transform: rotate(45deg);
}

/* 효과 ============================================================================================================== */

/* 깜빡이기 */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
.blinking-element {
    animation: blink 1.5s infinite;
}

/* 버튼 클릭 */
.button-click {
    transform-origin: center;
    animation: button-click 0.1s;
}
@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/* 흔들기 */
@keyframes shake-left { /* 레퍼런스 */
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(1px); }
    100% { transform: translateX(0); }
}

@keyframes shake-right { /* 레퍼런스 */
    0% { transform: translateX(0); }
    25% { transform: translateX(2px); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}

@keyframes push-left-down { /* 왼쪽 아래로 밀기 - 공격 */
    0% { transform: translate(0, 0); }
    50% { transform: translate(-1px, 0px); }
    100% { transform: translate(0, 0); }
}

@keyframes push-right-down { /* 오른쪽 아래로 밀기 - 피격 */
    0% { transform: translate(0, 0); }
    50% { transform: translate(1px, 0px); }
    100% { transform: translate(0, 0); }
}

.shake-left-effect {
    animation: shake-left 0.25s ease-out;
}

.shake-right-effect {
    animation: shake-right 0.25s ease-out;
}

.shake-left-effect-short {
    animation: shake-left 0.15s ease-out;
}

.push-left-down-effect {
    animation: push-left-down 0.1s ease-out;
    animation-iteration-count: 1;
}

.push-right-down-effect {
    animation: push-right-down 0.1s ease-out;
    animation-iteration-count: 1;
}
