body {
    font-family: 'NanumSquareRound', sans-serif;
}

body, html {
    min-width: 360px;
    height: 100%;
}


#container {
    position: relative;
    margin: 1rem auto 0;
}

.battle-canvas {
    min-width: 100%; /* 100vw 하면 넘어감 */
    max-width: 100%;
    height: 96vw; /* body 넓이와 근사값 (100vw 하니까 넘어감 왠진 모름) */
    min-height: 360px; /* body 의 min-width 와 동일 */
    overflow: hidden;
}

#battleMemberContainer {
    min-width: 100%;
    max-width: 100%;
}

#videoContainer, #damageContainer, .container-bg {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 600px) {
    .battle-canvas{
        min-width: 600px;
        min-height: 600px;
        max-width: 600px;
        max-height: 600px;
    }

    #battleMemberContainer {
        min-width: 600px;
        max-width: 600px;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

body .button-xsm {
    /* button 적용 후에 적용할것 */
    padding: 0.25rem 0.25rem;
    font-size: 0.7rem;

    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}

body .font-sm {
    font-size: 0.8rem;
    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}

body .font-xsm {
    font-size: 0.7rem ;
    @media (min-width: 600px) {
        font-size: 0.8rem ;
    }
}

body .font-xxsm {
    font-size: 0.5rem;
    @media (min-width: 600px) {
        font-size: 0.7rem ;
    }
}