.damage-wrapper .element-type-fire {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #faf5ed 35%, #f0ada2 55%, #d06556);
    -webkit-text-stroke: 1px #5f281b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-water {
    letter-spacing: -0.025em;
    background: linear-gradient(to bottom, #e1feff 35%, #88cffb 55%, #60bbf8);
    -webkit-text-stroke: 1px #2d67a2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-wind {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #f4fce9 35%, #b8e6a2 55%, #85c072);
    -webkit-text-stroke: 1px #2c7e25;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-earth {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #f8f4e7 35%, #d1b58e 55%, #bc9970);
    -webkit-text-stroke: 1px #53351e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-light {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #fefdee 35%, #fcf4a8 55%, #f1c758);
    -webkit-text-stroke: 1px #8a651c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-dark {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #fbfaff 35%, #dbd5fa 55%, #b593dd);
    -webkit-text-stroke: 1px #4d3768;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .element-type-none {
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, #fbf5f0 35%, #e0daca 55%, #e1dbcb);
    -webkit-text-stroke: 1px #55443e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.damage-wrapper .heal {
    background: linear-gradient(to bottom, #ebe9e0 35%, #2c8626 55%, #ebe9e0 85%) !important;
    -webkit-text-stroke: 1px #0f280c !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 600;
    z-index: 40; /* status effect 39 보다 높게 */
}

.damage-wrapper .damage-miss {
    background: linear-gradient(to bottom, #fbf5f0 35%, #e0daca 55%, #e1dbcb) !important;
    -webkit-text-stroke: 1px #55443e !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 35px !important; /* miss 는 약간 작게 */
}

.damage-wrapper.enemy .damage-miss {
    background: linear-gradient(to bottom, #fbf5f0 35%, #e0daca 55%, #e1dbcb) !important;
    -webkit-text-stroke: 1px #55443e !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 20px !important;
}


.damage-wrapper .additional-damage-wrapper.damage-miss {
    display: none !important;
}

/* 아군 통상공격 데미지 */
.damage-wrapper.attack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.attack-damage {
    position: absolute;
    z-index: 29;
    opacity: 0;
    font-weight: 600;
    font-size: 53px;
    line-height: 53px;
}

.damage-wrapper.attack.party .damage-index-0 {
    top: 50%;
    left: 0;
}
.damage-wrapper.attack.party .damage-index-0.multi-1 {top: 40%; left: 0;}
.damage-wrapper.attack.party .damage-index-0.multi-2 {top: 30%; left: 0;}
.damage-wrapper.attack.party .damage-index-0.multi-3 {top: 20%; left: 0;}
.damage-wrapper.attack.party .damage-index-0.multi-4 {top: 10%; left: 0;}
.damage-wrapper.attack.party .damage-index-0.multi-5 {top: 0; left: 0;}

.damage-wrapper.attack.party .damage-index-1 {
    top: 40%;
    left: 17%;
}
.damage-wrapper.attack.party .damage-index-1.multi-1 {top: 30%; left: 17%;}
.damage-wrapper.attack.party .damage-index-1.multi-2 {top: 20%; left: 17%;}
.damage-wrapper.attack.party .damage-index-1.multi-3 {top: 10%; left: 17%;}
.damage-wrapper.attack.party .damage-index-1.multi-4 {top: 0; left: 17%;}
.damage-wrapper.attack.party .damage-index-1.multi-5 {top: -10%; left: 17%;}

.damage-wrapper.attack.party .damage-index-2 {
    top: 30%;
    left: 34%;
}
.damage-wrapper.attack.party .damage-index-2.multi-1 {top: 20%; left: 34%;}
.damage-wrapper.attack.party .damage-index-2.multi-2 {top: 10%; left: 34%;}
.damage-wrapper.attack.party .damage-index-2.multi-3 {top: 0; left: 34%;}
.damage-wrapper.attack.party .damage-index-2.multi-4 {top: -10%; left: 34%;}
.damage-wrapper.attack.party .damage-index-2.multi-5 {top: -20%; left: 34%;}

.additional-damage-wrapper {
    position: absolute;
    visibility: hidden;
    font-weight: 600;
    font-size: 53px;
    line-height: 53px;
}

.additional-damage {
    opacity: 0;
    visibility: visible;
    font-size: 85%; /* .attack-damage 의 85% */
    line-height: 85%;
}

.additional-damage:nth-child(1) {
    position: absolute;
    top: -40%;
    left: 30%;
    z-index: 28;
}

.additional-damage:nth-child(2) {
    position: absolute;
    top: -80%;
    left: 35%;
    z-index: 27;
}

.additional-damage:nth-child(3) {
    position: absolute;
    top: -120%;
    left: 40%;
    z-index:26;
}

.additional-damage:nth-child(4) {
    position: absolute;
    top: -160%;
    left: 45%;
    z-index: 25;
}

.additional-damage:nth-child(5) {
    position: absolute;
    top: -210%;
    left: 50%;
    z-index: 24;
}

/* 아군 어빌리티 데미지 */
.damage-wrapper.ability {
    position: absolute;
    width: 100%;
    height: 125%; /* 어빌리티는 연타 데미지가 많을수 있으므로 약간 더 크게 */
    top: -25%;
    left: 10%;
    align-content: center;
}

.ability-damage {
    z-index: 29;
    position: relative;
    opacity: 0; /* display none 하면 동적으로 요소 넣을떄마다 중앙위치가 변경되어 opacity 로 조절 */
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    margin-bottom: -15px;
}

/* 아군 오의 데미지 */
.damage-wrapper.charge-attack {
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;
    align-content: center;
    z-index: 29;
}

.charge-attack-damage {
    position: relative;
    opacity: 0; /* display none 하면 동적으로 요소 넣9을떄마다 중앙위치가 변경되어 opacity 로 조절 */
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

/* 적의 데미지 */
.enemy-damage-wrapper {
    /*position: absolute;*/
}

.damage-wrapper.enemy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 10%;
    z-index: 29;
}

.attack-damage.enemy {
    position: absolute;
    opacity: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    /*text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.additional-damage-wrapper.enemy {
    position: absolute;
    visibility: hidden;
    z-index: 28;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
}

/* 적 공격은 난격 없이 본격-추격-본격-추격-.... */
/* 1타 (기본, 스타일 없음) */

/* 2 타 */
.damage-wrapper.enemy.actor-1 .attack-damage.enemy:nth-child(8n + 3),
.damage-wrapper.enemy.actor-1 .additional-damage-wrapper.enemy:nth-child(8n + 4),
.damage-wrapper.enemy.actor-2 .attack-damage.enemy:nth-child(8n + 3),
.damage-wrapper.enemy.actor-2 .additional-damage-wrapper.enemy:nth-child(8n + 4),
.damage-wrapper.enemy.actor-3 .attack-damage.enemy:nth-child(8n + 3),
.damage-wrapper.enemy.actor-3 .additional-damage-wrapper.enemy:nth-child(8n + 4),
.damage-wrapper.enemy.actor-4 .attack-damage.enemy:nth-child(8n + 3),
.damage-wrapper.enemy.actor-4 .additional-damage-wrapper.enemy:nth-child(8n + 4)
{
    margin-top: -6px;
}

/* 3 타 */
.damage-wrapper.enemy.actor-1 .attack-damage.enemy:nth-child(8n + 5),
.damage-wrapper.enemy.actor-1 .additional-damage-wrapper.enemy:nth-child(8n + 6),
.damage-wrapper.enemy.actor-2 .attack-damage.enemy:nth-child(8n + 5),
.damage-wrapper.enemy.actor-2 .additional-damage-wrapper.enemy:nth-child(8n + 6),
.damage-wrapper.enemy.actor-3 .attack-damage.enemy:nth-child(8n + 5),
.damage-wrapper.enemy.actor-3 .additional-damage-wrapper.enemy:nth-child(8n + 6),
.damage-wrapper.enemy.actor-4 .attack-damage.enemy:nth-child(8n + 5),
.damage-wrapper.enemy.actor-4 .additional-damage-wrapper.enemy:nth-child(8n + 6)
{
    margin-top: -12px;
}

/* 4 타, 5타부터 다시 1타 사용*/
.damage-wrapper.enemy.actor-1 .attack-damage.enemy:nth-child(8n + 7),
.damage-wrapper.enemy.actor-1 .additional-damage-wrapper.enemy:nth-child(8n + 8),
.damage-wrapper.enemy.actor-2 .attack-damage.enemy:nth-child(8n + 7),
.damage-wrapper.enemy.actor-2 .additional-damage-wrapper.enemy:nth-child(8n + 8),
.damage-wrapper.enemy.actor-3 .attack-damage.enemy:nth-child(8n + 7),
.damage-wrapper.enemy.actor-3 .additional-damage-wrapper.enemy:nth-child(8n + 8),
.damage-wrapper.enemy.actor-4 .attack-damage.enemy:nth-child(8n + 7),
.damage-wrapper.enemy.actor-4 .additional-damage-wrapper.enemy:nth-child(8n + 8)
{
    margin-top: -18px;
}


.damage-show {
    animation: damage-show 1.2s linear forwards;
    /*animation: damage-pop 1s cubic-bezier(.71,.55,.62,1.57) forwards;*/
}

.party-attack-damage-show {
    animation: party-attack-damage-show 1.2s linear forwards;
}

.party-additional-damage-show {
    animation: party-additional-damage-show 1.2s linear forwards;
}

.party-charge-attack-damage-show {

}

@keyframes party-attack-damage-show { /* 50 + 200 + 200 + 600 + 150, 1200*/
    0% {
        opacity: 1;
        transform: scale(1.3);
    }
    /*4% {*/
    /*    opacity: 1;*/
    /*    transform: scale(1.4);*/
    /*}*/
    21% {
        transform: scale(1.3);
    }
    38% {
        transform: scale(1.0);
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes party-additional-damage-show { /* 50 + 200 + 200 + 600 + 150, 1200*/
    0% {
        opacity: 1;
        transform: scale(1.1);
    }
    /*4% {*/
    /*    opacity: 1;*/
    /*    transform: scale(1.1);*/
    /*}*/
    21% {
        transform: scale(1.1);
    }
    38% {
        transform: scale(1.0);
    }
    87% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes damage-show {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    3% {
        opacity: 1;
        transform: scale(1.6);
    }
    20% {
        transform: scale(1.0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ability-damage-show {
    animation: ability-damage-show 0.9s linear forwards;
}

.multiple-ability-damage-show {
    animation: multiple-ability-damage-show 0.9s linear forwards;
}

.enemy-damage-show {
    animation: enemy-damage-show 1s linear forwards;
}

.heal-show {
    animation: enemy-damage-show 0.7s linear forwards;
}

.turn-damage-show {
    animation: multiple-damage-show 0.7s linear forwards;
}

@keyframes multiple-ability-damage-show { /* 50 + 100 + 100 + 500 + 150 900*/
    0% {
        opacity: 1;
        transform: scale(1.1);
    }
    /*5% {*/
    /*    opacity: 1;*/
    /*    transform: scale(1.1);*/
    /*}*/
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    28% {
        opacity: 1;
        transform: scale(1.0);
    }
    83% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30%);
    }
}

@keyframes ability-damage-show { /* 50 + 100 + 100 + 500 + 150 */
    0% {
        opacity: 1;
        transform: scale(1.4);
    }
    /*5% {*/
    /*    opacity: 1;*/
    /*    transform: scale(1.4);*/
    /*}*/
    17% {
        opacity: 1;
        transform: scale(1.4);
    }
    28% {
        opacity: 1;
        transform: scale(1.2);
    }
    83% {
        opacity: 1;
        transform: scale(1.2) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.2) translateY(30%);
    }
}

@keyframes enemy-damage-show {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    3% {
        opacity: 1;
        transform: scale(1.4);
    }
    10% {
        opacity: 1;
        transform: scale(1.0);
    }
    92% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30%);
    }
}
