#damageContainer .element-type-fire {
    color: red;
}
#damageContainer .element-type-water {
    color: cyan;
}
#damageContainer .element-type-wind {
    color: lightgreen;
}
#damageContainer .element-type-earth {
    color: saddlebrown;
}
#damageContainer .element-type-light {
    color: gold;
}
#damageContainer .element-type-dark {
    color: rebeccapurple;
}

/* 아군 통상공격 데미지 */
.attack-damage-wrapper {
    /* posotion static -> attack-damage 를 damageContainer 기준으로배치 */
}

.damage {
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    /*text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.attack-damage {
    position: absolute;
    opacity: 0;
}

.attack-damage-wrapper .attack-damage:nth-child(1) {
    top: 70%;
    left: 10%;
}

.attack-damage-wrapper .attack-damage:nth-child(2) {
    top: 55%;
    left: 10%;
}

.attack-damage-wrapper .attack-damage:nth-child(3) {
    top: 40%;
    left: 10%;
}

.additional-damage {
    font-size: 85%; /* .attack-damage 의 85% */
    line-height: 90%;
}

.additional-damage:nth-child(1) {
    position: absolute;
    top: -30%;
    left: 25%;
    z-index: -1;
}

.additional-damage:nth-child(2) {
    position: absolute;
    top: -70%;
    left: 30%;
    z-index: -2;
}

.additional-damage:nth-child(3) {
    position: absolute;
    top: -110%;
    left: 35%;
    z-index: -3;
}

.additional-damage:nth-child(4) {
    position: absolute;
    top: -150%;
    left: 40%;
    z-index: -4;
}

.additional-damage:nth-child(5) {
    position: absolute;
    top: -200%;
    left: 45%;
    z-index: -5;
}

/* 아군 어빌리티 데미지 */
.ability-damage-wrapper {
    position: absolute;
    width: 120px;
    top: 20%;
    left: 10%;
    height: 70%;
    align-content: center;
}

.ability-damage {
    z-index: 1;
    opacity: 0; /* display none 하면 동적으로 요소 넣을떄마다 중앙위치가 변경되어 opacity 로 조절 */
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: -27%; /* 부모 120px, 마진타겟 약 30px*/
}

/* 아군 오의 데미지 */
.charge-attack-damage-wrapper {
    position: absolute;
    top: 55%;
    left: 5%;
    align-content: center;
}

.charge-attack-damage {
    opacity: 0; /* display none 하면 동적으로 요소 넣을떄마다 중앙위치가 변경되어 opacity 로 조절 */
    color: white;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* 적의 데미지 */
.enemy-damage-wrapper {
    /*position: absolute;*/
}

.enemy-attack-damage.actor-1 {
    top: 34%;
    right: 13%;
}

.enemy-attack-damage.actor-2 {
    top: 47%;
    right: 4%;
}

.enemy-attack-damage.actor-3 {
    top: 60%;
    right: 13%;
}

.enemy-attack-damage.actor-4 {
    top: 73%;
    right: 4%;
}

.enemy-attack-damage {
    position: absolute;
    opacity: 1;
    color: white;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    /*text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.enemy-attack-damage .additional-damage {
    /*transform: translateY(-50%);*/
}