/* 공통 ============================================================================================================= */
#modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    z-index: -1; /* 로드 후 9999 로 변경됨 */
}

#modalContainer .modal,
#modalContainer .modal-backdrop { position: absolute !important; }
#modalContainer .modal {inset: 0}

#modalContainer .modal-dialog {
    width: 80%;
    left: 10%;
    margin: 0;
}

.modal-body hr {
    margin: 10px 0;
}

.modal-content {
    background-color: #150f0f;
    opacity: 0.9;
    color: white;
}

.modal-header {
    padding: 5px 10px;
}

.modal-header .modal-title {
    font-size: 15px;
}

.modal-body {
    padding: 10px 7px;
}

.modal-footer {
    padding: 5px 5px;
}

/* 어빌리티 모달 ======================================================================================================== */
.ability-info-modal-button {
    display: none;
}

#abilityInfoModal .modal-dialog {
    transition: transform 100ms ease-out;
}

#abilityInfoModal {
}

.ability-info-wrapper {
    display: flex;
}

.ability-info-icon-wrapper {
    width: 13%;
    margin-right: 4%;
}

.ability-info-text-wrapper {
    width: 82%;
}

.ability-info-text-wrapper h5 { /* 어빌리티 이름 */
    font-size: 13px;
    margin-bottom: 5px;
}

.ability-info-text-wrapper .row>*{
    padding-right: 0;
}

.ability-info-text-wrapper .do-union-summon-check-wrapper {
    font-size: 11px;
}

.ability-info-text-wrapper .ability-info-text {
    font-size: 11px;
}

.ability-info-icon {
    width: 100%;
}

/* 스테이터스 모달 ===================================================================================================== */
#statusInfoModal .modal-body {
    padding: 5px;
}

.status-info-wrapper {
    text-align: center;
}

.status-info-wrapper .estimated-atk-wrapper {
    font-size: 11px;
}

.status-info-wrapper #enemyEstimatedAtkCollapse {
    font-size: 10px;
}

.status-info-wrapper .actor-name {
    font-size: 14px;
}

.status-info {
    padding: 4px 3px;
    font-size: 9px;
    line-height: 1.2;
}

.status-info .status-name {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 1.5;
}

.status-info.status-buff {
    background-color: rgba(32,24,22,0.8);
    border-top: 1px #ca7652 solid;
    border-bottom: 1px #ca7652 solid;
}

.status-info.status-debuff {
    background-color: rgba(23,41,31,0.8);
    border-top: 1px #7aaaaa solid;
    border-bottom: 1px #7aaaaa solid;
}

.status-info.incant-attack {
    background-color: rgba(100, 30, 70, 0.8);
    border-top: solid 1px rgb(200, 60, 140);
    border-bottom: solid 1px rgb(200, 60, 140);
}

.status-info.hp-trigger {
    background-color: rgba(100, 100, 100, 0.8);
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
}

.status-info.charge-attack {
    background-color: rgba(100, 100, 30, 0.8);
    border-top: solid 1px rgb(200, 200, 60);
    border-bottom: solid 1px rgb(200, 200, 60);
}

.status-modal-button {
    display: none;
}

.status-info {
    display: flex;
}

.status-info.omen {
    display: block;
}

.status-info-icon-wrapper {
    width: 8%;
    margin-right: 1%;
}

.status-info-icon {
    width: 100%;
}

.status-info .status-info-text {
    position: relative;
    width: 90%;
}

.status-info .status-info-duration {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}


/* 포션 모달 ========================================================================================================== */
.potion-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.potion-icon-wrapper {
    position: relative;
    padding: 5px;
    width: 95px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

#potionModal .potion-overlay {
    height: 75%;
}

.potion-icon-wrapper.selected {
    border: 2px solid yellow;
}

.potion-icon-wrapper img {
    width: 100%;
}

.potion-detail-container {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.potion-info {}

.potion-target-radio-container {
    display: none;
    margin-top: 10px;
}

#potionModal .modal-footer {
    margin-top: 10px;
}

/* 메뉴 모달 ========================================================================================================== */

#menuModal .modal-body {
    font-size: 12px;
}

