/* 공통 */
.status-effect {
    position: relative;
    opacity: 0; /* display: none 으로 하면 역순으로 fadeIn() 할때 레이아웃 드득거림 */
    text-wrap: nowrap;
    color: white;
}

.status-effect.none .status-effect-text { /* MISS */
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.status-effect-text.none-icon {
    color: var(--bs-highlight-bg) !important;
}

/* 아군 ============================================================================================================== */
.status-effect-wrapper.party {
    /*text-align: right;*/
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
    z-index: 39;
}

#actorContainer>.actor-2 .status-effect-wrapper.party,
#actorContainer>.actor-4 .status-effect-wrapper.party{
    right: 8px;
}

.status-effect-wrapper.party .status-effect {
    margin-top: -8px;
}

.status-effect.buff {
    color: yellow;
}

.status-effect.debuff {
    color: skyblue;
}

.status-effect.none {
    color: #BBB;
}

.status-effect-wrapper.party .status-effect-index-0 {
    margin-top: 0;
}

.status-effect-wrapper.party .status-effect img {
    display: inline-block;
    width: 23px;
}

.status-effect-wrapper.party .status-effect-text {
    font-size: 15px;
    margin-left: -2px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* 적 ================================================================================================================= */
.status-effect-wrapper.enemy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    z-index: 39;
}

.status-effect-wrapper.enemy .status-effect {
    margin-top: -8px;
}

.status-effect-wrapper.enemy .status-effect img {
    display: inline-block;
    width: 25px;
}

.status-effect-wrapper.enemy .status-effect-text {
    font-size: 16px;
    margin-left: -3px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

