/* 공통 */
.status-effect {
    opacity: 0; /* display: none 으로 하면 역순으로 fadeIn() 할때 레이아웃 드득거림 */
    text-wrap: nowrap;
}

/* 적 */
.status-effect-container.enemy {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 25%;
    left: 5%;
    align-content: center;
}

.status-effect-container.enemy .status-effect {
    margin-top: -2%;
}

.status-effect-container.enemy .status-effect img {
    display: inline-block;
    vertical-align: bottom;
    width: 16%;
    max-width: 40px;
}

.status-effect-container.enemy .status-effect-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-indent: -16px;
}

.status-effect-text.none-icon {
    color: var(--bs-highlight-bg) !important;
}

/* 아군 */
.status-effect-container.party {
    text-align: right;
    position: absolute;
    width: 50%;
    height: 60%;
}

.status-effect-container.party .status-effect {
    margin-top: -4%;
}

.status-effect-container.party .status-effect img {
    display: inline-block;
    vertical-align: bottom;
    width: 13%;
    max-width: 35px;
}

.status-effect-container.party .status-effect-text {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.status-effect-container.actor-1 {
    top: 35%;
    right: 8%;
}

.status-effect-container.actor-2 {
    top: 49%;
    right: 3%;
}

.status-effect-container.actor-3 {
    top: 65%;
    right: 8%;
}

.status-effect-container.actor-4 {
    top: 81%;
    right: 3%;
}