.enemy-info-container {
    position: absolute;
    width: 85%;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 5px 0;
}

.hp-container.enemy .value-hp {
    color: white;
    width: 45px;
    font-size: 14px;
    align-content: center;
    font-weight: bold;
    text-indent: 5px;
}

.hp-container.enemy .hp-bar {
    border: solid 1px grey;
    position: relative;
    background-color: transparent;
    height: 16px;
}

/* 트리거 hp 강조 */
.hp-container.enemy .progress .hp-trigger {
    position: absolute;
    background-color: yellow;
    left: 25%;
    height: 16px;
    width: 3px;
}

.status-container.enemy {
    display: flex;
    position: absolute;
    top: 3px; /* .enemy-info-container 의 상하 padding 에 맞춰 살짝 작게 */
    left: 45px;
    width: 280px; /* 18 * 15 + 10*/
}

.status-container .show-status-info-button-wrapper.enemy {
    position: absolute;
    opacity: 0;
    width: 100%; /*부모 동일*/
}

.status-container.enemy .status {
    width: 18px;
}

.status-container.enemy .status img{
    width: 100%;
}

/* 하단 - CT, 전조 */

.status-enemy-bottom-wrapper {
    display: flex;
}

.charge-turn-container {
    padding: 4px 4px;
    display: flex;
}

.charge-turn-container .charge-turn {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    border: 2px solid darkred;
    background-color: dimgrey;
    margin-right: 3px;
}

.omen-container {
    margin-left: auto;

    /* TODO 테스트용 */
    /*position: absolute;*/
    /*top: 50px;*/
}

.omen-text {
    color: black;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 3px;
    margin-top: 3px;
    border-radius: 5px;
}

.omen-text.charge-attack {
    background-color: rgba(255, 243, 205, 0.8);
}

.omen-text.incant-attack {
    background-color: rgba(255, 205, 243, 0.8);
}

.omen-text.hp-trigger{
    background-color: rgba(255, 255, 255, 0.8);
}

.charge-turn.active {
    background-color: gold;
}

/* 하단 전조 표시 */
#container .omen-container-bottom {
    position: absolute;
    left: 10%;
    top: 80%; /* bottom 말고 top 오버라이딩 */
    z-index: 1;
}

.omen-container-bottom .omen-text {
    font-size: 11px;
}

.omen-container:not(.activated) {
    display: none;
}