.enemy-info-container {
    position: absolute;
    width: 80%;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 5px 0;
}

.hp-container.enemy .value-hp {
    color: white;
    width: 13%;
    font-size: 0.9rem;
    align-content: center;
    font-weight: bold;
    text-indent: 0.25rem;

    @media (min-width: 600px) {
        font-size: 1rem;
        width: 12%;
    }
}

.hp-container.enemy .hp-bar {
    border: solid 1px grey;
    position: relative;
    background-color: transparent;
    height: 1.2rem;
}

/* 트리거 hp 강조 */
.hp-container.enemy .progress .hp-trigger {
    position: absolute;
    background-color: yellow;
    left: 25%;
    height: 10px;
    width: 0.7vw;
    min-width: 3px;
}

.status-container.enemy {
    display: flex;
    position: absolute;
    top: 3px; /* .enemy-info-container 의 상하 padding 에 맞춰 살짝 작게 */
    left: 13%;
    width: 91%; /* .value-hp 와 합쳐서 110 정도 */
}

.status-container .show-status-info-button-wrapper.enemy {
    position: absolute;
    opacity: 0;
    width: 100%;
}

.status-container.enemy .status {
    width: 5.5%;

    @media (min-width: 600px) {
        width: 5%;
    }
}

.status-container.enemy .status img{
    width: 100%;
}

/* 하단 - CT, 전조 */

.status-enemy-bottom-wrapper {
    display: flex;
}

.charge-turn-container {
    padding: 0.25rem 0.5rem 0.25rem;
    display: flex;
}

.charge-turn-container .charge-turn {
    border-radius: 100%;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid darkred;
    background-color: dimgrey;
    margin-right: 0.2rem;
    
    @media (min-width: 600px) {
        width: 0.9rem;
        height: 0.9rem;
    }
}

.omen-container {
    margin-left: auto;

    /* TODO 테스트용 */
    /*position: absolute;*/
    /*top: 50px;*/
}

.omen-text {
    color: black;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
    margin-top: 0.2rem;
    border-radius: 5px;

    @media (min-width: 600px) {
        font-size: 0.8rem;
        padding: 0.15rem 0.4rem;
    }
}

.omen-text.charge-attack {
    background-color: rgba(255, 243, 205, 0.8);
}

.omen-text.incant-attack {
    background-color: rgba(255, 205, 243, 0.8);
}

.omen-text.hp-trigger{
    background-color: rgba(255, 255, 255, 0.8);
}

.charge-turn.active {
    background-color: gold;
}

/* 하단 전조 표시 */
#container .omen-container-bottom {
    position: absolute;
    left: 5%;
    top: 90%; /* bottom 말고 top 오버라이딩 */
    z-index: 1;
}

.omen-container:not(.activated) {
    display: none;
}