#battleCanvasTopMenu {
    height: 30px;
}

.top-menu-container {
    position: relative;
    z-index: 100;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
    border-bottom: 2px lightgrey solid;
    color: lightgrey;
}


.top-menu-button-wrapper {
    height: 100%;
}

.top-menu-container .btn {
    height: 100%;
    line-height: 100%;
    border-radius: 0;
}