#battleCanvasTopMenu {
    height: 25px;
}

.top-menu-container {
    position: relative;
    z-index: 100;
    height: 100%;
    font-size: 15px;

    background-color: #050606;
    color: lightgrey;
}

.top-menu-container .btn {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}
