video {
    width: 100%;
    height: 100%;
}

video.left-hidden {
    left: -100%;
}

#videoContainer .attack.large, #videoContainer .ability.large {
    width: 125%;
    height: 120%;
    top: 0;
    left: -5%;
}

#actorContainer>.enemy {
    position: absolute;
    width: 135px;
    height: 185px;
}

#actorContainer>.actor-0 {
    top: 103px;
    left: 21px;
}

#actorContainer>.party {
    position: absolute;
    width: 74px;
    height: 98px;
}

#actorContainer>.party.actor-1 {
    top: 111px;
    left: 205px;
}

#actorContainer>.party.actor-2 {
    top: 148px;
    left: 246px;
}

#actorContainer>.party.actor-3 {
    top: 185px;
    left: 205px;
}

#actorContainer>.party.actor-4 {
    top: 222px;
    left: 246px;
}

/*#videoContainer .charge-attack.large {*/
/*    width: 110%;*/
/*    height: 110%;*/
/*    top: 10%;*/
/*    right: -10%;*/
/*}*/

.hidden {
    visibility: hidden;
}

.enemy-video {
    position: absolute;
    z-index: 5;
}

.enemy-video.attack, .enemy-video.charge-attack, .enemy-video.standby, .enemy-video.break {
    z-index: 5;
}

/* 아군 ============================================================== */

.party-video-container .party-video.for-test {
    width: 125%;
    right: 0;
}


.party-video {
    position: absolute;
    width: 85%;
}

.party-video.attack.motion { /* 공격모션 크기 보정 */
    width: 85%;
    top: 10%;
    right: 10%;
}

#videoContainer .party-video-container .attack.effect:not(.large) { /* 모션 있는 공격 이펙트 크기 보정*/
    width: 99%;
    top: 5%;
    left: 0;
}

.party-video.motion:not(.idle) {
    z-index: 5;
}

.party-video-container .party-1 video {
    top: -1%;
    right: 2%;
    z-index: 1;
}

.party-video-container .party-2 video {
    top: 10%;
    right: -9%;
    z-index: 2;
}

.party-video-container .party-3 video {
    top: 21%;
    right: 2%;
    z-index: 3;
}

.party-video-container .party-4 video {
    top: 32%;
    right: -9%;
    z-index: 4;
}

.party-video-container .effect:not(.damaged) {
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}


.summon-video {
    position: absolute;
    z-index: -999; /* 숨겨져 있을땐 맨 뒤로 */
}

.summon-video:not(.hidden) {
    z-index: 5;
}


.global-video {
    position: absolute;
}

.global-video:not(.hidden) {
    z-index: 5;
}


.global-video.enemy-charge-attack-start {
    width: 130%;
    height: 130%;
    top: -23%;
    left: -10%;
}

.global-video .fatal-chain-video {
    width: 100%;
    height: 100%;
    z-index: 5;
}

/* 캐릭터별 글로벌 이펙트 */ /* 300 * 500 */
.global-effect-video-wrapper {
    position: absolute;
    width: 40%;
    height: 50%;
    z-index: 5;
    text-align: center;
}

.global-effect-video-wrapper .global-effect-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.global-effect-video-wrapper.actor-0 {
    top: -22%;
    left: -37%;
    width: 130%;
    height: 130%;
}

.global-effect-video-wrapper.actor-1 {
    top: 20%;
    right: 3%;
}

.global-effect-video-wrapper.actor-2 {
    top: 31%;
    right: -9%;
}

.global-effect-video-wrapper.actor-3 {
    top: 42%;
    right: 3%;
}

.global-effect-video-wrapper.actor-4 {
    top: 53%;
    right: -9%;
}

#actorContainer>.party .guard-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#actorContainer>.party .guard-status-image {
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 32%;
    left: 28%;
    width: 55%;
}

#actorContainer>.party .guard-status-effect {
    opacity: 0;
    position: absolute;
    top: 28%;
    left: 23%;
    border-radius: 50%;
    margin: 15px 15px;
    z-index: 2;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 9px 9px rgba(255, 255, 255, 0.7); /* x, y, blur, spread, color */
}

#actorContainer>.party .guard-status.guard-on-processing .guard-status-image {
    opacity: 0.5; /* 턴진행 이펙트 처리중에는 연하게 */
}

#actorContainer>.party .guard-status.guard-on .guard-status-image {
    animation: guard-on-effect 0.5s forwards;
}

#actorContainer>.party .guard-status.guard-on .guard-status-effect {
    animation: guard-status-effect 1.5s infinite alternate;
}

@keyframes guard-on-effect {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    3% {
        opacity: 1;
        transform: scale(1.4);
    }
    20% {
        transform: scale(1.0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes guard-status-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 로딩 */
.waiting-video-container {
    position: absolute;
    visibility: hidden;
    z-index: 999;
    width: 90px;
    top: 70px;
}

.waiting-video {
    width: 100%;
}


/* 기타 */
.global-image-container {
    position: absolute;
    width: 100%;
}






