video {
    width: 100%;
}

.enemy-video {
    position: absolute;
    z-index: -10;
}

.enemy-video-container video:is(.attack, .charge-attack, .standby, .idle) {
    z-index: 0;
}

.party-video {
    position: absolute;
    width:77%;
}

.party-video-container .party-1 video {
    top: 8%;
    right: 3%;
    z-index: -4;
}

.party-video-container .party-2 video {
    top: 21%;
    right: -10%;
    z-index: -3;
}

.party-video-container .party-3 video {
    top: 34%;
    right: 3%;
    z-index: -2;
}

.party-video-container .party-4 video {
    top: 47%;
    right: -10%;
    z-index: -1;
}

.party-video-container .motion {
    z-index: 1;
}

.party-video-container .effect:not(.damaged) {
    width: 100%;
    top: 5%;
    left: 0;
    z-index: 2;
}

.summon-video {
    position: absolute;
    z-index: -1;
}

.summon-video:not(.hidden) {
    z-index: 100;
}

.global-video {
    position: absolute;
}

.global-video:not(.hidden) {
    z-index: 10;
}

.global-video.enemy-charge-attack-start {
    width: 105%;
    height: 120%;
    top: -13%;
    left: -5%;
}

.hidden {
    visibility: hidden;
}


#videoContainer .full-size {
    width: 100%;
    top: 5%;
    left: 0;
}

.waiting-video-container {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    width: 90px;
    top: 70px;
}

.waiting-video {
    width: 100%;
}

