<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!--  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
  <link href="/static/css/battle/common.css" rel="stylesheet">
  <link href="/static/css/battle/status-enemy.css" rel="stylesheet">
  <link href="/static/css/battle/video.css" rel="stylesheet">
  <link href="/static/css/battle/damage.css" rel="stylesheet">
  <link href="/static/css/battle/ability.css" rel="stylesheet">
  <link href="/static/css/battle/status-effect.css" rel="stylesheet">
  <link href="/static/css/battle/top-menu.css" rel="stylesheet">
  <link href="/static/css/battle/ability-rail.css" rel="stylesheet">
  <link href="/static/css/battle/battle-member-present.css" rel="stylesheet">
  <link href="/static/css/battle/status.css" rel="stylesheet">
  <style>

      .container-bg {
          z-index: -100;
      }


  </style>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <!--  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
  <script type="text/javascript" src="/static/slick/slick.js"></script>
  <script src="/static/js/battle/process-turn.js"></script>
  <script src="/static/js/battle/process-character-attack.js"></script>
  <script src="/static/js/battle/process-enemy-attack.js"></script>
  <script src="/static/js/battle/enemy.js"></script>
  <script src="/static/js/battle/ability.js"></script>
  <script src="/static/js/battle/audio-player.js"></script>
  <script src="/static/js/battle/ability-rail.js"></script>
  <script src="/static/js/battle/charge-attack.js"></script>
  <script src="/static/js/battle/movetype.js"></script>
  <script src="/static/js/battle/sequenceManager.js"></script>
  <script>
      $(function () {

          // 길게 누르기용 함수
          const onLongPress = ($target, duration, callback) => {
              $target.onmousedown = () => {
                  const timer = setTimeout(callback, duration);

                  $target.onmouseup = () => {
                      clearTimeout(timer);
                  };
              };

              $target.ontouchstart = () => {
                  const timer = setTimeout(callback, duration);

                  $target.ontouchend = () => {
                      clearTimeout(timer);
                  };
              };
          }

          // stanby 등 깜빡이는 영상은 이걸로 해결
          // const video = document.getElementById("stanby");
          // video.addEventListener('timeupdate', function () {
          //     if (video.currentTime >= video.duration - 0.1) {
          //         video.currentTime = 0.1;
          //         video.play();
          //     }
          // });

          // 평타 모션 속도조정
          // $('.motion-attack').each(function (index, item) {
          //     $(item).prop('playbackRate', '0.9');
          // })

          // 오디오 뮤트 해제
          // $('audio').each(function (index, item) {
          //     console.log("unmute " + item.muted + " to " + !item.muted)
          //     console.log(item);
          //     item.muted = !item.muted;
          //     item.muted = false;
          //     console.log(item);
          //     $(item).prop('muted', false);
          //     console.log(item);
          // })

          $('#audioPlayButton').on('click', function () {
              document.getElementById('audioPlaying').currentTime = 0;
              document.getElementById('audioPlaying').play();
          })

          $('#attackButton').on('click', function () {
              processTurn();
          })

          $('#abilitySlider').slick({speed: 200, arrows: false});

          // 어빌리티 슬라이더 버튼 클릭
          $('.ability-slider-slide-button-wrapper').on('click', function () {
              $(this).hasClass('to-right') ? $('#abilitySlider').slick('slickNext') : $('#abilitySlider').slick('slickPrev');
          })

          // 어빌리티 duratinon 로드를 위해 미리 재생 및 data-duration 추가
          // $('.motion-ability').each(function (index, item) {
          //     let abilityVideo = $(this).get(0);
          //     abilityVideo.play();
          //     abilityVideo.addEventListener('durationchange', function () {
          //         let duration = abilityVideo.duration;
          //         this.dataset.duration = duration;
          //     })
          // })

          // 배틀 초상화 클릭 -> 어빌리티 슬라이더 오픈
          $('.battle-portrait').on('click', function () {
              let abilitySliderWidth = $('#abilitySlider .slick-track').width();
              console.log(abilitySliderWidth)
              let battlePortraitIndex = $(this).index();
              console.log('battlePortraitindex = ' + battlePortraitIndex);
              $('#abilitySlider').slick('slickGoTo', battlePortraitIndex, true, {speed: 0})
              $('#abilitySlider').css('z-index', '1');
              $('.present-container').addClass('hidden');

              $('.ability-slider-slide-button-wrapper').show();
              $('.ability-back-button').show();
          })

          $('.ability-back-button').on('click', function () {
              $('#abilitySlider').css('z-index', '-1');
              $('.ability-slider-slide-button-wrapper').hide();
              $('.present-container').removeClass('hidden');
          });

          // $('.status-wrapper').each(function (index, statusWrapper) {
          //     onLongPress(statusWrapper, 1000, () => openStatusWrapperInfo.call(this))
          // })

          $('.show-status-info-button-wrapper').on('click', function () {
              openStatusWrapperInfo($(this).closest('.status-container'));
          })

          function openStatusWrapperInfo($statusContainer) {
              console.log($statusContainer);
              $('#statusInfoModal .status-info-wrapper').children().remove();
              $statusContainer.find('.status').each(function (index, status) {
                  let iconSrc = $(status).find('.status-icon').attr('src');
                  let statusInfoText = $(status).find('.status-info-text').text();
                  let statusName = $(status).find('.status-name').text();
                  let statusType = $(status).data('status-type') === 'BUFF' ? 'status-buff' : 'status-debuff'
                  let statusDuration = $(status).find('.status-duration').text();
                  statusDuration = Number.parseInt(statusDuration) > 100 ? '영속' : statusDuration + '턴';
                  let $statusInfo = $('<div>').addClass('status-info ' + statusType)
                      .append($('<div>').addClass('status-info-icon-wrapper')
                          .append($('<img>').addClass('status-info-icon').attr('src', iconSrc)))
                      .append($('<div>').addClass('status-info-text').text(statusInfoText)
                          .prepend($('<span>').addClass('status-info-name fw-bold').text(statusName + ": "))
                          .append($('<span>').addClass('status-info-duration fw-bold').text(' [남은시간: ' + statusDuration + ']')));
                  $('#statusInfoModal .status-info-wrapper').append($statusInfo).append($('<hr>'));
                  /*
                  <div class="status-info">
                    <div class="status-info-icon-wrapper>
                      <img class="status-info-icon" src="">
                    </div>
                    <div class="status-info-text"></div>
                  </div>
                   */
              })
              $('.status-modal-button').click();
          }

// initial
          // 서버로 부터 받은 적의 첫 무브 hidden 해제
          // 첫 무브는 IDLE_DEFAULT or STANDBY_X 중 하나이다.
          let initialMoveClassName = $('.enemy-video-container').data('initial-move-class');
          console.log(initialMoveClassName)
          $('.enemy-video-container .' + initialMoveClassName).removeClass('hidden').attr({
              'autoplay': true,
              'loop': true
          });
          // 아군 무브 idle 보이게 설정
          $('.party-video-container .idle-default').removeClass('hidden').attr({
              'autoplay': true,
              'loop': true
          });



      });
  </script>
  <link rel="stylesheet" href="../static/css/battle/ability.css">
</head>
<body>
<div id="container" class="battle-canvas">

  <div id="battleCanvasTopMenu">
    <div class="top-menu-container">
      <div class="sound-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">sound</button>
      </div>
      <div class="turn-indicator"><span>1</span><span> turn</span></div>
      <div class="time-indicator"><i class="bi bi-stopwatch me-1"></i>12:34</div>
      <div class="menu-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">Menu</button>
      </div>
    </div>
  </div>

  <div class="enemy-info-container">
    <div class="hp-container enemy">
      <div class="value-hp" th:text="${enemyInfo.getHpRate() + '%'}">100%</div>
      <div class="progress hp-bar" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0"
           aria-valuemax="100" style="height: 10px">
        <div class="progress-bar hp-bar-realtime bg-danger" style="width: 100%"
             th:style="${'width: ' + enemyInfo.hpRate + '%'}"></div>
        <div class="hp-trigger hp-trigger-1"></div>
      </div>
    </div>
    <div class="status-container enemy actor-0">
      <div class="status" th:each="status : ${enemyInfo.statuses}"
           th:data-status-type="${status.status.type}">
        <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png"
             th:src="${status.iconSrc}"/>
        <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
        <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
        <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
      </div>
    </div>
    <div class="d-flex">
      <div class="charge-turn-container enemy">
        <div class="charge-turn" th:each="chargeGauge : ${enemyInfo.maxChargeGauge}"
             th:classappend="${chargeGaugeStat.index < enemyInfo.currentChargeGauge ? 'active' : 'inactive'}"></div>
      </div>
      <div class="omen-container enemy" th:classappend="${enemyInfo.omenActivated ? 'activated' : ''}">
        <div class="omen-text incant-attack">
          <span class="omen-prefix" th:text="${enemyInfo.omenPrefix + ': '}">전조 조건: </span>
          <span class="omen-value" th:text="${enemyInfo.omenValue}">값</span>
        </div>
      </div>
    </div>
  </div>

  <div class="omen-container bottom">
    <div class="omen-wrapper">
      <div class="omen-text blinking-element incant-attack">
        <span class="omen-header">[ 영창기 ]</span>
        <span class="omen-name">섬멸지시 : 경성반사</span>
      </div>
    </div>
  </div>

  <div class="container-bg battle-canvas">
    <img src="/static/assets/img/enemy/diapsora/bg.jpg" width="100%">
  </div>

  <div id="audioContainer" class="battle-canvas">
    <div class="enemy-audio-container">
      <audio class="audio"
             th:each="entry : ${enemyAudioSrcMap}"
             th:src="${entry.key}"
             th:classappend="${#strings.listJoin(entry.value, ' ')}">
      </audio>
    </div>
    <div class="party-audio-container">
      <div class="party-1">
        <audio class="audio"
               th:each="entry : ${firstCharacterAudioSrcMap}"
               th:src="${entry.key}"
               th:classappend="${entry.value}">
        </audio>
      </div>
      <div class="party-2">
        <audio class="audio"
               th:each="entry : ${secondCharacterAudioSrcMap}"
               th:src="${entry.key}"
               th:classappend="${entry.value}">
        </audio>
      </div>
    </div>
  </div>

  <div id="videoContainer" class="battle-canvas">
    <div class="enemy-video-container" th:data-phase="${enemyInfo.getPhase()}"
         th:data-initial-move-class="${enemyInfo.initialMoveType.className}"
         th:data-standby-move-class="${enemyInfo.initialMoveType.parentType.className.equals('standby') ? enemyInfo.initialMoveType.className : 'none'}"
    >
      <video class="hidden enemy-video" muted playsinline
             th:each="entry : ${enemyVideoSrcMap}" th:data-move-type="${entry}"
             th:src="${entry.key}"
             th:classappend="${#strings.listJoin(entry.value, ' ')}">
      </video>
    </div>
    <div class="party-video-container">
      <div class="party-1">
        <video class="hidden party-video" muted playsinline
               th:each="entry : ${firstCharacterVideoSrcMap}"
               th:src="${entry.key}"
               th:classappend="${entry.value}">
        </video>
      </div>
      <div class="party-2">
        <video class="hidden party-video" muted playsinline
               th:each="entry : ${secondCharacterVideoSrcMap}"
               th:src="${entry.key}"
               th:classappend="${entry.value}">
        </video>
      </div>
    </div>


    <div class="party-global-video">
      <audio class='party-global-audio ability-start-se' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <video muted playsinline
             class="party party-global hidden motion-none-idle motion-buff"
             src="/static/assets/mov/gl/gl-buff-motion-0.webm"
             width="100%">
      </video>

    </div>

  </div>

  <!-- 적 피격 데미지 -->
  <div id="damageContainer" class="battle-canvas">
    <div class="attack-damage-wrapper">
<!--      <div class="damage attack-damage">123123-->
<!--        <div class="damage additional-damage">22222</div>-->
<!--        <div class="damage additional-damage">33333</div>-->
<!--      </div>-->
<!--      <div class="damage attack-damage">234234-->
<!--        <div class="damage additional-damage" >44444</div>-->
<!--        <div class="damage additional-damage">55555</div>-->
<!--      </div>-->
<!--      <div class="damage attack-damage">345345-->
<!--        <div class="damage additional-damage">66666</div>-->
<!--        <div class="damage additional-damage">77777</div>-->
<!--      </div>-->
    </div>

<!--    <div class="damage-first damage-wrapper damage-attack-1">-->
<!--      <div class="damage origin-damage damage-1">-->
<!--        10000-->
<!--        <div class="damage after-damage damage-2">-->
<!--          5000-->
<!--          <div class="damage after-damage damage-3">-->
<!--            2000-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="damage-second damage-wrapper damage-attack-2">-->
<!--      <div class="damage origin-damage damage-1">-->
<!--        10000-->
<!--        <div class="damage after-damage damage-2">-->
<!--          5000-->
<!--          <div class="damage after-damage damage-3">-->
<!--            2000-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="damage-third damage-wrapper damage-attack-3">-->
<!--      <div class="damage origin-damage damage-1">-->
<!--        10000-->
<!--        <div class="damage after-damage damage-2">-->
<!--          5000-->
<!--          <div class="damage after-damage damage-3">-->
<!--            2000-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- max 12, 10에서 컷-->
    <div class="ability-damage-wrapper">
      <!--      <div class="ability-damage">10000</div>-->
    </div>

  </div>

  <div id="enemyChargeAttackDamageContainer" class="battle-canvas">
    <div class="enemy-charge-attack-damage-wrapper">
      <div class="enemy-charge-attack-damage">
        1000000
      </div>
    </div>
  </div>

  <!-- 아군 피격 데미지 -->
  <div class="taken-damage-container character-1">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-2">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-3">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-4">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--적 피격 버프 디버프-->
  <div class="status-effect-container actor-0 enemy"></div>
  <!-- 아군 피격 버프 디버프 -->
  <div class="status-effect-container actor-1 party"></div>
  <div class="status-effect-container actor-2 party"></div>
  <div class="status-effect-container actor-3 party"></div>
  <div class="status-effect-container actor-4 party"></div>


</div> <!-- container battleCanvas -->

<div id="battleMemberContainer">
  <div id="abilityRail">
    <div class="ability-rail-wrapper">
      <div class="rail-ability-dummy rail-ability-0"> <!-- 더미는 높이 유지용으로 만듦. -->
        <img src="/static/assets/img/ch/paladin/ability-1.png">
      </div>
    </div>
  </div>

  <div id="battleMemberPresentContainer">
    <div class="present-container">

      <div class="battle-member-wrapper">
        <div class="battle-portrait" th:each="characterInfo : ${characterInfos}"
             th:data-character-id="${characterInfo.id}">
          <img src="/static/assets/img/mc/paladin/ability/mc-paladin-battle-portrait.jpg"
               th:src="${characterInfo.portraitSrc}">
          <div class="hp-gauge-wrapper">
            <div class="hp-gauge">
              <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-danger" style="width: 50%"
                     th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
              </div>
            </div>
          </div>
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge">
              <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">50</span>%
              </div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 50%"
                     th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="summon-wrapper">
        <div class="summon-portrait">
          <img src="/static/assets/img/ui/ui-summon-active.png">
        </div>
      </div>
    </div>

    <div class="ability-slider-slide-button-wrapper to-right">
      <button class="btn btn-sm"><i class="bi bi-caret-right"></i></button>
    </div>
    <div class="ability-slider-slide-button-wrapper to-left">
      <button class="btn btn-sm"><i class="bi bi-caret-left"></i></button>
    </div>

    <div id="abilitySlider">
      <div class="slick-slider-item" th:each="characterInfo : ${characterInfos}">
        <div class="ability-panel" th:data-character-order="${characterInfoStat.count}"
             th:classappend="${'actor-' + characterInfoStat.count}">
          <div class="ability-battle-portrait">
            <img src="/static/assets/img/mc/paladin/ability/mc-paladin-battle-portrait.jpg"
                 th:src="${characterInfo.portraitSrc}">
            <div class="hp-gauge-wrapper">
              <div class="hp-gauge">
                <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-danger" style="width: 50%"
                       th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
                </div>
              </div>
            </div>
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge">
                <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">75</span>%
                </div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 100%"
                       th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="charge-attack-wrapper">
              <div class="charge-attack-info">
                <span class="charge-attack-name fw-bold" th:text="${'[오의] ' + characterInfo.chargeAttack.name}">
                  오의 이름
                </span>
                <span> : </span>
                <span class="charge-attack-text" th:text="${characterInfo.chargeAttack.info}">
                  오의 설명
                </span>
              </div>
            </div>
            <div class="ability-wrapper">
              <div class="ability-icon" th:each="ability : ${characterInfo.abilities}"
                   th:data-ability-order="${abilityStat.count}">
                <img src="/static/assets/img/mc/paladin/ability/mc-paladin-ability-1.png"
                     th:src="${ability.asset.iconImageSrc}"/>
                <div class="ability-cooldown-text" th:text="${characterInfo.abilityCoolDowns.get(abilityStat.index)}"
                     th:classappend="${characterInfo.abilityCoolDowns.get(abilityStat.index).equals(0) ? 'active' : 'inactive'}">
                  쿨다운
                </div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text" th:text="${ability.info}">어빌리티 설명</div>
              </div>
            </div>
            <div class="status-container party" th:classappend="${'actor-' + characterInfoStat.count}">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-light button-xsm">상세</button>
              </div>
              <div class="status" th:each="status : ${characterInfo.statuses}"
                   th:data-status-type="${status.status.type}">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png"
                     th:src="${status.iconSrc}"/>
                <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
                <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
                <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-outline-success">회복</button>
    <div class="form-check form-switch show-ability-info-check-wrapper">
      <input class="form-check-input" type="checkbox" role="switch" id="showAbilityInfoCheck">
      <label class="form-check-label" for="showAbilityInfoCheck">어빌리티 설명</label>
    </div>
    <div class="form-check form-switch charge-attack-check-wrapper">
      <input class="form-check-input" type="checkbox" role="switch" id="chargeAttackActiveCheck">
      <label class="form-check-label" for="chargeAttackActiveCheck">오의 발동</label>
    </div>
    <div class="ability-back-button-wrapper">
      <button class="ability-back-button btn btn-outline-primary">
        뒤로
      </button>
    </div>
  </div>
</div>

<!-- 어빌리티 설명 모달 -->
<button type="button" class="btn btn-primary ability-info-modal-button" data-bs-toggle="modal"
        data-bs-target="#abilityInfoModal">
  어빌리티 설명 모달 버튼
</button>
<div class="modal fade" id="abilityInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">어빌리티 설명</h1>
      </div>
      <div class="modal-body">
        <div class="ability-info-wrapper">
          <div class="ability-info-icon-wrapper">
            <img class="ability-info-icon" src="">
          </div>
          <div class="ability-info-text">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4 close-ability-info-modal-button" data-bs-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary use-ability-button">사용</button>
      </div>
    </div>
  </div>
</div>

<!-- 스테이터스 모달 -->
<button type="button" class="btn btn-primary status-modal-button" data-bs-toggle="modal"
        data-bs-target="#statusInfoModal">
  스테이터스 모달 버튼
</button>
<div class="modal fade" id="statusInfoModal" tabindex="-1"
     aria-labelledby="statusInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusModalLabel">현재 스테이터스</h1>
      </div>
      <div class="modal-body">
        <div class="status-info-wrapper">
          <!--          <div class="status-info">-->
          <!--            <div class="status-info-icon-wrapper">-->
          <!--              <img class="status-info-icon" src="">-->
          <!--            </div>-->
          <!--            <div class="status-info-text">-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>


<div class="container position-relative">
  <button class="attack-button" id="attackButton">attack1</button>
  <button class="attack-button">attack2</button>
  <button class="attack-button">attack3</button>
  <button class="attack-button">attack4</button>
  <button id="audioButton">audio</button>
  <button id="audioPlayButton">play</button>
</div>

<div class="audio-container">
  <audio id="audioPlaying" src="" muted="muted"></audio>
</div>

<div id="sequenceQueue">
<!--  <div class="move" data-parent-movetype="ATTACK" data-character-order="1" data-ability-order="2"></div>-->
</div>


<div id="processingTask">
  <input type="radio" id="firstCharacterAttack" name="processingTask" value="firstCharacterAttack">
  <label for="firstCharacterAttack">첫번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="firstCharacterAttackPost" name="processingTask" value="firstCharacterAttackPost">
  <label for="firstCharacterAttackPost">첫번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="secondCharacterAttack" name="processingTask" value="secondCharacterAttack">
  <label for="secondCharacterAttack">두번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="secondCharacterAttackPost" name="processingTask" value="secondCharacterAttackPost">
  <label for="secondCharacterAttackPost">두번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="thirdCharacterAttack" name="processingTask" value="thirdCharacterAttack">
  <label for="thirdCharacterAttack">세번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="thirdCharacterAttackPost" name="processingTask" value="thirdCharacterAttackPost">
  <label for="thirdCharacterAttackPost">세번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="fourthCharacterAttack" name="processingTask" value="fourthCharacterAttack">
  <label for="thirdCharacterAttack">네번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="fourthCharacterAttackPost" name="processingTask" value="fourthCharacterAttackPost">
  <label for="thirdCharacterAttackPost">네번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="enemyAttack" name="processingTask" value="enemyAttack">
  <label for="enemyAttack">적 공격행동</label>
  <br>
  <input type="radio" id="enemyAttackPost" name="processingTask" value="enemyAttackPost">
  <label for="enemyAttackPost">적 공격행동 후처리</label>
  <br>
  <input type="radio" id="turnPost" name="processingTask" value="turnPost">
  <label for="turnPost">턴 종료 전처리</label>
  <br>
</div>
<div id="abilityProcessingTask">
  <input type="radio" id="playingMotion" name="abilityProcessingTask" value="motion">
  <label for="firstCharacterAttackPost">모션</label>
  <br>
  <input type="radio" id="playingBuffs" name="abilityProcessingTask" value="buffs">
  <label for="firstCharacterAttack">버프</label>
  <br>
  <input type="radio" id="playingDebuffs" name="abilityProcessingTask" value="debuffs">
  <label for="firstCharacterAttack">디버프</label>
  <br>
  <input type="radio" id="playingPostAction" name="abilityProcessingTask" value="postAction">
  <label for="firstCharacterAttack">후 행동</label>
</div>

<div id="memberInfo" th:data-member-id="${member.getId()}">
  <p th:text="${'멤버ID ' + member.getId()}">
  </p>
  <!--  <p id="character-info-2" th:data-character-id="${characters[0].getId()}" th:text="${'야치마 id = ' + characters[0].getId()}">-->
  <!--  </p>-->
  <!--  <p id="abilityInfo" th:data-ability-id="1" th:text="1">-->
  <p id="roomInfo" th:data-room-id="${member.room.id}"></p>
</div>

<div id="testArea">
  <div th:each="partyMember : ${partyMembers}">
    <p th:text="${partyMember}"></p>
  </div>
  <p th:text="${enemy}"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>