<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!--  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
  <link href="/static/css/battle/common.css" rel="stylesheet">
  <link href="/static/css/battle/status-enemy.css" rel="stylesheet">
  <link href="/static/css/battle/video.css" rel="stylesheet">
  <link href="/static/css/battle/damage.css" rel="stylesheet">
  <link href="/static/css/battle/ability.css" rel="stylesheet">
  <link href="/static/css/battle/status-effect.css" rel="stylesheet">
  <link href="/static/css/battle/top-menu.css" rel="stylesheet">
  <link href="/static/css/battle/ability-rail.css" rel="stylesheet">
  <link href="/static/css/battle/battle-member-present.css" rel="stylesheet">
  <link href="/static/css/battle/status.css" rel="stylesheet">
  <style>

      .container-bg {
          z-index: -100;
      }


  </style>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <!--  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
  <script type="text/javascript" src="/static/slick/slick.js"></script>
  <script src="/static/js/battle/process-turn.js"></script>
  <script src="/static/js/battle/process-character-attack.js"></script>
  <script src="/static/js/battle/process-enemy-attack.js"></script>
  <script src="/static/js/battle/enemy.js"></script>
  <script src="/static/js/battle/ability.js"></script>
  <script src="/static/js/battle/audio-player.js"></script>
  <script src="/static/js/battle/ability-rail.js"></script>
  <script src="/static/js/battle/charge-attack.js"></script>
  <script>
      $(function () {

          // 길게 누르기용 함수
          const onLongPress = ($target, duration, callback) => {
              $target.onmousedown = () => {
                  const timer = setTimeout(callback, duration);

                  $target.onmouseup = () => {
                      clearTimeout(timer);
                  };
              };

              $target.ontouchstart = () => {
                  const timer = setTimeout(callback, duration);

                  $target.ontouchend = () => {
                      clearTimeout(timer);
                  };
              };
          }

          // 평타 모션 속도조정
          // $('.motion-attack').each(function (index, item) {
          //     $(item).prop('playbackRate', '0.9');
          // })

          // 오디오 뮤트 해제
          $('audio').each(function (index, item) {
              item.muted = !item.muted;
          })

          $('#audioPlayButton').on('click', function () {
              document.getElementById('audioPlaying').currentTime = 0;
              document.getElementById('audioPlaying').play();
          })

          $('#attackButton').on('click', function () {
              processTurn();
          })

          $('#abilitySlider').slick({speed: 100, arrows: false});

          // 어빌리티 슬라이더 버튼 클릭
          $('.ability-slider-slide-button-wrapper').on('click', function () {
              $(this).hasClass('to-right') ? $('#abilitySlider').slick('slickNext') : $('#abilitySlider').slick('slickPrev');
          })

          // 어빌리티 duratinon 로드를 위해 미리 재생 및 data-duration 추가
          $('.motion-ability').each(function (index, item) {
              let abilityVideo = $(this).get(0);
              abilityVideo.play();
              abilityVideo.addEventListener('durationchange', function () {
                  let duration = abilityVideo.duration;
                  this.dataset.duration = duration;
              })
          })

          // 배틀 초상화 클릭 -> 어빌리티 슬라이더 오픈
          $('.battle-portrait').on('click', function () {
              let abilitySliderWidth = $('#abilitySlider .slick-track').width();
              console.log(abilitySliderWidth)
              let battlePortraitIndex = $(this).index();
              console.log('battlePortraitindex = ' + battlePortraitIndex);
              $('#abilitySlider').slick('slickGoTo', battlePortraitIndex, true, {speed: 0})
              $('#abilitySlider').css('z-index', '1');

              $('.ability-slider-slide-button-wrapper').show();
              $('.ability-back-button').show();
          })

          $('.ability-back-button').on('click', function () {
              $('#abilitySlider').css('z-index', '-1');
              $('.ability-slider-slide-button-wrapper').hide();
          });

          // $('.status-wrapper').each(function (index, statusWrapper) {
          //     onLongPress(statusWrapper, 1000, () => openStatusWrapperInfo.call(this))
          // })

          $('.show-status-info-button-wrapper').on('click', function () {
              openStatusWrapperInfo($(this).closest('.status-wrapper'));
          })

          function openStatusWrapperInfo($statusWrapper) {
              console.log($statusWrapper);
              $('#statusInfoModal .status-info-wrapper').children().remove();
              $statusWrapper.find('.status').each(function (index, status) {
                  let iconSrc = $(status).find('.status-icon').attr('src');
                  let statusInfoText = $(status).find('.status-info-text').text();
                  let $statusInfo = $('<div>').addClass('status-info')
                      .append($('<div>').addClass('status-info-icon-wrapper')
                          .append($('<img>').addClass('status-info-icon').attr('src', iconSrc)))
                      .append($('<div>').addClass('status-info-text').text(statusInfoText));
                  $('#statusInfoModal .status-info-wrapper').append($statusInfo).append($('<hr>'));
                  /*
                  <div class="status-info">
                    <div class="status-info-icon-wrapper>
                      <img class="status-info-icon" src="">
                    </div>
                    <div class="status-info-text"></div>
                  </div>
                   */
              })
              $('.status-modal-button').click();
          }

      });
  </script>
  <link rel="stylesheet" href="../static/css/battle/ability.css">
</head>
<body>
<div id="container" class="battle-canvas">

  <div id="battleCanvasTopMenu">
    <div class="top-menu-container">
      <div class="sound-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">sound</button>
      </div>
      <div class="turn-indicator"><span>1</span><span> turn</span></div>
      <div class="time-indicator"><i class="bi bi-stopwatch me-1"></i>12:34</div>
      <div class="menu-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">Menu</button>
      </div>
    </div>
  </div>

  <div class="status-enemy">
    <div class="status-enemy-top-wrapper">
      <div class="value-hp">100%</div>
      <div class="status-effect-enemy-wrapper">
        <div class="status-effect-enemy status-effect-enemy-1">
          <img src="/static/assets/img/status/buff/status-defence-up.png">
          <span class="status-effect-enemy-text">방어력 증가 특수공격력증가</span>
        </div>
        <div class="status-effect-enemy status-effect-enemy-1">
          <img src="/static/assets/img/status/buff/status-defence-up.png">
          <span class="status-effect-enemy-text">방어력 증가 특수공격력증가</span>
        </div>
        <div class="status-effect-enemy status-effect-enemy-1">
          <img src="/static/assets/img/status/buff/status-defence-up.png">
          <span class="status-effect-enemy-text">방어력 증가 특수공격력증가</span>
        </div>
      </div>
    </div>
    <div class="progress hp-bar" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0"
         aria-valuemax="100" style="height: 10px">
      <div class="progress-bar hp-bar-realtime bg-danger" style="width: 100%"></div>
      <div class="hp-trigger hp-trigger-1"></div>
    </div>
    <div class="status-enemy-bottom-wrapper">
      <div class="charge-turn-gauge-wrapper">
        <div class="charge-turn-gauge active"></div>
        <div class="charge-turn-gauge inactive"></div>
        <div class="charge-turn-gauge inactive"></div>
      </div>
      <div class="omen-wrapper">
        <div class="omen-text incant-attack">
          <span class="omen-type">강화효과 제거</span>
          <span class="omen-value">1</span>
          <span class="omen-suffix">회 발동</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-omen-wrapper">
    <div class="omen-wrapper">
      <div class="omen-text blinking-element incant-attack">
        <span class="omen-header">[ 영창기 ]</span>
        <span class="omen-name">섬멸지시 : 경성반사</span>
      </div>
    </div>
  </div>

  <div class="container-bg battle-canvas">
    <img src="/static/assets/img/bg-diaspora.jpg" width="100%">
  </div>

  <div id="videoContainer" class="battle-canvas">
    <div class="enemy-video">
      <audio class='enemy-audio-attack se' src="/static/assets/audio/se/enemy/en-diaspora-attack.mp3"
             muted="muted"></audio>
      <audio class='enemy-audio-charge-attack-c-1 se'
             src="/static/assets/audio/se/enemy/en-diaspora-charge-attack-c-1.mp3" muted="muted"></audio>
      <audio class='enemy-audio-charge-attack-c-2 se'
             src="/static/assets/audio/se/enemy/en-diaspora-charge-attack-c-2.mp3" muted="muted"></audio>

      <video autoplay muted loop playsinline class="enemy motion-enemy-idle"
             src="/static/assets/mov/enemy/diaspora/en-diaspora-idle.webm"
             width="100%">
      </video>
      <video muted playsinline class="enemy motion-enemy-damaged hidden motion-none-idle"
             src="/static/assets/mov/enemy/diaspora/en-diaspora-damaged.webm"
             width="100%">
      </video>
      <video muted playsinline class="enemy motion-enemy-attack hidden motion-none-idle"
             src="/static/assets/mov/enemy/diaspora/en-diaspora-attack.webm"
             width="100%">
      </video>
      <video muted playsinline
             class="enemy motion-enemy-charge-attack motion-enemy-charge-attack-c hidden motion-none-idle"
             src="/static/assets/mov/enemy/diaspora/en-diaspora-charge-attack-c.webm"
             th:src="@{/assets/mov/charge.webm}"
             width="100%">
      </video>
    </div>
    <div class="party-1-video">

      <audio class='party-1-audio normal-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-attack.mp3"
             muted="muted"></audio>
      <audio class='party-1-audio ability ability-1' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <audio class='party-1-audio ability ability-2' src="/static/assets/audio/se/gl/ability/gl-buff-motion-1.mp3"
             muted="muted"></audio>
      <audio class='party-1-audio ability ability-3' src="/static/assets/audio/se/gl/ability/gl-buff-motion-3.mp3"
             muted="muted"></audio>
      <audio class='party-1-audio charge-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-charge-attack-0.mp3"
             muted="muted"></audio>
      <audio class='party-1-audio charge-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-charge-attack-1.mp3"
             data-delay="400"
             muted="muted"></audio>
      <audio class='party-1-audio charge-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-charge-attack-2.mp3"
             data-delay="700"
             muted="muted"></audio>
      <audio class='party-1-audio charge-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-charge-attack-3.mp3"
             data-delay="1000"
             muted="muted"></audio>
      <audio class='party-1-audio charge-attack' src="/static/assets/audio/se/mc/paladin/mc-paladin-charge-attack-4.mp3"
             data-delay="1500"
             muted="muted"></audio>

      <video autoplay muted loop playsinline class="party party-1 motion-idle"
             src="/static/assets/mov/mc/paladin/mc-paladin-idle.webm"
             width="100%">
      </video>
      <video muted playsinline
             class="party party-1 hidden motion-none-idle motion-attack motion-attack-1"
             src="/static/assets/mov/mc/paladin/mc-paladin-single-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-1 hidden motion-none-idle motion-attack motion-attack-2"
             src="/static/assets/mov/mc/paladin/mc-paladin-double-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-1 hidden motion-none-idle motion-attack motion-attack-3"
             src="/static/assets/mov/mc/paladin/mc-paladin-triple-attack.webm"
             width="100%">
      </video>

      <video muted playsinline class="party party-1 hidden motion-charge-attack"
             src="/static/assets/mov/mc/paladin/mc-paladin-charge-attack.webm"
             width="100%">
      </video>

      <video muted playsinline class="party party-1 hidden motion-none-idle motion-ability-1 full-size motion-ability"
             src="/static/assets/mov/mc/paladin/mc-paladin-ability-1.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-1 hidden motion-none-idle motion-ability-2 full-size motion-ability"
             src="/static/assets/mov/gl/gl-buff-motion-1.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-1 hidden motion-none-idle motion-ability-3 full-size motion-ability"
             src="/static/assets/mov/gl/gl-buff-motion-2.webm"
             width="100%">
      </video>

    </div>
    <div class="party-2-video">

      <audio class='party-2-audio normal-attack' src="/static/assets/audio/se/ch/yachima/ch-yachima-attack.mp3"
             muted="muted"></audio>
      <audio class='party-2-audio ability ability-1'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-ability-1-1.mp3" muted="muted"></audio>
      <audio class='party-2-audio ability ability-1'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-ability-1-2.mp3" muted="muted"></audio>
      <audio class='party-2-audio ability ability-2'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-ability-2.mp3" muted="muted"></audio>
      <audio class='party-2-audio ability ability-3'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-ability-3-1.mp3" muted="muted"></audio>
      <audio class='party-2-audio ability ability-3'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-ability-3-2.mp3" muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-0.mp3" data-delay="0"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-1.mp3" data-delay="500"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-2.mp3" data-delay="500"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-3.mp3" data-delay="1000"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-4.mp3" data-delay="1000"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-5.mp3" data-delay="2500"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-6.mp3" data-delay="2500"
             muted="muted"></audio>
      <audio class='party-2-audio charge-attack'
             src="/static/assets/audio/se/ch/yachima/ch-yachima-charge-attack-7.mp3" data-delay="3500"
             muted="muted"></audio>


      <video autoplay muted loop playsinline class="party party-2 motion-idle"
             src="/static/assets/mov/ch/yachima/ch-yachima-idle.webm"
             width="100%">
      </video>
      <video muted playsinline
             class="party party-2 hidden motion-none-idle motion-attack motion-attack-1"
             src="/static/assets/mov/ch/yachima/ch-yachima-single-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-2 hidden motion-none-idle motion-attack motion-attack-2"
             src="/static/assets/mov/ch/yachima/ch-yachima-double-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-2 hidden motion-none-idle motion-attack motion-attack-3"
             src="/static/assets/mov/ch/yachima/ch-yachima-triple-attack.webm"
             width="100%" height="100%">
      </video>


      <video muted playsinline class="party party-2 hidden motion-none-idle motion-charge-attack"
             src="/static/assets/mov/ch/yachima/ch-yachima-charge-attack.webm"
             width="100%">
      </video>


      <video muted playsinline class="party party-2 hidden motion-none-idle motion-ability-1 full-size motion-ability"
             src="/static/assets/mov/ch/yachima/ch-yachima-ability-1.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-2 hidden motion-none-idle motion-ability-2 full-size motion-ability"
             src="/static/assets/mov/ch/yachima/ch-yachima-ability-2.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-2 hidden motion-none-idle motion-ability-3 full-size motion-ability"
             src="/static/assets/mov/ch/yachima/ch-yachima-ability-3.webm"
             width="100%">
      </video>


    </div>
    <div class="party-3-video">

      <audio class='party-3-audio normal-attack' src="/static/assets/audio/se/ch/indara/ch-indara-attack.mp3"
             muted="muted"></audio>
      <audio class='party-3-audio ability ability-1' src="/static/assets/audio/se/ch/indara/ch-indara-ability-1.mp3"
             muted="muted"></audio>
      <audio class='party-3-audio ability ability-2' src="/static/assets/audio/se/ch/indara/ch-indara-ability-2-1.mp3"
             muted="muted"></audio>
      <audio class='party-3-audio ability ability-2'
             src="/static/assets/audio/se/ch/indara/ch-indara-ability-2-2-d1000.mp3"
             muted="muted" data-delay="1000"></audio>
      <audio class='party-3-audio ability ability-3' src="/static/assets/audio/se/gl/ability/gl-buff-motion-0.mp3"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-0.mp3"
             data-delay="0"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-1.mp3"
             data-delay="250"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-2.mp3"
             data-delay="750"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-3.mp3"
             data-delay="1500"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-4.mp3"
             data-delay="2000"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-5.mp3"
             data-delay="2250"
             muted="muted"></audio>
      <audio class='party-3-audio charge-attack' src="/static/assets/audio/se/ch/indara/ch-indara-charge-attack-6.mp3"
             data-delay="2500"
             muted="muted"></audio>

      <video autoplay muted loop playsinline class="party party-3 motion-idle"
             src="/static/assets/mov/ch/indara/ch-indara-idle.webm"
             width="100%">
      </video>
      <video muted playsinline
             class="party party-3 hidden motion-none-idle motion-attack motion-attack-1"
             src="/static/assets/mov/ch/indara/ch-indara-single-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-3 hidden motion-none-idle motion-attack motion-attack-2"
             src="/static/assets/mov/ch/indara/ch-indara-double-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-3 hidden motion-none-idle motion-attack motion-attack-3"
             src="/static/assets/mov/ch/indara/ch-indara-triple-attack.webm"
             width="100%">
      </video>


      <video muted playsinline class="party party-3 hidden motion-charge-attack"
             src="/static/assets/mov/ch/indara/ch-indara-charge-attack.webm"
             width="100%">
      </video>


      <video muted playsinline class="party party-3 hidden motion-none-idle motion-ability full-size motion-ability-1"
             src="/static/assets/mov/ch/indara/ch-indara-ability-1.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-3 hidden motion-none-idle motion-ability full-size motion-ability-2"
             src="/static/assets/mov/ch/indara/ch-indara-ability-2.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-3 hidden motion-none-idle motion-ability full-size motion-ability-3"
             src="/static/assets/mov/gl/gl-buff-motion-0.webm"
             width="100%">
      </video>


    </div>
    <div class="party-4-video">

      <audio class='party-4-audio normal-attack' src="/static/assets/audio/se/ch/haira/ch-haira-attack.mp3"
             muted="muted"></audio>
      <audio class='party-4-audio ability ability-1' src="/static/assets/audio/se/ch/haira/ch-haira-ability-1.mp3"
             muted="muted"></audio>
      <audio class='party-4-audio ability ability-2' src="/static/assets/audio/se/gl/ability/gl-buff-motion-5.mp3"
             muted="muted"></audio>
      <audio class='party-4-audio ability ability-3' src="/static/assets/audio/se/ch/haira/ch-haira-ability-3.mp3"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack voice"
             src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-0.mp3"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack" src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-1.mp3"
             data-delay="750"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack" src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-2.mp3"
             data-delay="2250"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack" src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-3.mp3"
             data-delay="2750"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack" src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-4.mp3"
             data-delay="3250"
             muted="muted"></audio>
      <audio class="party-4-audio charge-attack" src="/static/assets/audio/se/ch/haira/ch-haira-charge-attack-5.mp3"
             data-delay="3250"
             muted="muted"></audio>


      <video autoplay muted loop playsinline class="party party-4 motion-idle"
             src="/static/assets/mov/ch/haira/ch-haira-idle.webm"
             width="100%">
      </video>
      <video muted playsinline
             class="party party-4 hidden motion-none-idle motion-attack motion-attack-1"
             src="/static/assets/mov/ch/haira/ch-haira-single-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-4 hidden motion-none-idle motion-attack motion-attack-2"
             src="/static/assets/mov/ch/haira/ch-haira-double-attack.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-4 hidden motion-none-idle motion-attack motion-attack-3"
             src="/static/assets/mov/ch/haira/ch-haira-triple-attack.webm"
             width="100%">
      </video>


      <video muted playsinline class="party party-4 hidden motion-none-idle motion-charge-attack"
             src="/static/assets/mov/ch/haira/ch-haira-charge-attack.webm"
             width="100%">
      </video>


      <video muted playsinline class="party party-4 hidden motion-none-idle motion-ability full-size motion-ability-1"
             src="/static/assets/mov/ch/haira/ch-haira-ability-1.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-4 hidden motion-none-idle motion-ability full-size motion-ability-2"
             src="/static/assets/mov/gl/gl-buff-motion-5.webm"
             width="100%">
      </video>
      <video muted playsinline class="party party-4 hidden motion-none-idle motion-ability full-size motion-ability-3"
             src="/static/assets/mov/ch/haira/ch-haira-ability-3.webm"
             width="100%">
      </video>


    </div>

    <div class="party-global-video">
      <audio class='party-global-audio ability-start-se' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"
             muted="muted"></audio>
      <video muted playsinline
             class="party party-global hidden motion-none-idle motion-buff"
             src="/static/assets/mov/gl/gl-buff-motion-0.webm"
             width="100%">
      </video>

    </div>

  </div>

  <!-- 적군쪽 -->
  <!-- 데미지 -->
  <div id="damageContainer" class="battle-canvas">
    <div class="damage-first damage-wrapper damage-attack-1">
      <div class="damage origin-damage damage-1">
        10000
        <div class="damage after-damage damage-2">
          5000
          <div class="damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
    <div class="damage-second damage-wrapper damage-attack-2">
      <div class="damage origin-damage damage-1">
        10000
        <div class="damage after-damage damage-2">
          5000
          <div class="damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
    <div class="damage-third damage-wrapper damage-attack-3">
      <div class="damage origin-damage damage-1">
        10000
        <div class="damage after-damage damage-2">
          5000
          <div class="damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>

    <!-- max 12, 10에서 컷-->
    <div class="ability-damage-wrapper">
      <!--      <div class="ability-damage">10000</div>-->
    </div>

  </div>

  <div id="enemyChargeAttackDamageContainer" class="battle-canvas">
    <div class="enemy-charge-attack-damage-wrapper">
      <div class="enemy-charge-attack-damage">
        1000000
      </div>
    </div>
  </div>

  <!--버프 디버프-->
  <div id="enemyStatusEffectContainer">
    <div class="status-effect-wrapper">
      <!--      <div class="enemy-status status-effect status-effect-1">-->
      <!--        <img src="/static/assets/img/status/buff/status-defence-up.png">-->
      <!--        <span class="status-effect-text">방어력 증가 특수공격력증가</span>-->
      <!--      </div>-->
    </div>
  </div>

  <!-- 아군쪽 -->
  <!-- 데미지 -->
  <div class="taken-damage-container character-1">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-2">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-3">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taken-damage-container character-4">
    <div class="taken-damage-wrapper">
      <div class="taken-damage origin-damage damage-1">
        10000
        <div class="taken-damage after-damage damage-2">
          5000
          <div class="taken-damage after-damage damage-3">
            2000
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 버프 디버프 -->
  <div class="status-effect-container status-effect-container-1">
    <div class="status-effect-wrapper">
      <!--            <div class="status-effect status-effect-1">-->
      <!--              <img src="/static/assets/img/status/buff/status-defence-up.png">-->
      <!--              <span class="status-effect-text">방어력 증가 특수공격력증가</span>-->
      <!--            </div>-->
    </div>
  </div>

  <div class="status-effect-container status-effect-container-2">
    <div class="status-effect-wrapper">

    </div>
  </div>

  <div class="status-effect-container status-effect-container-3">
    <div class="status-effect-wrapper">

    </div>
  </div>

  <div class="status-effect-container status-effect-container-4">
    <div class="status-effect-wrapper">

    </div>
  </div>


</div> <!-- container battleCanvas -->

<div id="battleMemberContainer">
  <div id="abilityRail">
    <div class="ability-rail-wrapper">
      <div class="rail-ability-dummy rail-ability-0"> <!-- 더미는 높이 유지용으로 만듦. -->
        <img src="/static/assets/img/mc/paladin/ability/mc-paladin-ability-1.png">
      </div>
    </div>
  </div>

  <div id="battleMemberPresentContainer">
    <div class="present-container">

      <div class="battle-member-wrapper">
        <div class="portrait-1 battle-portrait">
          <img src="/static/assets/img/mc/paladin/ability/mc-paladin-battle-portrait.jpg">
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge charge-gauge-1">
              <div class="charge-gauge-value"><span class="value">75</span>%</div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 75%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="portrait-2 battle-portrait">
          <img src="/static/assets/img/ch/yachima/ability/ch-yachima-battle-portrait.jpg">
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge charge-gauge-2">
              <div class="charge-gauge-value"><span class="value">75</span>%</div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 75%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="portrait-3 battle-portrait">
          <img src="/static/assets/img/ch/indara/ability/ch-indara-battle-portrait.jpg">
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge charge-gauge-3">
              <div class="charge-gauge-value"><span class="value">75</span>%</div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 75%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="portrait-4 battle-portrait">
          <img src="/static/assets/img/ch/haira/ability/ch-haira-battle-portrait.jpg">
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge charge-gauge-4">
              <div class="charge-gauge-value"><span class="value">75</span>%</div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 75%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="summon-wrapper">
        <div class="summon-portrait">
          <img src="/static/assets/img/ui/ui-summon-active.png">
        </div>
      </div>
    </div>

    <div class="ability-slider-slide-button-wrapper to-right">
      <button class="btn btn-sm"><i class="bi bi-caret-right"></i></button>
    </div>
    <div class="ability-slider-slide-button-wrapper to-left">
      <button class="btn btn-sm"><i class="bi bi-caret-left"></i></button>
    </div>

    <div id="abilitySlider">
      <div class="slick-slider-item">
        <div class="ability-panel character-1" data-character-order="1">
          <div class="ability-battle-portrait">
            <img src="/static/assets/img/mc/paladin/ability/mc-paladin-battle-portrait.jpg">
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge charge-gauge-1">
                <div class="charge-gauge-value"><span class="value">75</span>%</div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 75%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="charge-attack-wrapper">
              <div class="charge-attack-info">
                <span class="charge-attack-name">
                  오의 이름
                </span>
                <span> : </span>
                <span class="charge-attack-text">
                  오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두
                </span>
              </div>
            </div>
            <div class="ability-wrapper">
              <div class="ability-1 ability-icon" data-ability-order="1">
                <img src="/static/assets/img/mc/paladin/ability/mc-paladin-ability-1.png">
                <div class="ability-cooldown-text"> 가능</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티 설명 이렇게 저렇게 요롷게 그렇게 아아아아ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ입니다.</div>
              </div>
              <div class="ability-2 ability-icon" data-ability-order="2">
                <img src="/static/assets/img/mc/paladin/ability/mc-paladin-ability-2.png">
                <div class="ability-cooldown-text"> 1턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-3 ability-icon" data-ability-order="3">
                <img src="/static/assets/img/mc/paladin/ability/mc-paladin-ability-3.png">
                <div class="ability-cooldown-text"> 15턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
            </div>
            <div class="status-wrapper">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-secondary button-xsm">상세</button>
              </div>
              <div class="status status-1">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아공격력을올리고방어력을올리고아아아아아공격력을올리고방어력을올리고아아아아아공격력을올리고방어력을올리고</div>
              </div>
              <div class="status status-2">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-3">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slider-item">
        <div class="ability-panel character-2" data-character-order="2">
          <div class="ability-battle-portrait">
            <img src="/static/assets/img/ch/yachima/ability/ch-yachima-battle-portrait.jpg">
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge charge-gauge-2">
                <div class="charge-gauge-value"><span class="value">75</span>%</div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 75%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="charge-attack-wrapper">
              <div class="charge-attack-info">
                <span class="charge-attack-name">
                  오의 이름
                </span>
                <span> : </span>
                <span class="charge-attack-text">
                  오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두
                </span>
              </div>
            </div>
            <div class="ability-wrapper">
              <div class="ability-1 ability-icon" data-ability-order="1">
                <img src="/static/assets/img/ch/yachima/ability/ch-yachima-ability-1.png">
                <div class="ability-cooldown-text"> 가능</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-2 ability-icon" data-ability-order="2">
                <img src="/static/assets/img/ch/yachima/ability/ch-yachima-ability-2.png">
                <div class="ability-cooldown-text"> 1턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-3 ability-icon" data-ability-order="3">
                <img src="/static/assets/img/ch/yachima/ability/ch-yachima-ability-3.png">
                <div class="ability-cooldown-text"> 15턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
            </div>
            <div class="status-wrapper">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-secondary button-xsm">상세</button>
              </div>
              <div class="status status-1">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-2">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-3">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slider-item">
        <div class="ability-panel character-3" data-character-order="3">
          <div class="ability-battle-portrait">
            <img src="/static/assets/img/ch/indara/ability/ch-indara-battle-portrait.jpg">
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge charge-gauge-3">
                <div class="charge-gauge-value"><span class="value">75</span>%</div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 75%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="charge-attack-wrapper">
              <div class="charge-attack-info">
                <span class="charge-attack-name">
                  오의 이름
                </span>
                <span> : </span>
                <span class="charge-attack-text">
                  오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두
                </span>
              </div>
            </div>
            <div class="ability-wrapper">
              <div class="ability-1 ability-icon" data-ability-order="1">
                <img src="/static/assets/img/ch/indara/ability/ch-indara-ability-1.png">
                <div class="ability-cooldown-text"> 가능</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-2 ability-icon" data-ability-order="2">
                <img src="/static/assets/img/ch/indara/ability/ch-indara-ability-2.png">
                <div class="ability-cooldown-text"> 1턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-3 ability-icon" data-ability-order="3">
                <img src="/static/assets/img/ch/indara/ability/ch-indara-ability-3.png">
                <div class="ability-cooldown-text"> 15턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
            </div>
            <div class="status-wrapper">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-secondary button-xsm">상세</button>
              </div>
              <div class="status status-1">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-2">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-3">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slider-item">
        <div class="ability-panel character-4" data-character-order="4">
          <div class="ability-battle-portrait">
            <img src="/static/assets/img/ch/haira/ability/ch-haira-battle-portrait.jpg">
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge charge-gauge-4">
                <div class="charge-gauge-value"><span class="value">75</span>%</div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 75%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="charge-attack-wrapper">
              <div class="charge-attack-info">
                <span class="charge-attack-name">
                  오의 이름
                </span>
                <span> : </span>
                <span class="charge-attack-text">
                  오의 설명 어쩌고 저쩌고 다다다두두두 오의 설명 어쩌고 저쩌고 다다다두두두
                </span>
              </div>
            </div>
            <div class="ability-wrapper">
              <div class="ability-1 ability-icon" data-ability-order="1">
                <img src="/static/assets/img/ch/haira/ability/ch-haira-ability-1.png">
                <div class="ability-cooldown-text"> 가능</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-2 ability-icon" data-ability-order="2">
                <img src="/static/assets/img/ch/haira/ability/ch-haira-ability-2.png">
                <div class="ability-cooldown-text"> 1턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
              <div class="ability-3 ability-icon" data-ability-order="3">
                <img src="/static/assets/img/ch/haira/ability/ch-haira-ability-3.png">
                <div class="ability-cooldown-text"> 15턴</div>
                <div class="ability-overlay"></div>
                <div class="ability-info-text">어빌리티설명</div>
              </div>
            </div>
            <div class="status-wrapper">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-secondary button-xsm">상세</button>
              </div>
              <div class="status status-1">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-2">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
              <div class="status status-3">
                <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png">
                <div class="status-info-text">아아아아아</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-success">회복</button>
    <div class="form-check form-switch show-ability-info-check-wrapper">
      <input class="form-check-input" type="checkbox" role="switch" id="showAbilityInfoCheck">
      <label class="form-check-label" for="showAbilityInfoCheck">어빌리티 설명</label>
    </div>
    <div class="form-check form-switch charge-attack-check-wrapper">
      <input class="form-check-input" type="checkbox" role="switch" id="chargeAttackActiveCheck">
      <label class="form-check-label" for="chargeAttackActiveCheck">오의 발동</label>
    </div>
    <div class="ability-back-button-wrapper">
      <button class="ability-back-button btn btn-primary">
        뒤로
      </button>
    </div>
  </div>
</div>

<!-- 어빌리티 설명 모달 -->
<button type="button" class="btn btn-primary ability-info-modal-button" data-bs-toggle="modal"
        data-bs-target="#abilityInfoModal">
  어빌리티 설명 모달 버튼
</button>
<div class="modal fade" id="abilityInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">어빌리티 설명</h1>
      </div>
      <div class="modal-body">
        <div class="ability-info-wrapper">
          <div class="ability-info-icon-wrapper">
            <img class="ability-info-icon" src="">
          </div>
          <div class="ability-info-text">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4 close-ability-info-modal-button" data-bs-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary use-ability-button">사용</button>
      </div>
    </div>
  </div>
</div>

<!-- 스테이터스 모달 -->
<button type="button" class="btn btn-primary status-modal-button" data-bs-toggle="modal"
        data-bs-target="#statusInfoModal">
  스테이터스 모달 버튼
</button>
<div class="modal fade" id="statusInfoModal" tabindex="-1"
     aria-labelledby="statusInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusModalLabel">현재 스테이터스</h1>
      </div>
      <div class="modal-body">
        <div class="status-info-wrapper">
          <!--          <div class="status-info">-->
          <!--            <div class="status-info-icon-wrapper">-->
          <!--              <img class="status-info-icon" src="">-->
          <!--            </div>-->
          <!--            <div class="status-info-text">-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>


<div class="container position-relative">
  <button id="attackButton">attack</button>
  <button id="audioButton">audio</button>
  <button id="audioPlayButton">play</button>
</div>

<div class="audio-container">
  <audio id="audioPlaying" src="" muted="muted"></audio>
</div>


<div id="processingTask">
  <input type="radio" id="firstCharacterAttack" name="processingTask" value="firstCharacterAttack">
  <label for="firstCharacterAttack">첫번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="firstCharacterAttackPost" name="processingTask" value="firstCharacterAttackPost">
  <label for="firstCharacterAttackPost">첫번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="secondCharacterAttack" name="processingTask" value="secondCharacterAttack">
  <label for="secondCharacterAttack">두번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="secondCharacterAttackPost" name="processingTask" value="secondCharacterAttackPost">
  <label for="secondCharacterAttackPost">두번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="thirdCharacterAttack" name="processingTask" value="thirdCharacterAttack">
  <label for="thirdCharacterAttack">세번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="thirdCharacterAttackPost" name="processingTask" value="thirdCharacterAttackPost">
  <label for="thirdCharacterAttackPost">세번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="fourthCharacterAttack" name="processingTask" value="fourthCharacterAttack">
  <label for="thirdCharacterAttack">네번째 캐릭터 공격행동</label>
  <br>
  <input type="radio" id="fourthCharacterAttackPost" name="processingTask" value="fourthCharacterAttackPost">
  <label for="thirdCharacterAttackPost">네번째 캐릭터 공격행동 후처리</label>
  <br>
  <input type="radio" id="enemyAttack" name="processingTask" value="enemyAttack">
  <label for="enemyAttack">적 공격행동</label>
  <br>
  <input type="radio" id="enemyAttackPost" name="processingTask" value="enemyAttackPost">
  <label for="enemyAttackPost">적 공격행동 후처리</label>
  <br>
  <input type="radio" id="turnPost" name="processingTask" value="turnPost">
  <label for="turnPost">턴 종료 전처리</label>
  <br>
</div>
<div id="abilityProcessingTask">
  <input type="radio" id="playingMotion" name="abilityProcessingTask" value="motion">
  <label for="firstCharacterAttackPost">모션</label>
  <br>
  <input type="radio" id="playingBuffs" name="abilityProcessingTask" value="buffs">
  <label for="firstCharacterAttack">버프</label>
  <br>
  <input type="radio" id="playingDebuffs" name="abilityProcessingTask" value="debuffs">
  <label for="firstCharacterAttack">디버프</label>
  <br>
  <input type="radio" id="playingPostAction" name="abilityProcessingTask" value="postAction">
  <label for="firstCharacterAttack">후 행동</label>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>