<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!--  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
  <link href="/static/css/battle/common.css" rel="stylesheet">
  <link href="/static/css/battle/status-enemy.css" rel="stylesheet">
  <link href="/static/css/battle/video.css" rel="stylesheet">
  <link href="/static/css/battle/damage.css" rel="stylesheet">
  <link href="/static/css/battle/ability.css" rel="stylesheet">
  <link href="/static/css/battle/status-effect.css" rel="stylesheet">
  <link href="/static/css/battle/top-menu.css" rel="stylesheet">
  <link href="/static/css/battle/ability-rail.css" rel="stylesheet">
  <link href="/static/css/battle/battle-member-present.css" rel="stylesheet">
  <style>

      .container-bg {
          z-index: -100;
      }


  </style>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <!--  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
  <script type="text/javascript" src="/static/slick/slick.js"></script>
  <script src="/static/js/battle/process-turn.js"></script>
  <script src="/static/js/battle/process-character-attack.js"></script>
  <script src="/static/js/battle/process-enemy-attack.js"></script>
  <script src="/static/js/battle/enemy.js"></script>
  <script src="/static/js/battle/ability.js"></script>
  <script src="/static/js/battle/audio-player.js"></script>
  <script src="/static/js/battle/ability-rail.js"></script>
  <script src="/static/js/battle/charge-attack.js"></script>
  <script src="/static/js/battle/movetype.js"></script>
  <script src="/static/js/battle/request-command.js"></script>
  <script src="/static/js/battle/summon.js"></script>
  <script>
      $(function () {
          let scale = window.innerWidth / 390;
          scale = scale > 2 ? 2 : scale;
          console.log('bodywidth = scale = ', window.innerWidth, scale)
          let container = document.querySelector('#container');
          container.style.transform = `scale(${scale})`;
          container.style.transformOrigin = 'top left';

          // 테스트용
          $('.menu-button-wrapper button').on('click', {formChangeResponse: "hello"}, processEnemyChargeAttackPreEffect);



          // 테스트용 흔들기
          function triggerShake() {
              let $videoContainer = $('#videoContainer');
              $videoContainer.addClass('shake-right-effect');

              // 애니메이션 종료 후 클래스 제거
              setTimeout(() => {
                  $videoContainer.removeClass('shake-right-effect');
              }, 200);
          }


          // 소환석 창 크기 조정
          // let resizeTimer;
          // $(window).on('resize', function () {
          //     clearTimeout(resizeTimer);
          //     resizeTimer = setTimeout(function () {
          //         console.log('resize');
          //         let width = $('.battle-member-wrapper').width();
          //         $('.summon-display-wrapper').width(width);
          //         $('.summon-collapse').width(width);
          //     }, 300); // 300ms 동안 추가 resize가 없으면 실행
          // });
          // $(window).trigger('resize');

          // $('.ability-panel .status-container').on('dragstart', function (e) {
          //     e.preventDefault();
          //     e.stopImmediatePropagation();
          //     console.log('mousedown')
          // }

          // 어빌리티 커맨드에서 스테이터스 12개 이상인경우 끊어서 보여주기
          let statusShowHideInterval = null;
          $('#abilitySlider').on('afterChange', function (event, slick, currentSlideIndex) {
              // console.log('current', currentSlideIndex);
              clearInterval(statusShowHideInterval);
              let $currentStatuses = $('.slick-active .status-container .status');
              if ($currentStatuses.length > 11) {
                  let statusShowHideCallback = function () {
                      // console.log('interval', currentSlideIndex + 1);
                      let $frontStatues = $('.slick-active .status-container .status').slice(0, 11); // 갱신되면 다시찾아야됨
                      $frontStatues.show(0).delay(1000).hide(0);
                  }
                  statusShowHideCallback();
                  statusShowHideInterval = setInterval(statusShowHideCallback, 2000);
              }
          })

          $('#audioPlayButton').on('click', function () {
              document.getElementById('audioPlaying').currentTime = 0;
              document.getElementById('audioPlaying').play();
          })

          $('#attackButton').on('click', function () {
              requestTurnProgress();
          })

          $('#abilitySlider').slick({speed: 200, arrows: false});

          // 어빌리티 슬라이더 버튼 클릭
          $('.ability-slider-slide-button-wrapper').on('click', function () {
              $(this).hasClass('to-right') ? $('#abilitySlider').slick('slickNext') : $('#abilitySlider').slick('slickPrev');
          })

          // 배틀 초상화 클릭 -> 어빌리티 슬라이더 오픈
          $('.battle-portrait').on('click', function () {
              let abilitySliderWidth = $('#abilitySlider .slick-track').width();
              console.log(abilitySliderWidth)
              let battlePortraitIndex = $(this).index();
              console.log('battlePortraitindex = ' + battlePortraitIndex);
              $('#abilitySlider').slick('slickGoTo', battlePortraitIndex, true, {speed: 0})
              $('#abilitySlider').css('z-index', '1');
              $('.present-container').addClass('hidden');

              $('.ability-slider-slide-button-wrapper').show();
              $('.ability-back-button').show();
          })

          $('.ability-back-button').on('click', function () {
              $('#abilitySlider').css('z-index', '-1');
              $('.ability-slider-slide-button-wrapper').hide();
              $('.present-container').removeClass('hidden');
              clearInterval(statusShowHideInterval); // 스테이터스 끊어보여주기 인터벌 해제
              $(this).hide();
          });

          // $('.status-wrapper').each(function (index, statusWrapper) {
          //     onLongPress(statusWrapper, 1000, () => openStatusWrapperInfo.call(this))
          // })

          $('.show-status-info-button-wrapper').on('click', function () {
              openStatusWrapperInfo($(this).closest('.status-container'));
          })

          function openStatusWrapperInfo($statusContainer) {
              console.log($statusContainer);
              $('#statusInfoModal .status-info-wrapper').children().remove();
              $statusContainer.find('.status').each(function (index, status) {
                  let iconSrc = $(status).find('.status-icon').attr('src');
                  let statusInfoText = $(status).find('.status-info-text').text();
                  let statusName = $(status).find('.status-name').text();
                  let statusType = $(status).data('status-type') === 'BUFF' ? 'status-buff' : 'status-debuff'
                  let statusDuration = $(status).find('.status-duration').text();
                  statusDuration = Number.parseInt(statusDuration) > 100 ? '영속' : statusDuration + '턴';
                  let $statusInfo = $('<div>').addClass('status-info ' + statusType)
                      .append($('<div>').addClass('status-info-icon-wrapper')
                          .append($('<img>').addClass('status-info-icon').attr('src', iconSrc)))
                      .append($('<div>').addClass('status-info-text').text(statusInfoText)
                          .prepend($('<span>').addClass('status-info-name fw-bold').text(statusName + ": "))
                          .append($('<span>').addClass('status-info-duration fw-bold').text(' [남은시간: ' + statusDuration + ']')));
                  $('#statusInfoModal .status-info-wrapper').append($statusInfo).append($('<hr>'));
                  /*
                  <div class="status-info">
                    <div class="status-info-icon-wrapper>
                      <img class="status-info-icon" src="">
                    </div>
                    <div class="status-info-text"></div>
                  </div>
                   */
              })
              $('.status-modal-button').click();
          }

          // initial
          // 서버로 부터 받은 적의 첫 무브 hidden 해제
          // 첫 무브는 IDLE_DEFAULT or STANDBY_X 중 하나이다.
          let initialMoveClassName = $('.enemy-video-container').data('initial-move-class');
          // 모든 idle 무브에 loop 추가
          $('.enemy-video-container .idle').attr('loop', true);
          $('.party-video-container .idle').attr('loop', true);
          // 적의 첫무브 재생
          let $enemyInitialVideo = $('.enemy-video-container .' + initialMoveClassName);
          $enemyInitialVideo.attr('preload', 'auto')
          setTimeout(function () {
              $enemyInitialVideo.removeClass('hidden').get(0).play();
              if ($enemyInitialVideo.hasClass('standby')) {
                  // 스탠바이 일경우 오디오 재생
                  let audioPlayer = new AudioPlayer();
                  let audioSrc = $('.enemy-audio-container').find('.' + initialMoveClassName).attr('src');
                  audioPlayer.loadSound(audioSrc, 0).then(() => {
                      audioPlayer.playAllSounds();
                  })
                  $enemyInitialVideo.one('ended', function () {
                      // stnadby 일 경우 이어서 standbyIdle 재생
                      $('.enemy-video-container').find('.' + MoveType.byClassName(initialMoveClassName).getIdleType().className).removeClass('hidden').get(0).play();
                      $(this).addClass('hidden');
                  });
              }
          }, 500) // 로드할 시간 줌
          // 아군 무브 idle 보이게 설정
          $('.party-video-container .idle-default').removeClass('hidden').get(0).play();


          // 길게 누르기용 함수
          const onLongPress = ($target, duration, callback) => {
              $target.onmousedown = () => {
                  const timer = setTimeout(callback, duration);

                  $target.onmouseup = () => {
                      clearTimeout(timer);
                  };
              };

              $target.ontouchstart = () => {
                  const timer = setTimeout(callback, duration);

                  $target.ontouchend = () => {
                      clearTimeout(timer);
                  };
              };
          }

          // stanby 등 깜빡이는 영상은 이걸로 해결
          // const videos = document.querySelectorAll(".enemy-video.idle:not(.idle-default)");
          // videos.forEach(video => video.addEventListener('timeupdate', refreshVideo))
          // function refreshVideo() {
          //     console.log('timeUpdate', this.currentTime)
          //     this.loop = false;
          //     if (this.currentTime >= this.duration - 0.3) {
          //         this.currentTime = 0;
          //         this.play();
          //     }
          // }

          // 평타 모션 속도조정
          // $('.motion-attack').each(function (index, item) {
          //     $(item).prop('playbackRate', '0.9');
          // })

          // 오디오 뮤트 해제
          // $('audio').each(function (index, item) {
          //     console.log("unmute " + item.muted + " to " + !item.muted)
          //     console.log(item);
          //     item.muted = !item.muted;
          //     item.muted = false;
          //     console.log(item);
          //     $(item).prop('muted', false);
          //     console.log(item);
          // })

          // 어빌리티 duratinon 로드를 위해 미리 재생 및 data-duration 추가
          // $('.motion-ability').each(function (index, item) {
          //     let abilityVideo = $(this).get(0);
          //     abilityVideo.play();
          //     abilityVideo.addEventListener('durationchange', function () {
          //         let duration = abilityVideo.duration;
          //         this.dataset.duration = duration;
          //     })
          // })


      });
  </script>
  <link rel="stylesheet" href="../static/css/battle/ability.css">
</head>
<body>
<div id="container">
  <div id="battleCanvasTopMenu">
    <div class="top-menu-container">
      <div class="sound-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">sound</button>
      </div>
      <div class="turn-indicator"><span>1</span><span> turn</span></div>
      <div class="time-indicator"><i class="bi bi-stopwatch me-1"></i>12:34</div>
      <div class="menu-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">Menu</button>
      </div>
    </div>
  </div>

  <div id="battleCanvas" class="battle-canvas">

    <div class="waiting-video-container">
      <video class="waiting-video" muted playsinline loop preload="auto"
             src="/static/assets/video/gl/waiting.webm"
      >
      </video>
    </div>

    <div class="omen-container omen-container-bottom enemy blinking-element"
         th:classappend="${enemyInfo.omenActivated ? 'activated' : ''}">
      <div class="omen-text" th:classappend="${enemyInfo.isOmenActivated() ? enemyInfo.omenType.className : ''}">
      <span class="omen-prefix"
            th:text="${enemyInfo.omenType == null ? '' : '[' + enemyInfo.omenType.info + '] ' + enemyInfo.omenName}">전조이름</span>
      </div>
    </div>

    <div class="enemy-info-container">
      <div class="hp-container enemy">
        <div class="value-hp" th:text="${enemyInfo.getHpRate() + '%'}">100%</div>
        <div class="progress hp-bar" role="progressbar" aria-label="Danger example" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100" style="height: 10px">
          <div class="progress-bar hp-bar-realtime bg-danger" style="width: 100%"
               th:style="${'width: ' + enemyInfo.hpRate + '%'}"></div>
          <div class="hp-trigger hp-trigger-1"></div>
        </div>
      </div>
      <div class="status-container enemy actor-0">
        <div class="show-status-info-button-wrapper enemy">
          <button class="btn btn-outline-light button-xsm">상세</button>
        </div>
        <div class="status" th:each="status : ${enemyInfo.statuses}"
             th:data-status-type="${status.status.type}">
          <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png"
               th:src="${status.iconSrc}"/>
          <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
          <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
          <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="charge-turn-container enemy">
          <div class="charge-turn" th:each="chargeGauge : ${enemyInfo.maxChargeGauge}"
               th:classappend="${chargeGaugeStat.index < enemyInfo.currentChargeGauge ? 'active' : ''}"></div>
        </div>
        <div class="omen-container enemy omen-container-top"
             th:classappend="${enemyInfo.omenActivated ? 'activated' : ''}">
          <div class="omen-text" th:classappend="${enemyInfo.isOmenActivated() ? enemyInfo.omenType.className : ''}">
            <span class="omen-prefix" th:text="${enemyInfo.omenPrefix + ': '}">전조 조건: </span>
            <span class="omen-value" th:text="${enemyInfo.omenValue}">값</span>
          </div>
        </div>
      </div>
    </div>

    <div id="audioContainer" class="battle-canvas">
      <div class="enemy-audio-container">
        <audio class="audio"
               th:each="entry : ${enemyAudioSrcMap}"
               th:src="${entry.key}"
               th:classappend="${#strings.listJoin(entry.value, ' ')}">
        </audio>
      </div>
      <div class="party-audio-container">
        <div class="party-1">
          <audio class="audio"
                 th:each="entry : ${firstCharacterAudioSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value}">
          </audio>
        </div>
        <div class="party-2">
          <audio class="audio"
                 th:each="entry : ${secondCharacterAudioSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value}">
          </audio>
        </div>
      </div>
      <div class="summon-audio-container">
        <audio class="audio summon-audio"
               th:each="entry : ${summonAudioSrcMap}"
               th:src="${entry.key}"
               th:data-summon-id="${entry.value}">
        </audio>
      </div>
    </div>

    <div id="videoContainer" class="battle-canvas">
      <div class="container-bg">
        <img src="/static/assets/img/enemy/diaspora2/bg.jpg" width="100%">
      </div>

      <div class="enemy-video-container" th:data-phase="${enemyInfo.getPhase()}"
           th:data-initial-move-class="${enemyInfo.initialMoveType.className}"
           th:data-standby-move-class="${enemyInfo.initialMoveType.parentType.className.equals('standby') ? enemyInfo.initialMoveType.className : 'none'}"
      >
        <video class="hidden enemy-video" muted playsinline preload="auto"
               th:each="entry : ${enemyVideoSrcMap}" th:data-move-type="${entry}"
               th:src="${entry.key}"
               th:classappend="${#strings.listJoin(entry.value, ' ')}">
        </video>
      </div>
      <div class="party-video-container">
        <div class="party-1">
          <video class="hidden party-video" muted playsinline preload="auto"
                 th:each="entry : ${firstCharacterVideoSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value}">
          </video>
        </div>
        <div class="party-2">
          <video class="hidden party-video" muted playsinline preload="auto"
                 th:each="entry : ${secondCharacterVideoSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value}">
          </video>
        </div>
      </div>

      <div class="summon-video-container">
        <video class="hidden summon-video" muted playsinline
               th:each="entry : ${summonVideoSrcMap}"
               th:src="${entry.key}"
               th:data-summon-id="${entry.value}">
        </video>
      </div>


      <div class="global-video-container">
        <!--        <audio class='party-global-audio ability-start-se' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"-->
        <!--               muted="muted"></audio>-->
        <!--        <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"-->
        <!--               muted="muted"></audio>-->
        <!--        <audio class='party-global-audio ability' src="/static/assets/audio/se/gl/ability/gl-ability-start.mp3"-->
        <!--               muted="muted"></audio>-->
        <!--        <video muted playsinline-->
        <!--               class="party party-global hidden motion-none-idle motion-buff"-->
        <!--               src="/static/assets/mov/gl/gl-buff-motion-0.webm"-->
        <!--               width="100%">-->
        <!--        </video>-->


        <video muted playsinline
               class="global-video hidden enemy-video enemy-charge-attack-start"
               src="/static/assets/video/gl/enemy-charge-attack-start.webm"
               width="100%">
        </video>
      </div>
      <div class="global-audio-container">
        <audio class="audio enemy-charge-attack-start"
               src="/static/assets/audio/gl/enemy-charge-attack-start.mp3"></audio>
      </div>

    </div>

    <!-- 적 피격 데미지 -->
    <div id="damageContainer" class="battle-canvas">
      <!--     일반공격 데미지가 겹칠수 있기 때문에 각 캐릭터별 wrapper 까지 추가-->
      <!--              <div class="attack-damage-wrapper actor-1">-->
      <!--                <div class="damage attack-damage element-type-water " style="opacity: 1">123123-->
      <!--                  <div class="damage additional-damage element-type-water " style="opacity: 0.99">22222</div>-->
      <!--                  <div class="damage additional-damage element-type-water ">33333</div>-->
      <!--                </div>-->
      <!--                <div class="damage attack-damage">234234-->
      <!--                  <div class="damage additional-damage" >44444</div>-->
      <!--                  <div class="damage additional-damage">55555</div>-->
      <!--                </div>-->
      <!--                <div class="damage attack-damage">345345-->
      <!--                  <div class="damage additional-damage">66666</div>-->
      <!--                  <div class="damage additional-damage">77777</div>-->
      <!--                </div>-->
      <!--              </div>-->

      <!-- max 12, 10에서 컷-->
      <div class="ability-damage-wrapper">
        <!--              <div class="ability-damage element-type-water" style="opacity: 1">10000</div>-->
        <!--              <div class="ability-damage element-type-water" style="opacity: 1">10000</div>-->
      </div>

      <div class="charge-attack-damage-wrapper">
        <!--      <div class="charge-attack-damage">1000000</div>-->
      </div>

      <div class="enemy-damage-wrapper">
        <!--      <div class="damage enemy-attack-damage actor-1">123123-->
        <!--        <div class="damage additional-damage">22222</div>-->
        <!--        <div class="damage additional-damage">33333</div>-->
        <!--      </div>-->
      </div>

    </div>

    <!--적 피격 버프 디버프-->
    <div class="status-effect-container actor-0 enemy"></div>
    <!-- 아군 피격 버프 디버프 -->
    <div class="status-effect-container actor-1 party"></div>
    <div class="status-effect-container actor-2 party"></div>
    <div class="status-effect-container actor-3 party"></div>
    <div class="status-effect-container actor-4 party"></div>

    <div class="ability-back-button-wrapper">
      <button class="ability-back-button btn btn-outline-primary">
        뒤로
      </button>
    </div>

  </div><!-- .battle-canvas -->

  <div id="commandContainer">
    <div id="abilityRail">
      <div class="ability-rail-wrapper">
        <div class="rail-ability-dummy rail-ability-0"> <!-- 더미는 높이 유지용으로 만듦. -->
          <img src="/static/assets/img/ch/paladin/ability-1.png">
        </div>
      </div>
    </div>

    <div id="partyCommandContainer">

      <div class="battle-member-wrapper">
        <div class="battle-portrait" th:each="characterInfo : ${characterInfos}"
             th:data-character-id="${characterInfo.id}" th:classappend="${'actor-' + characterInfoStat.count}">
          <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
               th:src="${characterInfo.portraitSrc}">
          <div class="hp-gauge-wrapper">
            <div class="hp-gauge">
              <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-danger" style="width: 50%"
                     th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
              </div>
            </div>
          </div>
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge">
              <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">50</span>%
              </div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 50%"
                     th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- 더미 -->
        <div class="battle-portrait">
          <img src="/static/assets/img/ch/paladin/battle-portrait.jpg">
          <div class="hp-gauge-wrapper">
            <div class="hp-gauge">
              <div class="hp-gauge-value"><span class="value">123</span></div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-danger" style="width: 50%"></div>
              </div>
            </div>
          </div>
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge">
              <div class="charge-gauge-value"><span class="value">50</span>%
              </div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 50%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="battle-portrait">
          <img src="/static/assets/img/ch/paladin/battle-portrait.jpg">
          <div class="hp-gauge-wrapper">
            <div class="hp-gauge">
              <div class="hp-gauge-value"><span class="value">123</span></div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-danger" style="width: 50%"></div>
              </div>
            </div>
          </div>
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge">
              <div class="charge-gauge-value"><span class="value">50</span>%
              </div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 50%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="summon-button-wrapper">
        <div class="summon-portrait">
          <button class="summon-display-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#summonCollapse" aria-expanded="false" aria-controls="summonCollapse">
          </button>
          <img src="/static/assets/img/ui/ui-summon-active.png">
        </div>
      </div>


      <div class="summon-display-wrapper">
        <div class="collapse collapse-horizontal" id="summonCollapse">
          <div class="summon-collapse">
            <div class="summon-list clearfix">
              <div class="summon-list-item" th:each="summonInfo : ${summonInfos}" th:data-summon-id="${summonInfo.id}">
                <img src="/static/assets/img/summon/empty.jpg" th:src="${summonInfo.iconImageSrc}">
                <div class="summon-cooldown" th:text="${summonInfo.getCooldown() + ' 턴'}">
                  -1턴
                </div>
                <div class="summon-disable-overlay">

                </div>
              </div>

              <div class="summon-list-item empty" th:each="index : ${#numbers.sequence(1, 4 - summonInfos.size())}">
                <img src="/static/assets/img/summon/empty.jpg">
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="ability-slider-slide-button-wrapper to-right">
        <button class="btn button-xsm"><i class="bi bi-caret-right"></i></button>
      </div>
      <div class="ability-slider-slide-button-wrapper to-left">
        <button class="btn button-xsm"><i class="bi bi-caret-left"></i></button>
      </div>

      <div id="abilitySlider">
        <div class="slick-slider-item" th:each="characterInfo : ${characterInfos}">
          <div class="ability-panel" th:data-character-order="${characterInfoStat.count}"
               th:classappend="${'actor-' + characterInfoStat.count}">
            <div class="ability-battle-portrait">
              <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
                   th:src="${characterInfo.portraitSrc}">
              <div class="hp-gauge-wrapper">
                <div class="hp-gauge">
                  <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-danger" style="width: 50%"
                         th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
                  </div>
                </div>
              </div>
              <div class="charge-gauge-wrapper">
                <div class="charge-gauge">
                  <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">75</span>%
                  </div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning" style="width: 100%"
                         th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrapper">
              <div class="charge-attack-wrapper">
                <div class="charge-attack-info">
                <span class="charge-attack-name fw-bold" th:text="${'[오의] ' + characterInfo.chargeAttack.name}">
                  오의 이름
                </span>
                  <span> : </span>
                  <span class="charge-attack-text" th:text="${characterInfo.chargeAttack.info}">
                  오의 설명
                </span>
                </div>
              </div>
              <div class="ability-wrapper">
                <div class="ability-icon" th:each="ability : ${characterInfo.abilities}"
                     th:data-ability-order="${abilityStat.count}">
                  <img src="/static/assets/img/ch/paladin/ability-1.png"
                       th:src="${ability.asset.iconImageSrc}"/>
                  <div class="ability-cooldown-text" th:text="${characterInfo.abilityCoolDowns.get(abilityStat.index)}"
                       th:classappend="${characterInfo.abilityCoolDowns.get(abilityStat.index).equals(0) ? 'active' : 'inactive'}">
                    쿨다운
                  </div>
                  <div class="ability-overlay"></div>
                  <div class="ability-info-text" th:text="${ability.info}">어빌리티 설명</div>
                </div>
              </div>
            </div>
            <div class="status-container party" th:classappend="${'actor-' + characterInfoStat.count}">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-light button-xsm">상세</button>
              </div>
              <div class="status" th:each="status : ${characterInfo.statuses}"
                   th:data-status-type="${status.status.type}">
                <img class="status-icon" src="/static/assets/img/ch/paladin/status-ability-support-1.png"
                     th:src="${status.iconSrc}"/>
                <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
                <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
                <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="sub-command-container">
      <button type="button" class="btn btn-outline-success">회복</button>
      <div class="form-check form-switch show-ability-info-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="showAbilityInfoCheck">
        <label class="form-check-label" for="showAbilityInfoCheck">어빌리티 설명</label>
      </div>
      <div class="form-check form-switch charge-attack-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="chargeAttackActiveCheck">
        <label class="form-check-label" for="chargeAttackActiveCheck">오의 발동</label>
      </div>
    </div>

  </div>

  <div class="container position-relative">
    <button class="attack-button" id="attackButton">attack</button>
    <button id="audioButton">audio</button>
    <button id="audioPlayButton">play</button>
  </div>

  <div class="audio-container">
    <audio id="audioPlaying" src="" muted="muted"></audio>
  </div>

  <div id="memberInfo" th:data-member-id="${member.getId()}">
    <p th:text="${'멤버ID ' + member.getId()}">
    </p>
    <!--  <p id="character-info-2" th:data-character-id="${characters[0].getId()}" th:text="${'야치마 id = ' + characters[0].getId()}">-->
    <!--  </p>-->
    <!--  <p id="abilityInfo" th:data-ability-id="1" th:text="1">-->
    <p id="roomInfo" th:data-room-id="${member.room.id}"></p>
  </div>

  <div id="testArea">
    <div th:each="partyMember : ${partyMembers}">
      <p th:text="${partyMember}"></p>
    </div>
    <p th:text="${enemy}"></p>
  </div>

</div> <!-- #container -->

<!-- 어빌리티 설명 모달 -->
<button type="button" class="btn btn-primary ability-info-modal-button" data-bs-toggle="modal"
        data-bs-target="#abilityInfoModal">
  어빌리티 설명 모달 버튼
</button>
<div class="modal fade" id="abilityInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">어빌리티 설명</h1>
      </div>
      <div class="modal-body">
        <div class="ability-info-wrapper">
          <div class="ability-info-icon-wrapper">
            <img class="ability-info-icon" src="">
          </div>
          <div class="ability-info-text">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4 close-ability-info-modal-button" data-bs-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary use-ability-button">사용</button>
      </div>
    </div>
  </div>
</div>

<!-- 스테이터스 모달 -->
<button type="button" class="btn btn-primary status-modal-button" data-bs-toggle="modal"
        data-bs-target="#statusInfoModal">
  스테이터스 모달 버튼
</button>
<div class="modal fade" id="statusInfoModal" tabindex="-1"
     aria-labelledby="statusInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusModalLabel">현재 스테이터스</h1>
      </div>
      <div class="modal-body">
        <div class="status-info-wrapper">
          <!--          <div class="status-info">-->
          <!--            <div class="status-info-icon-wrapper">-->
          <!--              <img class="status-info-icon" src="">-->
          <!--            </div>-->
          <!--            <div class="status-info-text">-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>