<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
<!--  <link href="https://fonts.googleapis.com/css2?family=Martel:wght@600;700;800;900&display=swap" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap" rel="stylesheet">
  <!--    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="/js/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/js/slick/slick-theme.css">
  <link href="/static/css/battle/common.css" rel="stylesheet">
  <link href="/static/css/battle/status-enemy.css" rel="stylesheet">
  <link href="/static/css/battle/video.css" rel="stylesheet">
  <link href="/static/css/battle/damage.css" rel="stylesheet">
  <link href="/static/css/battle/ability.css" rel="stylesheet">
  <link href="/static/css/battle/status-effect.css" rel="stylesheet">
  <link href="/static/css/battle/top-menu.css" rel="stylesheet">
  <link href="/static/css/battle/ability-rail.css" rel="stylesheet">
  <link href="/static/css/battle/battle-member-present.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/player.css">
  <style>
      .container-bg {
          z-index: -100;
      }

  </style>
  <!--  <script src="https://code.jquery.com/jquery.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
  <script src="/static/js/vendors/require.js"></script>
  <script src="/static/js/vendors/jquery.js"></script>
  <script src="/static/js/battle/common.js"></script>
  <script src="/static/js/battle/objects.js"></script>
  <script src="/static/js/battle/eventListeners.js"></script>
  <script src="/static/js/battle/process-move.js"></script>
  <script src="/static/js/battle/process-party.js"></script>
  <script src="/static/js/battle/process-enemy.js"></script>
  <script src="/static/js/battle/request-command.js"></script>
  <script src="/static/js/battle/ability-rail.js"></script>
  <script src="/static/js/battle/audio-player.js"></script>
  <script src="/static/js/gbfap/animation.js"></script>
  <script src="/static/js/gbfap/load-actor.js"></script>
  <script src="/static/js/GBFML/util.js"></script>
  <script th:inline="javascript">
      window.require_is_configured = false;
      /*<![CDATA[*/
      var assetInfos = /*[[${assetInfos}]]*/ {};
      /*]]>*/
      let actorAssets = assetInfos.map((assetInfo, index) =>
          new Animation('actor-' + assetInfo.currentOrder, {
              cjs: assetInfo.asset.mainCjs,
              weapon: assetInfo.asset.weaponId,
              attacks: assetInfo.asset.attackCjses,
              abilities: assetInfo.asset.abilityCjses,
              specials: assetInfo.asset.specialCjses,
              additionalCjs: assetInfo.asset.additionalMainCjs,
              additionalSpecials: assetInfo.asset.additionalSpecialCjses,
              chargeAttackStartFrame: assetInfo.asset.chargeAttackStartFrame,
              summons: assetInfo.asset.summonCjses,
              isEnemy: assetInfo.isEnemy,
              isMainCharacter: assetInfo.isMainCharacter,
              isChargeAttackSkip: assetInfo.isChargeAttackSkip,
              currentOrder: assetInfo.currentOrder,
              startMotion: assetInfo.startMotion,
          })
      );
      actorAssets.push(
          new Animation("global", {
              // cjs: "raid_mortal_skip", // animation to play
              cjs: "npc_3040585000_01", // animation to play
              specials: ["raid_mortal_skip"], // charge attacks
              abilities: {
                  buff: {
                      cjs: 'raid_effect_buff',
                      isTargetedEnemy: true
                  },
                  debuff: {
                      cjs: 'raid_effect_debuff',
                      isTargetedEnemy: true
                  },
                  heal: {
                      cjs: 'raid_effect_heal',
                      isTargetedEnemy: false,
                  },
                  abStart: {
                      cjs: 'ab_start',
                      isTargetedEnemy: true,
                  },
                  unionSummon: {
                      cjs: 'raid_union_summon',
                      isTargetedEnemy: false
                  },
                  buffForAll: {
                      cjs: 'summon_2040216000_01_damage',
                      isTargetedEnemy: false
                  }
              },
              summons: {},
              demoMotions: ["stbwait"], // animation playlist under the Demo action
              isEnemy: false
          }))

      function initAssets() {
          console.log(`[init] actorAssets = `, actorAssets);
          actorAssets.forEach((animation, index) => {
              loadActor(animation, loadActorConfig);
          })
      }

      // 페이지 로드시 한 번만
      if (!window.require_is_configured) {
          require.config({
              baseUrl: "",
              paths: {
                  "slick": "/static/js/slick/slick",
                  "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min",
                  "createjs": "/static/js/vendors/createjs",
                  "underscore": "/static/js/vendors/underscore",
                  "backbone": "/static/js/vendors/backbone",
                  "lib/raid/extension": "/static/js/gbfap/raid_extension",
                  "lib/sound": "/static/js/gbfap/audio",
                  "js/actor": "/static/js/gbfap/actor",
                  "js/player": "/static/js/gbfap/player",
                  "js/loader": "/static/js/gbfap/loader",
              },
          });
          require([
              "slick", "underscore", "createjs", "backbone", "lib/sound",
              "lib/raid/extension", "js/actor", "js/player", "js/loader", "bootstrap"
          ], function (slick, underscore) {
              $(function () {

                  // 스케일 초기화
                  let scale = window.innerWidth / 320;
                  scale = scale > 1.5 ? 1.5 : scale;
                  console.log(`[scaleInit] innerWidth = ${window.innerWidth} scale = ${scale}`);
                  $('#container').css({'transform': `scale(${scale})`, 'transform-origin': 'top left'});
                  window.scale = scale;

                  // 에셋 , 플레이어 로드
                  _ = underscore;
                  monkeypatch_createjs();
                  window.require_is_configured = true;
                  initAssets();

                  // slick 로드
                  $('#abilitySlider').slick({speed: 200, arrows: false});

                  // 오디오 플레이어 로드
                  $('body').one('click', function () {
                      window.effectAudioPlayer = new AudioPlayer();
                      window.effectAudioPlayer.init();
                  })

                  // 적 시작 모션 재생
                  let enemyLoadedInterval = setInterval(function () {
                      let enemyActor = player.actors.get('actor-0');
                      if (enemyActor) {
                          let found = player.m_stage.children.find((child) => child.name === enemyActor.animation.cjs);
                          if (found) {
                              clearInterval(enemyLoadedInterval);
                              let initialStandbyMotion = $('.enemy-info-container').attr('data-standby-motion');
                              if (initialStandbyMotion !== 'none') {
                                  player.play(Player.playRequest('actor-0', initialStandbyMotion));
                              }
                          }
                      }
                  }, 500);

                  // 아군 시작모션 - 오의on 시 설정
                  // let chargeAttackOn = $('#chargeAttackActiveCheck').prop('checked');
                  // if (chargeAttackOn) {
                  //     player.actors.values()
                  //         .filter(actor => actor.isCharacter() && Number($(`#partyCommandContainer .battle-portrait.actor-${actor.actorIndex} .charge-gauge-value .value`).text()) === 100)
                  //         .forEach(actor => player.play(Player.playRequest(`actor-${actor.actorIndex}`, Player.c_animations.ABILITY)));
                  // }


                  // $('#attackButton').on('click', function () {
                  //     requestTurnProgress();
                  // })

              });
          });
      }
  </script>
  <script>
      $(function () { // 테스트

          // 테스트용 버튼 클릭
          // $('.sound-button-wrapper button').on('click', {}, triggerShake);
          $('.sound-button-wrapper button').on('click', function () {
              // processHealEffect([1, 1, 1, 1, 1], 0)
              // processEnemyChargeAttackPreEffect();
              // loadNextEnemyActor().then(() => processFormChange({}));
              // cjsPlayTest()
              // testMove()
              // requestSync()
              summonCutinTest();
          });

          function summonCutinTest() {
              player.play(Player.playRequest('global', Player.c_animations.ABILITY_MOTION, {abilityType: 'unionSummon', summonId: 69, unionSummonCjs: "summon_2040080000_02"}));
          }

          async function cjsTest() {
              let effectDuration = await player.play(Player.playRequest('actor-0', 'gattai'));
              console.log('[cjsPlayTest] effectDuration = ', effectDuration);
          }

          async function cjsPlayTest() {
              [0, 1, 2, 3, 4].forEach(async number => {
                  let playRequest = Player.playRequest('actor-' + number, Player.c_animations.ABILITY_EFFECT_ONLY, {abilityType: 'HEAL'});
                  let effectDuration = await player.play(playRequest);
                  console.log('[cjsPlayTest] effectDuration = ', effectDuration);
              })
          }

          // 테스트용 흔들기
          function triggerShake() {
              let $videoContainer = $('#videoContainer');
              $videoContainer.addClass('shake-right-effect');
              // 애니메이션 종료 후 클래스 제거
              setTimeout(() => {
                  $videoContainer.removeClass('shake-right-effect');
              }, 200);
          }

      })
  </script>
  <link rel="stylesheet" href="../static/css/battle/ability.css">
</head>
<body>
<div id="container">
  <div id="battleCanvasTopMenu">
    <div class="top-menu-container">
      <div class="sound-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">sound</button>
      </div>
      <div class="turn-indicator"><span class="turn-value"
                                        th:text="${member.getCurrentTurn()}">1</span><span> turn</span></div>
      <div class="time-indicator"><i class="bi bi-stopwatch me-1"></i>12:34</div>
      <div class="menu-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light menu-modal-button" data-bs-toggle="modal"
                data-bs-target="#menuModal">
          메뉴
        </button>
      </div>
    </div>
  </div>

  <div id="battleCanvas">

    <div class="waiting-video-container">
      <video class="waiting-video" muted playsinline loop preload="auto"
             src="/static/assets/video/gl/waiting.webm"
      >
      </video>
    </div>

    <div class="omen-container omen-container-bottom enemy blinking-element"
         th:classappend="${battleEnemyInfo.omenActivated ? 'activated' : ''}">
      <div class="omen-text"
           th:classappend="${battleEnemyInfo.isOmenActivated() ? battleEnemyInfo.omenType.className : ''}">
      <span class="omen-prefix"
            th:text="${battleEnemyInfo.omenType == null ? '' : '[' + battleEnemyInfo.omenType.info + '] ' + battleEnemyInfo.omenName}">전조이름</span>
      </div>
    </div>

    <div class="enemy-info-container" th:data-phase="${battleEnemyInfo.getPhase()}"
         th:data-standby-motion="${battleEnemyInfo.initialMotionType != null ? battleEnemyInfo.initialMotionType.motion : 'none'}"
         th:data-standby-move-class="${battleEnemyInfo.initialMoveType.parentType.className.equals('standby') ? battleEnemyInfo.initialMoveType.className : 'none'}">
      <div class="hp-container enemy">
        <div class="value-hp" th:text="${battleEnemyInfo.getHpRate() + '%'}">100%</div>
        <div class="progress hp-bar" role="progressbar" aria-label="enemy hp bar" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100">
          <div class="progress-bar hp-bar-realtime bg-danger" style="width: 100%"
               th:style="${'width: ' + battleEnemyInfo.hpRate + '%'}"></div>
          <div class="hp-trigger hp-trigger-1"></div>
        </div>
      </div>
      <div class="status-container enemy actor-0">
        <div class="show-status-info-button-wrapper enemy">
          <button class="btn btn-outline-light button-xsm">상세</button>
        </div>
        <div class="status" th:each="status : ${battleEnemyInfo.statuses}"
             th:data-status-type="${status.status.type}">
          <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png"
               th:src="${status.iconSrc}"/>
          <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
          <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
          <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="charge-turn-container enemy">
          <div class="charge-turn" th:each="chargeGauge : ${battleEnemyInfo.maxChargeGauge}"
               th:classappend="${chargeGaugeStat.index < battleEnemyInfo.currentChargeGauge ? 'active' : ''}"></div>
        </div>
        <div class="omen-container enemy omen-container-top"
             th:classappend="${battleEnemyInfo.omenActivated ? 'activated' : ''}">
          <div class="omen-text"
               th:classappend="${battleEnemyInfo.isOmenActivated() ? battleEnemyInfo.omenType.className : ''}">
            <span class="omen-prefix" th:text="${battleEnemyInfo.omenPrefix}">전조 조건 </span>
            <span class="omen-value"
                  th:text="${battleEnemyInfo.isOmenActivated() && battleEnemyInfo.omenPrefix.contains('해제불가') ? '' : battleEnemyInfo.omenValue}">값</span>
            <span class="omen-info" th:text="${battleEnemyInfo.omenInfo}">전조 설명</span>
          </div>
        </div>
      </div>
    </div>

    <div id="canvasContainer"></div>

    <div id="actorContainer" class="battle-canvas">
      <div class="enemy actor-0"></div>
      <div class="party actor-1">
        <div class="guard-status">
          <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
          <div class="guard-status-effect"></div>
        </div>
      </div>
      <div class="party actor-2">
        <div class="guard-status">
          <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
          <div class="guard-status-effect"></div>
        </div>
      </div>
      <div class="party actor-3">
        <div class="guard-status">
          <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
          <div class="guard-status-effect"></div>
        </div>
      </div>
      <div class="party actor-4">
        <div class="guard-status">
          <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
          <div class="guard-status-effect"></div>
        </div>
      </div>
    </div>

    <div class="global-audio-container">
      <audio class="audio enemy-power-up"
             src="/static/assets/audio/gl/enemy-power-up.mp3"></audio>
      <audio class="audio enemy-ct-max"
             src="/static/assets/audio/gl/enemy-ct-max.mp3"></audio>

      <audio class="audio status-removed"
             src="/static/assets/audio/gl/gl-status-removed.mp3"></audio>
      <audio class="audio guard-on"
             src="/static/assets/audio/gl/gl-guard-on.mp3"></audio>
      <audio class="audio guard-off"
             src="/static/assets/audio/gl/gl-guard-off.mp3"></audio>

      <audio class="audio heal"
             src="/static/assets/audio/gl/gl-heal.mp3"></audio>
    </div>

    <div class="ability-back-button-wrapper">
      <button class="ability-back-button btn btn-sm btn-outline-primary">
        뒤로
      </button>
    </div>

  </div><!-- #battleCanvas -->

  <div id="commandContainer">

    <div id="abilityRailContainer">
      <div class="ability-rail-wrapper">
        <div id="abilityRail">
          <div class="rail-ability-dummy rail-ability-0"> <!-- 더미는 높이 유지용으로 만듦. -->
            <img src="/static/assets/img/ch/paladin/ability-1.png">
          </div>
        </div>
      </div>
      <div id="attackButtonWrapper">
        <button class="attack-button" id="attackButton"></button>
        <img src="/static/assets/img/ui/ui-attack.png">
      </div>
    </div>

    <div id="partyCommandContainer">

      <div class="battle-member-wrapper">
        <div th:each="order : ${#numbers.sequence(1, 4, 1)}">
          <th:block th:with="characterInfo = ${battleCharacterInfoMap.get(order)}">

          <div class="battle-portrait"
               th:if="${characterInfo != null}"
               th:data-character-id="${characterInfo.id}" th:classappend="${'actor-' + order}">
            <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
                 th:src="${characterInfo.portraitSrc}">
            <div class="hp-gauge-wrapper">
              <div class="hp-gauge">
                <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-danger" style="width: 50%"
                       th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
                </div>
              </div>
            </div>
            <div class="charge-gauge-wrapper">
              <div class="charge-gauge">
                <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">50</span>%
                </div>
                <div class="progress" role="progressbar">
                  <div class="progress-bar bg-warning" style="width: 50%"
                       th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
                </div>
              </div>
            </div>
          </div>

          <!--더미-->
          <div class="battle-portrait empty"
               th:if="${characterInfo == null}">
            <img src="/static/assets/img/gl/ch-empty.jpg" th:data-seq="${order}">
          </div>

          </th:block>
        </div> <!-- th each -->
      </div> <!-- .battle-member-wrapper-->


      <div class="summon-button-wrapper">
        <div class="summon-portrait">
          <button class="summon-display-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#summonCollapse" aria-expanded="false" aria-controls="summonCollapse">
          </button>
          <img src="/static/assets/img/ui/ui-summon-active.png">
        </div>
      </div>


      <div class="summon-display-wrapper">
        <div class="collapse collapse-horizontal" id="summonCollapse">
          <div class="summon-collapse">
            <div class="summon-list clearfix">
              <div class="summon-list-item" th:each="summonInfo : ${summonInfos}" th:data-summon-id="${summonInfo.id}">
                <img src="/static/assets/img/summon/empty.jpg" th:src="${summonInfo.iconImageSrc}">
                <div class="summon-cooldown" th:text="${summonInfo.getCooldown() + ' 턴'}">
                  -1턴
                </div>
                <div class="summon-disable-overlay">

                </div>
              </div>

              <div class="summon-list-item empty" th:each="index : ${#numbers.sequence(0, 3 - summonInfos.size(), 1)}">
                <img src="/static/assets/img/summon/empty.jpg">
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="ability-slider-slide-button-wrapper to-right">
        <button class="btn button-xsm"><i class="bi bi-caret-right"></i></button>
      </div>
      <div class="ability-slider-slide-button-wrapper to-left">
        <button class="btn button-xsm"><i class="bi bi-caret-left"></i></button>
      </div>

      <div id="abilitySlider">
        <div class="slick-slider-item" th:each="characterInfo : ${battleCharacterInfoMap.values()}">
          <div class="ability-panel" th:data-character-order="${characterInfo.order}"
               th:classappend="${'actor-' + characterInfo.order}">
            <div class="ability-battle-portrait">
              <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
                   th:src="${characterInfo.portraitSrc}">
              <div class="hp-gauge-wrapper">
                <div class="hp-gauge">
                  <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-danger" style="width: 50%"
                         th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
                  </div>
                </div>
              </div>
              <div class="charge-gauge-wrapper">
                <div class="charge-gauge">
                  <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">75</span>%
                  </div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning" style="width: 100%"
                         th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrapper">
              <div class="charge-attack-wrapper">
                <div class="charge-attack-info">
                <span class="charge-attack-name fw-bold" th:text="${'[오의] ' + characterInfo.chargeAttack.name}">
                  오의 이름
                </span>
                  <span> : </span>
                  <span class="charge-attack-text" th:text="${characterInfo.chargeAttack.info}">
                  오의 설명
                </span>
                </div>
              </div>
              <div class="ability-wrapper">
                <div class="ability-icon" th:each="ability : ${characterInfo.abilities}"
                     th:data-ability-id="${ability.id}" th:data-ability-order="${abilityStat.count}">
                  <img src="/static/assets/img/ch/paladin/ability-1.png"
                       th:src="${ability.iconImageSrc}"/>
                  <div class="ability-cooldown-text"
                       th:classappend="${characterInfo.abilityCoolDowns.get(abilityStat.index).equals(0) ? 'active' : 'inactive'}">
                    <span class="value" th:text="${characterInfo.abilityCoolDowns.get(abilityStat.index)}">00</span>턴
                  </div>
                  <div class="ability-overlay"></div>
                  <div class="ability-info-text" th:text="${ability.info}">어빌리티 설명</div>
                </div>
              </div>
            </div>
            <div class="status-container party" th:classappend="${'actor-' + characterInfo.order}">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-light button-xsm">상세</button>
              </div>
              <div class="status" th:each="status : ${characterInfo.statuses}"
                   th:data-status-type="${status.status.type}"
                   th:classappend="${statusStat.index > 0 && (
                   characterInfo.statuses.get(statusStat.index - 1).status.name.equals(status.status.name)
                   || characterInfo.statuses.get(statusStat.index - 1).iconSrc.equals(status.iconSrc)
                    ) ? 'd-none' : ''}">
                <img class="status-icon" src="/static/assets/img/ch/paladin/status-ability-support-1.png"
                     th:src="${status.iconSrc}"/>
                <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
                <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
                <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="advanced-command-container">
      <div class="guard-button-wrapper">
        <div class="guard-button party-1">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-2">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-3">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-4">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
      </div>
      <div class="fatal-chain-gauge-wrapper">
        <div class="fatal-chain-gauge-label">FC</div>
        <div class="progress fatal-chain-gauge" role="progressbar">
          <div class="progress-bar bg-warning" style="width: 10%"
               th:style="${'width: ' + fatalChainInfo.gaugeValue + '%'}"></div>
          <div class="fatal-chain-gauge-value"><span class="value" th:text="${fatalChainInfo.gaugeValue}">10</span>%
          </div>
        </div>
        <div class="fatal-chain-gauge-info" th:text="${fatalChainInfo.name + ' : ' + fatalChainInfo.info}"
             th:data-fatal-chain-move-id="${fatalChainInfo.id}">info
        </div>
      </div>
    </div>

    <div class="sub-command-container">
      <button type="button" class="btn btn-sm btn-outline-success">회복</button>
      <div class="form-check form-switch show-ability-info-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="showAbilityInfoCheck">
        <label class="form-check-label" for="showAbilityInfoCheck">어빌리티 설명</label>
      </div>
      <div class="form-check form-switch charge-attack-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="chargeAttackActiveCheck"
               th:checked="${member.isChargeAttackOn()}">
        <label class="form-check-label" for="chargeAttackActiveCheck">오의 발동</label>
      </div>
    </div>

  </div>

  <hr>


  <div class="test-button-area">
    <label for="motions">Play Motions</label>
    <input type="text" class="form-control " id="motions" value="actor-0 additional_mortal_B">
    <label for="motions">Pairing Motions</label>
    <input type="text" class="form-control mt-2" id="pairingMotions" value="actor0 damage damage damage">
  </div>


  <div class="container position-relative">
    <button id="audioButton">audio</button>
    <button id="audioPlayButton">play</button>
  </div>

  <div class="audio-container">
    <audio id="audioPlaying" src="" muted="muted"></audio>
  </div>

  <div id="memberInfo" th:data-member-id="${member.getId()}">
    <p th:text="${'멤버ID ' + member.getId()}">
    </p>
    <!--  <p id="character-info-2" th:data-character-id="${characters[0].getId()}" th:text="${'야치마 id = ' + characters[0].getId()}">-->
    <!--  </p>-->
    <!--  <p id="abilityInfo" th:data-ability-id="1" th:text="1">-->
    <p id="roomInfo" th:data-room-id="${member.room.id}"></p>
  </div>

  <div id="testArea">
    <div th:each="partyMember : ${partyMembers}">
      <p th:text="${partyMember}"></p>
    </div>
    <p th:text="${enemy}"></p>
  </div>

</div> <!-- #container -->


<script>
    $('#motions').on('keydown', function (e) {
        if (e.keyCode == 13) {
            const parts = $('#motions').val().trim().split(/\s+/);
            const actorId = parts[0];
            const motionChunk = parts[1];
            const motion = motionChunk.split('/')[0];
            const abilityType = motionChunk.split('/')[1];
            let playRequest = Player.playRequest(actorId, motion, {abilityType: abilityType});
            player.play(playRequest);
        }
    });
    $('#pairingMotions').on('keydown', function (e) {
        if (e.keyCode == 13) {
            const parts = $('#motions').val().trim().split(/\s+/);
            const actorId = parts[0];
            const motionRequests = parts.slice(1).map(item => item.indexOf('/') >= 0
                ? {motion: item.split('/')[0], moveType: item.split('/')[1]}
                : {motion: item}
            );
            let playRequests = [];
            motionRequests.forEach((motionRequest, index) => {
                playRequests.push(Player.playRequest(actorId, motionRequest.motion, {abilityType: motionRequest.moveType}));
            })

            const pairingParts = this.value.trim().split(/\s+/);
            const pairingActorId = pairingParts[0];
            const pairingMotions = pairingParts.slice(1).map(item => {
                if (item.indexOf('ab_motion') >= 0) {
                    return {motion: item.split('/')[0], moveType: item.split('/')[1]};
                } else {
                    return {motion: item};
                }
            });
            let paringPlayRequests = [];
            pairingMotions.forEach((pairingMotion, index) => {
                paringPlayRequests.push(Player.playRequest(pairingActorId, pairingMotion.motion, pairingMotion.moveType));
            })

            player.playWithOthers(playRequests, paringPlayRequests);
        }
    });


</script>

<!-- 메뉴 모달 -->
<div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="menuModalLabel">메뉴</h1>
      </div>
      <div class="modal-body">
        <div class="test-menu-container m-1 p-2 border border-danger">
          <p>테스트메뉴</p>
          <button class="btn btn-outline-success me-2" onclick="requestResetCoolDown()">쿨타임 초기화</button>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger me-2 exit-room-button">퇴장</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 어빌리티 설명 모달 -->
<button type="button" class="btn btn-primary ability-info-modal-button" data-bs-toggle="modal"
        data-bs-target="#abilityInfoModal">
  어빌리티 설명 모달 버튼
</button>
<div class="modal fade" id="abilityInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">어빌리티 설명</h1>
      </div>
      <div class="modal-body">
        <div class="ability-info-wrapper">
          <div class="ability-info-icon-wrapper">
            <img class="ability-info-icon" src="">
          </div>
          <div class="ability-info-text">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4 close-ability-info-modal-button" data-bs-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary use-ability-button">사용</button>
      </div>
    </div>
  </div>
</div>

<!-- 스테이터스 모달 -->
<button type="button" class="btn btn-primary status-modal-button" data-bs-toggle="modal"
        data-bs-target="#statusInfoModal">
  스테이터스 모달 버튼
</button>
<div class="modal fade" id="statusInfoModal" tabindex="-1"
     aria-labelledby="statusInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusModalLabel">현재 스테이터스</h1>
      </div>
      <div class="modal-body">
        <div class="status-info-wrapper">
          <!--          <div class="status-info">-->
          <!--            <div class="status-info-icon-wrapper">-->
          <!--              <img class="status-info-icon" src="">-->
          <!--            </div>-->
          <!--            <div class="status-info-text">-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>

<form id="exitRoomForm" action="/room/exit" method="POST">
  <input type="hidden" name="memberId" th:value="${member.id}">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>

<form id="csrfForm">
  <input id="csrfToken" type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"-->
<!--        crossorigin="anonymous"></script>-->

</body>
</html>