<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"/>
  <!--  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="/js/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/js/slick/slick-theme.css">
  <link href="/static/css/battle/common.css" rel="stylesheet">
  <link href="/static/css/battle/status-enemy.css" rel="stylesheet">
  <link href="/static/css/battle/video.css" rel="stylesheet">
  <link href="/static/css/battle/damage.css" rel="stylesheet">
  <link href="/static/css/battle/ability.css" rel="stylesheet">
  <link href="/static/css/battle/status-effect.css" rel="stylesheet">
  <link href="/static/css/battle/top-menu.css" rel="stylesheet">
  <link href="/static/css/battle/ability-rail.css" rel="stylesheet">
  <link href="/static/css/battle/battle-member-present.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/player.css">
  <style>
      .container-bg {
          z-index: -100;
      }

  </style>
  <!--  <script src="https://code.jquery.com/jquery.min.js"></script>-->
  <!--  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
  <script src="/static/js/vendors/require.js"></script>
  <script src="/static/js/vendors/jquery.js"></script>
  <!--  <script src="/static/js/slick/slick.js"></script>-->
  <script src="/static/js/battle/common.js"></script>
  <script src="/static/js/battle/attack.js"></script>
  <script src="/static/js/battle/ability.js"></script>
  <script src="/static/js/battle/audio-player.js"></script>
  <script src="/static/js/battle/ability-rail.js"></script>
  <script src="/static/js/battle/charge-attack.js"></script>
  <script src="/static/js/battle/movetype.js"></script>
  <script src="/static/js/battle/request-command.js"></script>
  <script src="/static/js/battle/process-move.js"></script>
  <script src="/static/js/gbfap/animation.js"></script>
  <script src="/static/js/gbfap/load-actor.js"></script>
  <script src="/static/js/GBFML/util.js"></script>
  <script th:inline="javascript">
      window.require_is_configured = false;
      /*<![CDATA[*/
      var assetInfos = /*[[${assetInfos}]]*/ {};
      /*]]>*/
      console.log(assetInfos);

      let actorAssets = assetInfos.map((assetInfo, index) =>
          new Animation('actor' + index, {
              cjs: assetInfo.mainCjs,
              weapon: assetInfo.weaponId,
              attack: assetInfo.attackCjs,
              abilities: assetInfo.abilityCjses,
              specials: assetInfo.specialCjses,
              additionalCjs: assetInfo.additionalMainCjs,
              additionalSpecials: assetInfo.additionalSpecialCjses,
              summons: assetInfo.summonCjses,
              isEnemy: assetInfo.isEnemy,
              isMainCharacter: assetInfo.isMainCharacter,
              isChargeAttackSkip: assetInfo.isChargeAttackSkip,
              chargeAttackStartFrame: assetInfo.chargeAttackStartFrame,
              startMotion: assetInfo.startMotion,
          })
      );
      actorAssets.push(
          new Animation("effects", {
          // cjs: "raid_mortal_skip", // animation to play
          cjs: "npc_3040585000_01", // animation to play
          specials: ["raid_mortal_skip"], // charge attacks
          demoMotions: ["stbwait"], // animation playlist under the Demo action
          isEnemy: false
      }))

      function init() {

          console.log(`[init] actorAssets = `, actorAssets);

          actorAssets.forEach((animation, index) => {
              loadActor(animation,
                  {
                      use_game_config: "local",
                      game: {
                          local: {
                              corsProxy: null,
                              xjsUri: "/gbf",
                              jsUri: "/gbf",
                              imgUri: "/gbf/img",
                              soundUri: "https://prd-game-a5-granbluefantasy.akamaized.net/assets/sound",
                              extern: "https://prd-game-a1-granbluefantasy.akamaized.net/assets",
                              bgUri: ".",
                              testUri: null
                          }, buttons: {},
                          default_background: "",
                          backgrounds: {
                              "<img src=\"/assets/bg_grid.png\">": "/assets/bg_grid.jpg",
                          },
                          audio_disabled: false
                      }
                  }
              )
          })
      }

      // 페이지 로드시 한 번만
      if (!window.require_is_configured) {
          require.config({
              baseUrl: "",
              paths: {
                  "jquery": "/static/js/vendors/jquery",
                  "slick": "/static/js/slick/slick",
                  "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min",
                  "createjs": "/static/js/vendors/createjs",
                  "underscore": "/static/js/vendors/underscore",
                  "backbone": "/static/js/vendors/backbone",
                  "lib/raid/extension": "/static/js/gbfap/raid_extension",
                  "lib/sound": "/static/js/gbfap/audio",
                  "js/actor": "/static/js/gbfap/actor",
                  "js/player": "/static/js/gbfap/player",
                  "js/player_ui": "/static/js/gbfap/player_ui",
                  "js/loader": "/static/js/gbfap/loader",
              },
              shim: {
                  slick: {
                      deps: ["jquery"],
                      exports: "jQuery.fn.slick"
                  }
              }
          });

          require(["jquery"], function ($) {
              // 모듈 미리 로드(캐시됨)
              window.$ = $;
              require([
                  "slick", "underscore", "createjs", "backbone", "lib/sound",
                  "lib/raid/extension", "js/actor", "js/player", "js/player_ui", "js/loader", "bootstrap"
              ], function (slick, underscore, createjs, backbone) {
                  $(function () {
                      // 스케일 초기화
                      let scale = window.innerWidth / 390;
                      scale = scale > 2 ? 2 : scale;
                      console.log(`[scaleInit] innerWidth = ${window.innerWidth} scale = ${scale}`);
                      $('#container').css({
                          'transform': `scale(${scale})`,
                          'transform-origin': 'top left',
                      });

                      $('#abilitySlider').slick({speed: 200, arrows: false});
                      monkeypatch_createjs();
                      _ = underscore; // 필요시 글로벌로 설정
                      window.require_is_configured = true;

                      init();

                      $('body').one('click', function () {
                          window.effectAudioPlayer = new AudioPlayer();
                          window.effectAudioPlayer.init();
                      })

                      // 모든 idle 무브에 loop 추가
                      $('#videoContainer .idle').attr('loop', true);

                      // 적 시작 이펙트 및 사운드 재생
                      setTimeout(function () {
                          let standbyMoveType = MoveType.byClassName($('.enemy-video-container').attr('data-standby-move-class'));
                          console.log(`[enemyMoveInit] standbyMoveType`, standbyMoveType);
                          if (standbyMoveType == MoveType.NONE) { // 스탠바이 없으면 IDLE 보이게 하고 끝
                              $('.enemy-video-container .idle-default').removeClass('hidden').get(0)?.play();
                              return;
                          }
                          let $enemyVideo = getVideo(0, standbyMoveType, standbyMoveType.getIdleType());
                          playVideo($enemyVideo.effect, null, $enemyVideo.idle);
                          window.effectAudioPlayer.loadAndPlay($('.enemy-audio-container').find('.' + standbyMoveType.className).attr('src'));
                      }, 1000); // CHECK 나중에 적절한 로드 시점으로 변경

                      // 아군 시작시 idle 보이게 및 재생
                      $('.party-video-container .idle-default').each(function (index, partyVideo) {
                          $(partyVideo).removeClass('hidden').get(0).play();
                      });

                      // 오의 on off 리스너
                      $('#chargeAttackActiveCheck').on('change', function () {
                          $(this).prop('disabled', true);
                          requestToggleChargeAttack($(this).prop('checked'));
                          setTimeout(() => {
                              $(this).prop('disabled', false);
                          }, 500);
                      });

                      // 어빌리티 커맨드에서 스테이터스 12개 이상인경우 끊어서 보여주기
                      let statusShowHideInterval = null;
                      $('#abilitySlider').on('afterChange', function (event, slick, currentSlideIndex) {
                          // console.log('current', currentSlideIndex);
                          clearInterval(statusShowHideInterval);
                          let $currentStatuses = $('.slick-active .status-container .status:not(.d-none)'); // 안보이는거 제외한 스테이터스
                          if ($currentStatuses.length > 11) {
                              let statusShowHideCallback = function () {
                                  // console.log('interval', currentSlideIndex + 1);
                                  let $frontStatues = $('.slick-active .status-container .status').slice(0, 11); // 갱신되면 다시찾아야됨
                                  $frontStatues.show(0).delay(1000).hide(0);
                              }
                              statusShowHideCallback();
                              statusShowHideInterval = setInterval(statusShowHideCallback, 2000);
                          }
                      })

                      $('#attackButton').on('click', function () {
                          requestTurnProgress();
                      })

                      // 소환석 클릭 이벤트리스너
                      $('#commandContainer .summon-list .summon-list-item:not(.empty)').on('click', function () {
                          let characterId = $('#partyCommandContainer .battle-portrait').eq(0).data('character-id');
                          let summonId = $(this).data('summon-id');
                          requestMove(characterId, summonId);
                      });

                      // 어빌리티 슬라이더 버튼 클릭
                      $('.ability-slider-slide-button-wrapper').on('click', function () {
                          $(this).hasClass('to-right') ? $('#abilitySlider').slick('slickNext') : $('#abilitySlider').slick('slickPrev');
                      })

                      // 배틀 초상화 클릭 -> 어빌리티 슬라이더 오픈
                      $('.battle-portrait').on('click', function () {
                          let abilitySliderWidth = $('#abilitySlider .slick-track').width();
                          let battlePortraitIndex = $(this).index();
                          // console.log('[.battle-portrait.onClick] battlePortraitindex = ' + battlePortraitIndex);
                          $('#abilitySlider').slick('slickGoTo', battlePortraitIndex, true, {speed: 0})
                          $('#abilitySlider').css('z-index', '1');
                          $('.present-container').addClass('hidden');

                          $('.ability-slider-slide-button-wrapper').show();
                          $('.ability-back-button').show();
                      })

                      // 어빌리티 뒤로 버튼 -> 어빌리티 슬라이더 닫기
                      $('.ability-back-button').on('click', function () {
                          $('#abilitySlider').css('z-index', '-1');
                          $('.ability-slider-slide-button-wrapper').hide();
                          $('.present-container').removeClass('hidden');
                          clearInterval(statusShowHideInterval); // 스테이터스 끊어보여주기 인터벌 해제
                          $(this).hide();
                      });

                      // 어빌리티 슬라이더에서 스테이터스 상세확인
                      $('.show-status-info-button-wrapper').on('click', function () {
                          openStatusWrapperInfo($(this).closest('.status-container'));
                      })

                      function openStatusWrapperInfo($statusContainer) {
                          // console.log('[openStatusWrapperInfo] statusContainer = ', $statusContainer);
                          let $statusInfoModal = $('#statusInfoModal .status-info-wrapper');
                          $statusInfoModal.children().remove();
                          let isEnemy = $statusContainer.is('.enemy');
                          let isOmenActivated = $('.omen-container').is('.activated');
                          if (isEnemy && isOmenActivated) { // 적이고, 전조 있으면 전조정보 표시
                              let omenInfo = '전조 효과 : ' + $('.omen-container .omen-info').text();
                              let omenTypeClassName = $('.omen-container .omen-text').attr('class').split(' ')[1];
                              omenInfo = omenInfo.replace(/\\n/g, '<br>특수기 효과:');
                              let $omenInfo = $('<div>').addClass('status-info omen ' + omenTypeClassName).html(omenInfo);
                              $statusInfoModal.append($omenInfo).append($('<hr>'));
                          }
                          $statusContainer.find('.status').each(function (index, status) {
                              let $status = $(status);
                              let iconSrc = $status.find('.status-icon').attr('src');
                              let statusInfoText = $status.find('.status-info-text').text();
                              let statusName = $status.find('.status-name').text();
                              let statusType =
                                  $status.data('status-type') === 'BUFF' || $status.data('status-type') === 'DISPEL_GUARD'
                                      ? 'status-buff'
                                      : 'status-debuff';
                              let statusDuration = $status.find('.status-duration').text();
                              statusDuration = Number.parseInt(statusDuration) > 999 ? '영속' : statusDuration + '턴';
                              let $statusInfo = $('<div>').addClass('status-info ' + statusType)
                                  .append($('<div>').addClass('status-info-icon-wrapper')
                                      .append($('<img>').addClass('status-info-icon').attr('src', iconSrc)))
                                  .append($('<div>').addClass('status-info-text').text(statusInfoText)
                                      .prepend($('<span>').addClass('status-info-name fw-bold').text(statusName + ": "))
                                      .append($('<span>').addClass('status-info-duration fw-bold').text(' [남은시간: ' + statusDuration + ']')));
                              $statusInfoModal.append($statusInfo).append($('<hr>'));
                          })
                          $('.status-modal-button').click();
                      }

                      // 가드버튼 이벤트 등록
                      $('.guard-button').each(function (index, guardButton) {
                          let pressStart = 0;
                          const executionDelay = 500; // 최소 실행 딜레이
                          const longPressThreshold = 800; // 길게누르기 지연시간
                          let longPressTimer = null; // 길게누르기 자동실행 타이머
                          let mouseUpTriggered = false; // 길게누르기 자동실행으로 mouseup 트리거 됫는지 확인하는 플래그
                          $(guardButton).on('mousedown touchstart', function (e) {
                              // console.log('[.guardButton mouseDown, touchStart] pressStart = ', pressStart);
                              if (e.timeStamp - pressStart < executionDelay) {
                                  mouseUpTriggered = true;
                                  return;
                              }
                              pressStart = e.timeStamp; // 시작시간 기록
                              longPressTimer = setTimeout(() => {
                                  $(guardButton).trigger('mouseup'); // 길게누르기 시간 경과시 자동으로 mouseup 트리거
                                  mouseUpTriggered = true;
                              }, longPressThreshold);
                          });
                          $(guardButton).on('mouseup touchend', function (e) {
                              // console.log('[.guardButton mouseup eventListener] times start = ', pressStart, ' end = ', e.timeStamp, 'duration = ', e.timeStamp - pressStart, 'mouseUpTriggered = ', mouseUpTriggered);
                              if (mouseUpTriggered) {
                                  mouseUpTriggered = false; // 자동으로 mouseup 발생시 플래그 초기화후 처리없이 반환
                                  return;
                              }
                              clearTimeout(longPressTimer);
                              const pressDuration = e.timeStamp - pressStart;
                              if (pressDuration >= longPressThreshold) {
                                  // 길게 누르기
                                  requestGuard(index + 1, 'PARTY_MEMBERS');
                              } else {
                                  // 짧게 클릭
                                  requestGuard(index + 1, 'SELF');
                              }
                          });
                      });

                      // 방 나가기 이벤트 등록
                      $('.exit-room-button').on('click', function () {
                          if (!confirm("방에서 퇴장하면 클리어시 획득 가능한 아이템이나 공헌도를 모두 잃습니다")) return;
                          $('#exitRoomForm').submit();
                      })
                  });
              });
          })


      }
  </script>
  <script>
      // $(function () { // 테스트
      //
      //     // 테스트용 버튼 클릭
      //     // $('.sound-button-wrapper button').on('click', {}, triggerShake);
      //     $('.sound-button-wrapper button').on('click', function () {
      //         // processHealEffect([1,1,1,1], 0)
      //         init()
      //     });
      //
      //     // 테스트용 흔들기
      //     function triggerShake() {
      //         let $videoContainer = $('#videoContainer');
      //         $videoContainer.addClass('shake-right-effect');
      //         // 애니메이션 종료 후 클래스 제거
      //         setTimeout(() => {
      //             $videoContainer.removeClass('shake-right-effect');
      //         }, 200);
      //     }
      //
      //     // 글로벌 이펙트 테스트
      //     // $('.global-effect-video').attr('src', GlobalSrc.HEAL.video).removeClass('hidden').attr('loop', true).each(function () {
      //     //     this.play();
      //     // })
      //
      // })
  </script>
  <link rel="stylesheet" href="../static/css/battle/ability.css">
</head>
<body>
<div id="container">
  <div id="battleCanvasTopMenu">
    <div class="top-menu-container">
      <div class="sound-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light">sound</button>
      </div>
      <div class="turn-indicator"><span class="turn-value"
                                        th:text="${member.getCurrentTurn()}">1</span><span> turn</span></div>
      <div class="time-indicator"><i class="bi bi-stopwatch me-1"></i>12:34</div>
      <div class="menu-button-wrapper top-menu-button-wrapper">
        <button type="button" class="btn btn-light menu-modal-button" data-bs-toggle="modal"
                data-bs-target="#menuModal">
          메뉴
        </button>
      </div>
    </div>
  </div>

  <div id="battleCanvas">

    <div class="waiting-video-container">
      <video class="waiting-video" muted playsinline loop preload="auto"
             src="/static/assets/video/gl/waiting.webm"
      >
      </video>
    </div>

    <div class="omen-container omen-container-bottom enemy blinking-element"
         th:classappend="${battleEnemyInfo.omenActivated ? 'activated' : ''}">
      <div class="omen-text"
           th:classappend="${battleEnemyInfo.isOmenActivated() ? battleEnemyInfo.omenType.className : ''}">
      <span class="omen-prefix"
            th:text="${battleEnemyInfo.omenType == null ? '' : '[' + battleEnemyInfo.omenType.info + '] ' + battleEnemyInfo.omenName}">전조이름</span>
      </div>
    </div>

    <div class="enemy-info-container">
      <div class="hp-container enemy">
        <div class="value-hp" th:text="${battleEnemyInfo.getHpRate() + '%'}">100%</div>
        <div class="progress hp-bar" role="progressbar" aria-label="Danger example" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100" style="height: 10px">
          <div class="progress-bar hp-bar-realtime bg-danger" style="width: 100%"
               th:style="${'width: ' + battleEnemyInfo.hpRate + '%'}"></div>
          <div class="hp-trigger hp-trigger-1"></div>
        </div>
      </div>
      <div class="status-container enemy actor-0">
        <div class="show-status-info-button-wrapper enemy">
          <button class="btn btn-outline-light button-xsm">상세</button>
        </div>
        <div class="status" th:each="status : ${battleEnemyInfo.statuses}"
             th:data-status-type="${status.status.type}">
          <img class="status-icon" src="/static/assets/img/status/buff/status-defence-up.png"
               th:src="${status.iconSrc}"/>
          <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
          <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
          <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="charge-turn-container enemy">
          <div class="charge-turn" th:each="chargeGauge : ${battleEnemyInfo.maxChargeGauge}"
               th:classappend="${chargeGaugeStat.index < battleEnemyInfo.currentChargeGauge ? 'active' : ''}"></div>
        </div>
        <div class="omen-container enemy omen-container-top"
             th:classappend="${battleEnemyInfo.omenActivated ? 'activated' : ''}">
          <div class="omen-text"
               th:classappend="${battleEnemyInfo.isOmenActivated() ? battleEnemyInfo.omenType.className : ''}">
            <span class="omen-prefix" th:text="${battleEnemyInfo.omenPrefix}">전조 조건 </span>
            <span class="omen-value"
                  th:text="${battleEnemyInfo.isOmenActivated() && battleEnemyInfo.omenPrefix.contains('해제불가') ? '' : battleEnemyInfo.omenValue}">값</span>
            <span class="omen-info" th:text="${battleEnemyInfo.omenInfo}">전조 설명</span>
          </div>
        </div>
      </div>
    </div>

    <div id="audioContainer" class="battle-canvas">
      <div class="enemy-audio-container">
        <audio class="audio actor-0"
               th:each="entry : ${enemyAudioSrcMap}"
               th:if="${entry.key.length() > 0}"
               th:src="${entry.key}"
               th:classappend="${#strings.listJoin(entry.value, ' ')}">
        </audio>
      </div>
      <div class="party-audio-container">
        <div class="party-audio-wrapper" th:each="characterAudioSrcMap : ${characterAudioSrcMaps}"
             th:classappend="'party-' + ${characterAudioSrcMapStat.count}">
          <audio class="audio"
                 th:each="entry : ${characterAudioSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value} + ' actor-' + ${characterAudioSrcMapStat.count}">">
          </audio>
        </div>
      </div>
      <div class="summon-audio-container">
        <audio class="audio summon-audio"
               th:data-summon-id="${summonInfos.get(stat.index).id}"
               th:each="entry, stat : ${summonAudioSrcMap}"
               th:src="${entry.key}">
        </audio>
      </div>
    </div>

    <div id="canvasContainer"></div>

    <div id="videoContainer" class="battle-canvas">
      <div class="container-bg">
        <img src="/static/assets/img/enemy/diaspora2/bg.jpg" width="100%">
      </div>

      <div class="enemy-video-container" th:data-phase="${battleEnemyInfo.getPhase()}"
           th:data-standby-move-class="${battleEnemyInfo.initialMoveType.parentType.className.equals('standby') ? battleEnemyInfo.initialMoveType.className : 'none'}">
        <video class="hidden enemy-video actor-0" muted playsinline preload="auto"
               th:each="entry : ${enemyVideoSrcMap}"
               th:if="${entry.key.length() > 0}"
               th:src="${entry.key}"
               th:data-effect-hit-delay="${entry.value.effectHitDelay}"
               th:classappend="${#strings.listJoin(entry.value.classNames, ' ')}">
        </video>

        <!--        <video class="enemy-video idle motion" loop muted autoplay playsinline preload="auto"-->
        <!--               src="/static/assets/video/enemy/diaspora2/idle.webm"-->
        <!--        ></video>-->

      </div>
      <div class="party-video-container">
        <div class="party-video-wrapper party-1" th:each="characterVideoSrcMap : ${characterVideoSrcMaps}"
             th:classappend="'party-' + ${characterVideoSrcMapStat.count}">
          <video class="party-video hidden" muted playsinline preload="auto"
                 th:each="entry : ${characterVideoSrcMap}"
                 th:src="${entry.key}"
                 th:classappend="${entry.value} + ' actor-' + ${characterVideoSrcMapStat.count}">
          </video>

          <!-- TEST ================================================= -->
          <!--                    <video class="party-video attack motion" loop muted autoplay playsinline preload="auto"-->
          <!--                           src="/static/assets/video/ch/paladin/single-attack-motion.webm"-->
          <!--                    ></video>-->
          <!--          <video class="party-video attack large" loop muted autoplay playsinline preload="auto"-->
          <!--                 src="/static/assets/video/ch/yachima/single-attack.webm"-->
          <!--          ></video>-->
          <!--          <video class="party-video attack for-test" loop muted autoplay playsinline preload="auto"-->
          <!--                 src="/static/assets/video/gl/hauhet.webm"-->
          <!--                 ></video>-->
          <!--          <video class="party-video attack for-test" loop muted autoplay playsinline preload="auto"-->
          <!--                 src="/static/assets/video/gl/hauhet1.webm">-->
          <!--          </video>-->
        </div>

        <!--        <div class = "party-1">-->
        <!--          <video class="party-video idle motion" loop muted autoplay playsinline preload="auto"-->
        <!--                 src="/static/assets/video/ch/paladin/idle.webm"></video>-->
        <!--        </div>-->
        <!--        <div class="party-2">-->
        <!--          <video class="party-video idle motion" loop muted autoplay playsinline preload="auto"-->
        <!--                 src="/static/assets/video/ch/paladin/idle.webm"-->
        <!--          ></video>-->
        <!--        </div>-->
        <!--        <div class="party-3">-->
        <!--          <video class="party-video idle motion" loop muted autoplay playsinline preload="auto"-->
        <!--                 src="/static/assets/video/ch/paladin/idle.webm"-->
        <!--          ></video>-->
        <!--        </div>-->
        <!--        <div class="party-4">-->
        <!--          <video class="party-video idle motion" loop muted autoplay playsinline preload="auto"-->
        <!--                 src="/static/assets/video/ch/paladin/idle.webm"-->
        <!--          ></video>-->
        <!--        </div>-->

      </div><!-- .party-video-container -->

      <div class="summon-video-container">
        <video class="hidden summon-video" muted playsinline
               th:data-summon-id="${summonInfos.get(stat.index).id}"
               th:each="entry, stat : ${summonVideoSrcMap}"
               th:src="${entry.key}">
        </video>
      </div>


      <div class="global-video-container">
        <div class="global-effect-video-wrapper actor-0">
          <video muted playsinline class="global-effect-video actor-0 hidden" src=""></video>
        </div>
        <div class="global-effect-video-wrapper actor-1">
          <div class="guard-status">
            <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
            <div class="guard-status-effect"></div>
          </div>
          <video muted playsinline class="global-effect-video actor-1 hidden" src=""></video>
        </div>
        <div class="global-effect-video-wrapper actor-2">
          <div class="guard-status">
            <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
            <div class="guard-status-effect"></div>
          </div>
          <video muted playsinline class="global-effect-video actor-2 hidden" src=""></video>
        </div>
        <div class="global-effect-video-wrapper actor-3">
          <div class="guard-status">
            <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
            <div class="guard-status-effect"></div>
          </div>
          <video muted playsinline class="global-effect-video actor-3 hidden" src=""></video>
        </div>
        <div class="global-effect-video-wrapper actor-4">
          <div class="guard-status">
            <img class="guard-status-image" src="/static/assets/img/gl/ui-guard-status.png" alt="guard-status">
            <div class="guard-status-effect"></div>
          </div>
          <video muted playsinline class="global-effect-video actor-4 hidden" src=""></video>
        </div>

        <video muted playsinline
               class="global-video hidden fatal-chain-video"
               src="" th:src="${fatalChainInfo.effectVideoSrc}"
               width="100%">
        </video>
        <video muted playsinline
               class="global-video hidden enemy-video enemy-charge-attack-start"
               src="/static/assets/video/gl/enemy-charge-attack-start.webm"
               width="100%">
        </video>
        <video muted playsinline
               class="global-video hidden enemy-video enemy-power-up"
               src="/static/assets/video/gl/enemy-power-up.webm"
               width="100%">
        </video>
        <video muted playsinline
               class="global-video hidden enemy-video enemy-ct-max"
               src="/static/assets/video/gl/enemy-ct-max.webm"
               width="100%">
        </video>
      </div>
      <div class="global-audio-container">
        <audio class="audio fatal-chain-audio"
               src="" th:src="${fatalChainInfo.seAudioSrc}"></audio>

        <audio class="audio enemy-charge-attack-start"
               src="/static/assets/audio/gl/enemy-charge-attack-start.mp3"></audio>
        <audio class="audio enemy-power-up"
               src="/static/assets/audio/gl/enemy-power-up.mp3"></audio>
        <audio class="audio enemy-ct-max"
               src="/static/assets/audio/gl/enemy-ct-max.mp3"></audio>

        <audio class="audio status-removed"
               src="/static/assets/audio/gl/gl-status-removed.mp3"></audio>
        <audio class="audio guard-on"
               src="/static/assets/audio/gl/gl-guard-on.mp3"></audio>
        <audio class="audio guard-off"
               src="/static/assets/audio/gl/gl-guard-off.mp3"></audio>

        <audio class="audio heal"
               src="/static/assets/audio/gl/gl-heal.mp3"></audio>

      </div>
      <div class="global-image-container">
      </div>

    </div> <!-- #videoContainer -->

    <div id="attackDamageContainer" class="battle-canvas damage-container">
      <!--           일반공격 데미지가 겹칠수 있기 때문에 각 캐릭터별 wrapper 까지 추가-->
      <!--      <div class="attack-damage-wrapper actor-2">-->
      <!--        <div class="attack-damage actor-2 element-type-water attack-damage-0 damage-show">36372</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water additional-damage-wrapper-0">36372-->
      <!--          <div class="additional-damage element-type-water damage-show">15241</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17938</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-1 damage-show">36231</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-1">36231-->
      <!--          <div class="additional-damage element-type-water damage-show">15300</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17797</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-2 damage-show">36473</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-2">36473-->
      <!--          <div class="additional-damage element-type-water damage-show">15289</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17911</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-3 damage-show">36473</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-2">36473-->
      <!--          <div class="additional-damage element-type-water damage-show">15289</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17911</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water attack-damage-1 damage-show">36238</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water additional-damage-wrapper-1">36238-->
      <!--          <div class="additional-damage element-type-water damage-show">15291</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17837</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-1">36326</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-1">36326-->
      <!--          <div class="additional-damage element-type-water">15158</div>-->
      <!--          <div class="additional-damage element-type-water">17857</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-2">36296</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-2">36296-->
      <!--          <div class="additional-damage element-type-water">15236</div>-->
      <!--          <div class="additional-damage element-type-water">17790</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water attack-damage-2 damage-show">36299</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water additional-damage-wrapper-2">36299-->
      <!--          <div class="additional-damage element-type-water damage-show">15257</div>-->
      <!--          <div class="additional-damage element-type-water damage-show">17903</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-1">36508</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-1">36508-->
      <!--          <div class="additional-damage element-type-water">15295</div>-->
      <!--          <div class="additional-damage element-type-water">17823</div>-->
      <!--        </div>-->
      <!--        <div class="attack-damage actor-2 element-type-water multi-attack-damage-2">36403</div>-->
      <!--        <div class="additional-damage-wrapper actor-2 element-type-water multi-attack-additional-damage-wrapper-2">36403-->
      <!--          <div class="additional-damage element-type-water">15176</div>-->
      <!--          <div class="additional-damage element-type-water">17916</div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div id="abilityDamageContainer" class="battle-canvas damage-container">
      <!-- max 12, 10에서 컷-->
      <!--        <div class="ability-damage-wrapper ability-index-0">-->
      <!--          <div class="ability-damage element-type-water" style="opacity: 1">10000</div>-->
      <!--          <div class="ability-damage element-type-water" style="opacity: 1">10000</div>-->
      <!--        </div>-->
    </div>

    <div id="chargeAttackDamageContainer" class="battle-canvas damage-container">
      <!--        <div class="charge-attack-damage-wrapper">-->
      <!--      <div class="charge-attack-damage">1000000</div>-->
      <!--        </div>-->
    </div>

    <div id="enemyAttackDamageContainer" class="battle-canvas damage-container">
      <!--      적 공격 데미지, actor 마다 추가되며 재공격시 이전공격 데미지와 공존가능 -->
      <!--            <div class="enemy-damage-wrapper actor-1">-->
      <!--              <div class="damage enemy-attack-damage actor-1 element-type-earth heal">4998</div>-->
      <!--              <div class="damage enemy-attack-damage actor-1 element-type-earth enemy-damage-show">4998</div>-->
      <!--              <div class="damage enemy-additional-damage-wrapper actor-1 element-type-earth">4998-->
      <!--                <div class="damage additional-damage element-type-earth enemy-damage-show">4951</div>-->
      <!--              </div>-->
      <!--              <div class="damage enemy-attack-damage actor-1 element-type-earth enemy-damage-show">4990</div>-->
      <!--              <div class="damage enemy-additional-damage-wrapper actor-1 element-type-earth">4990-->
      <!--                <div class="damage additional-damage element-type-earth enemy-damage-show">4967</div>-->
      <!--              </div>-->
      <!--              <div class="damage enemy-attack-damage actor-1 element-type-earth enemy-damage-show">4971</div>-->
      <!--              <div class="damage enemy-additional-damage-wrapper actor-1 element-type-earth">4971-->
      <!--                <div class="damage additional-damage element-type-earth enemy-damage-show">4979</div>-->
      <!--              </div>-->
      <!--            </div>-->
    </div>

    <div class="status-effect-container battle-canvas">
      <div class="status-effect-wrapper dummy actor-0 status-index-9999 enemy"></div>
      <div class="status-effect-wrapper dummy actor-1 status-index-9999 party"></div>
      <div class="status-effect-wrapper dummy actor-2 status-index-9999 party"></div>
      <div class="status-effect-wrapper dummy actor-3 status-index-9999 party"></div>
      <div class="status-effect-wrapper dummy actor-4 status-index-9999 party"></div>

      <!--            <div class="status-effect-wrapper actor-2 status-index-0 party">-->
      <!--              <div class="status-effect status-effect-index-0 buff" style="opacity: 1;">-->
      <!--                <img src="/static/assets/img/ch/yachima/status-ability-1-3.png" class="">-->
      <!--                <span class="status-effect-text">난격 (3회)</span></div>-->
      <!--              <div class="status-effect status-effect-index-1 buff" style="opacity: 1;">-->
      <!--                <img src="/static/assets/img/ch/yachima/status-ability-1.png" class="">-->
      <!--                <span class="status-effect-text">추격 (A)</span></div>-->
      <!--            </div>-->
      <!--            <div class="status-effect-wrapper actor-0 status-index-0 enemy">-->
      <!--              <div class="status-effect status-effect-index-0 debuff" style="opacity: 1;">-->
      <!--                <img src="/static/assets/img/ch/yachima/status-de-ability-1-5.png" class="">-->
      <!--                <span class="status-effect-text">디그레이드 스피넬</span>-->
      <!--              </div>-->
      <!--              <div class="status-effect status-effect-index-0 debuff" style="opacity: 1;">-->
      <!--                <img src="/static/assets/img/ch/yachima/status-de-ability-1-5.png" class="">-->
      <!--                <span class="status-effect-text">디그레이드 스피넬</span>-->
      <!--              </div>-->
      <!--              <div class="status-effect status-effect-index-0 debuff" style="opacity: 1;">-->
      <!--                <img src="/static/assets/img/ch/yachima/status-de-ability-1-5.png" class="">-->
      <!--                <span class="status-effect-text">디그레이드 스피넬</span>-->
      <!--              </div>-->
      <!--            </div>-->
    </div>

    <div class="ability-back-button-wrapper">
      <button class="ability-back-button btn btn-outline-primary">
        뒤로
      </button>
    </div>

  </div><!-- #battleCanvas -->

  <div id="commandContainer">
    <div id="abilityRail">
      <div class="ability-rail-wrapper">
        <div class="rail-ability-dummy rail-ability-0"> <!-- 더미는 높이 유지용으로 만듦. -->
          <img src="/static/assets/img/ch/paladin/ability-1.png">
        </div>
      </div>
    </div>

    <div id="partyCommandContainer">

      <div class="battle-member-wrapper">
        <div class="battle-portrait" th:each="characterInfo : ${battleCharacterInfos}"
             th:data-character-id="${characterInfo.id}" th:classappend="${'actor-' + characterInfoStat.count}">
          <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
               th:src="${characterInfo.portraitSrc}">
          <div class="hp-gauge-wrapper">
            <div class="hp-gauge">
              <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-danger" style="width: 50%"
                     th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
              </div>
            </div>
          </div>
          <div class="charge-gauge-wrapper">
            <div class="charge-gauge">
              <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">50</span>%
              </div>
              <div class="progress" role="progressbar">
                <div class="progress-bar bg-warning" style="width: 50%"
                     th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
              </div>
            </div>
          </div>
        </div>

        <!--더미-->
        <div class="battle-portrait empty"
             th:each="index : ${#numbers.sequence(0, 3 - battleCharacterInfos.size(), 1)}">
          <img src="/static/assets/img/gl/ch-empty.jpg" th:data-seq="${index}">
        </div>


      </div>


      <div class="summon-button-wrapper">
        <div class="summon-portrait">
          <button class="summon-display-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#summonCollapse" aria-expanded="false" aria-controls="summonCollapse">
          </button>
          <img src="/static/assets/img/ui/ui-summon-active.png">
        </div>
      </div>


      <div class="summon-display-wrapper">
        <div class="collapse collapse-horizontal" id="summonCollapse">
          <div class="summon-collapse">
            <div class="summon-list clearfix">
              <div class="summon-list-item" th:each="summonInfo : ${summonInfos}" th:data-summon-id="${summonInfo.id}">
                <img src="/static/assets/img/summon/empty.jpg" th:src="${summonInfo.iconImageSrc}">
                <div class="summon-cooldown" th:text="${summonInfo.getCooldown() + ' 턴'}">
                  -1턴
                </div>
                <div class="summon-disable-overlay">

                </div>
              </div>

              <div class="summon-list-item empty" th:each="index : ${#numbers.sequence(0, 3 - summonInfos.size(), 1)}">
                <img src="/static/assets/img/summon/empty.jpg">
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="ability-slider-slide-button-wrapper to-right">
        <button class="btn button-xsm"><i class="bi bi-caret-right"></i></button>
      </div>
      <div class="ability-slider-slide-button-wrapper to-left">
        <button class="btn button-xsm"><i class="bi bi-caret-left"></i></button>
      </div>

      <div id="abilitySlider">
        <div class="slick-slider-item" th:each="characterInfo : ${battleCharacterInfos}">
          <div class="ability-panel" th:data-character-order="${characterInfoStat.count}"
               th:classappend="${'actor-' + characterInfoStat.count}">
            <div class="ability-battle-portrait">
              <img src="/static/assets/img/ch/paladin/battle-portrait.jpg"
                   th:src="${characterInfo.portraitSrc}">
              <div class="hp-gauge-wrapper">
                <div class="hp-gauge">
                  <div class="hp-gauge-value"><span class="value" th:text="${characterInfo.hp}">123</span></div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-danger" style="width: 50%"
                         th:style="${'width: ' + characterInfo.hpRate + '%'}"></div>
                  </div>
                </div>
              </div>
              <div class="charge-gauge-wrapper">
                <div class="charge-gauge">
                  <div class="charge-gauge-value"><span class="value" th:text="${characterInfo.chargeGauge}">75</span>%
                  </div>
                  <div class="progress" role="progressbar">
                    <div class="progress-bar bg-warning" style="width: 100%"
                         th:style="${'width: ' + characterInfo.chargeGauge + '%'}"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrapper">
              <div class="charge-attack-wrapper">
                <div class="charge-attack-info">
                <span class="charge-attack-name fw-bold" th:text="${'[오의] ' + characterInfo.chargeAttack.name}">
                  오의 이름
                </span>
                  <span> : </span>
                  <span class="charge-attack-text" th:text="${characterInfo.chargeAttack.info}">
                  오의 설명
                </span>
                </div>
              </div>
              <div class="ability-wrapper">
                <div class="ability-icon" th:each="ability : ${characterInfo.abilities}"
                     th:data-ability-id="${ability.id}" th:data-ability-order="${abilityStat.count}">
                  <img src="/static/assets/img/ch/paladin/ability-1.png"
                       th:src="${ability.iconImageSrc}"/>
                  <div class="ability-cooldown-text"
                       th:classappend="${characterInfo.abilityCoolDowns.get(abilityStat.index).equals(0) ? 'active' : 'inactive'}">
                    <span class="value" th:text="${characterInfo.abilityCoolDowns.get(abilityStat.index)}">00</span>턴
                  </div>
                  <div class="ability-overlay"></div>
                  <div class="ability-info-text" th:text="${ability.info}">어빌리티 설명</div>
                </div>
              </div>
            </div>
            <div class="status-container party" th:classappend="${'actor-' + characterInfoStat.count}">
              <div class="show-status-info-button-wrapper">
                <button class="btn btn-outline-light button-xsm">상세</button>
              </div>
              <div class="status" th:each="status : ${characterInfo.statuses}"
                   th:data-status-type="${status.status.type}"
                   th:classappend="${statusStat.index > 0 && (
                   characterInfo.statuses.get(statusStat.index - 1).status.name.equals(status.status.name)
                   || characterInfo.statuses.get(statusStat.index - 1).iconSrc.equals(status.iconSrc)
                    ) ? 'd-none' : ''}">
                <img class="status-icon" src="/static/assets/img/ch/paladin/status-ability-support-1.png"
                     th:src="${status.iconSrc}"/>
                <div class="status-name d-none" th:text="${status.status.name}">스테이터스 이름</div>
                <div class="status-info-text d-none" th:text="${status.status.statusText}">스테이터스 설명</div>
                <div class="status-duration d-none" th:text="${status.duration}">스테이터스 효과턴</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="advanced-command-container">
      <div class="guard-button-wrapper">
        <div class="guard-button party-1">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-2">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-3">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
        <div class="guard-button party-4">
          <img class="guard-img" src="/static/assets/img/gl/ui-guard-off.png" alt="guard-image">
        </div>
      </div>
      <div class="fatal-chain-gauge-wrapper">
        <div class="fatal-chain-gauge-label">FC</div>
        <div class="progress fatal-chain-gauge" role="progressbar">
          <div class="progress-bar bg-warning" style="width: 10%"
               th:style="${'width: ' + fatalChainInfo.gaugeValue + '%'}"></div>
          <div class="fatal-chain-gauge-value"><span class="value" th:text="${fatalChainInfo.gaugeValue}">10</span>%
          </div>
        </div>
        <div class="fatal-chain-gauge-info" th:text="${fatalChainInfo.name + ' : ' + fatalChainInfo.info}"
             th:data-fatal-chain-move-id="${fatalChainInfo.id}">info
        </div>
      </div>
    </div>

    <div class="sub-command-container">
      <button type="button" class="btn btn-outline-success">회복</button>
      <div class="form-check form-switch show-ability-info-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="showAbilityInfoCheck">
        <label class="form-check-label" for="showAbilityInfoCheck">어빌리티 설명</label>
      </div>
      <div class="form-check form-switch charge-attack-check-wrapper">
        <input class="form-check-input" type="checkbox" role="switch" id="chargeAttackActiveCheck"
               th:checked="${member.isChargeAttackOn()}">
        <label class="form-check-label" for="chargeAttackActiveCheck">오의 발동</label>
      </div>
    </div>

  </div>

  <hr>


  <div class="test-button-area">
    <label for="motions">Play Motions</label>
    <input type="text" class="form-control " id="motions" value="actor1 attack attack attack">
    <label for="motions">Pairing Motions</label>
    <input type="text" class="form-control mt-2" id="pairingMotions" value="actor0 damage damage damage">
  </div>


  <div class="container position-relative">
    <button class="attack-button" id="attackButton">attack</button>
    <button id="audioButton">audio</button>
    <button id="audioPlayButton">play</button>
  </div>

  <div class="audio-container">
    <audio id="audioPlaying" src="" muted="muted"></audio>
  </div>

  <div id="memberInfo" th:data-member-id="${member.getId()}">
    <p th:text="${'멤버ID ' + member.getId()}">
    </p>
    <!--  <p id="character-info-2" th:data-character-id="${characters[0].getId()}" th:text="${'야치마 id = ' + characters[0].getId()}">-->
    <!--  </p>-->
    <!--  <p id="abilityInfo" th:data-ability-id="1" th:text="1">-->
    <p id="roomInfo" th:data-room-id="${member.room.id}"></p>
  </div>

  <div id="testArea">
    <div th:each="partyMember : ${partyMembers}">
      <p th:text="${partyMember}"></p>
    </div>
    <p th:text="${enemy}"></p>
  </div>

</div> <!-- #container -->


<script>
    $('#motions').on('keydown', function (e) {
        if (e.keyCode == 13) {
            const parts = $('#motions').val().trim().split(/\s+/);
            const actorId = parts[0];
            const motionRequests = parts.slice(1).map(item => item.indexOf('/') >= 0
                ? {motion: item.split('/')[0], index: Number(item.split('/')[1])}
                : {motion: item}
            );
            let playRequests = [];
            motionRequests.forEach((motionRequest, index) => {
                playRequests.push(Player.playRequest(actorId, motionRequest.motion, motionRequest.index));
            })

            console.log(playRequests);
            player.playMotions(playRequests);
        }
    });
    $('#pairingMotions').on('keydown', function (e) {
        if (e.keyCode == 13) {
            const parts = $('#motions').val().trim().split(/\s+/);
            const actorId = parts[0];
            const motionRequests = parts.slice(1).map(item => item.indexOf('/') >= 0
                ? {motion: item.split('/')[0], index: Number(item.split('/')[1])}
                : {motion: item}
            );
            let playRequests = [];
            motionRequests.forEach((motionRequest, index) => {
                playRequests.push(Player.playRequest(actorId, motionRequest.motion, motionRequest.index));
            })

            const pairingParts = this.value.trim().split(/\s+/);
            const pairingActorId = pairingParts[0];
            const pairingMotions = pairingParts.slice(1).map(item => {
                if (item.indexOf('ab_motion') >= 0) {
                    return {motion: item.split('/')[0], index: item.split('/')[1]};
                } else {
                    return {motion: item};
                }
            });
            let paringPlayRequests = [];
            pairingMotions.forEach((pairingMotion, index) => {
                paringPlayRequests.push(Player.playRequest(pairingActorId, pairingMotion.motion, pairingMotion.index));
            })

            player.playMotionsWithPairing(playRequests, paringPlayRequests);
        }
    });


    $('#playMotionsButton').click(function () {
        const motions = $('#motions').val()
            .split(',')// 1. 콤마(,)로 분리해서 배열로 변환
            .map(item => item.trim())// 2. 각 요소의 앞뒤 공백 제거
            .map((item) => [0, item]);// 3. [0, item] 형태로 변환
        players.get('0q').playMotions(motions);
    });
    $('#playPartyMotionsButton').click(function () {
        const motions = $('#motions').val()
            .split(',')// 1. 콤마(,)로 분리해서 배열로 변환
            .map(item => item.trim())// 2. 각 요소의 앞뒤 공백 제거
            .map((item) => [0, item]);// 3. [0, item] 형태로 변환
        players.values().forEach((player, index) =>
            setTimeout(() => {
                player.playerIndex > 0 ? player.playMotions(motions) : null;
            }, index * 1000)
        );
    });
</script>

<!-- 메뉴 모달 -->
<div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="menuModalLabel">메뉴</h1>
      </div>
      <div class="modal-body">
        <div class="test-menu-container m-1 p-2 border border-danger">
          <p>테스트메뉴</p>
          <button class="btn btn-outline-success me-2" onclick="requestResetCoolDown()">쿨타임 초기화</button>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger me-2 exit-room-button">퇴장</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 어빌리티 설명 모달 -->
<button type="button" class="btn btn-primary ability-info-modal-button" data-bs-toggle="modal"
        data-bs-target="#abilityInfoModal">
  어빌리티 설명 모달 버튼
</button>
<div class="modal fade" id="abilityInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">어빌리티 설명</h1>
      </div>
      <div class="modal-body">
        <div class="ability-info-wrapper">
          <div class="ability-info-icon-wrapper">
            <img class="ability-info-icon" src="">
          </div>
          <div class="ability-info-text">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4 close-ability-info-modal-button" data-bs-dismiss="modal">
          닫기
        </button>
        <button type="button" class="btn btn-primary use-ability-button">사용</button>
      </div>
    </div>
  </div>
</div>

<!-- 스테이터스 모달 -->
<button type="button" class="btn btn-primary status-modal-button" data-bs-toggle="modal"
        data-bs-target="#statusInfoModal">
  스테이터스 모달 버튼
</button>
<div class="modal fade" id="statusInfoModal" tabindex="-1"
     aria-labelledby="statusInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="statusModalLabel">현재 스테이터스</h1>
      </div>
      <div class="modal-body">
        <div class="status-info-wrapper">
          <!--          <div class="status-info">-->
          <!--            <div class="status-info-icon-wrapper">-->
          <!--              <img class="status-info-icon" src="">-->
          <!--            </div>-->
          <!--            <div class="status-info-text">-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>

<form id="exitRoomForm" action="/room/exit" method="POST">
  <input type="hidden" name="memberId" th:value="${member.id}">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>

<form id="csrfForm">
  <input id="csrfToken" type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"-->
<!--        crossorigin="anonymous"></script>-->

</body>
</html>