<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>캐릭터 삽입</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/static/js/lib/form-to-json.js"></script>
  <style>
      h2 {
          font-weight: bold;
          margin-top: 1.5rem;
      }

      h3 {
          font-weight: bold;
          margin-top: 1rem;
      }

      .form-control {
          width: 95%;
          margin-left: 1rem;
      }

      .form-check {
          margin-left: 1rem;
      }

      .btn {
          margin: 1rem 1.5rem;
      }

      .status-input-wrapper {
          display: none;
      }

      .status-input-wrapper-origin {
          display: none;
      }

      .attack-input-wrapper {
          background-color: rgba(0, 255, 0, 0.1);
      }

      .charge-attack-input-wrapper {
          background-color: rgba(0, 0, 255, 0.1);
      }

      .ability-input-wrapper {
          background-color: rgba(255, 0, 0, 0.1);
      }


  </style>
  <script>
      $(function () {
          // 상태 =================
          let characterId = null;
          // 상태 =================

// 스테이터스 복사 및 추가
          $('.charge-attack-input-wrapper .status-input-wrapper').each(function (index, element) {
              let regex = /\[\d+\]/g; // [] 안의 숫자를 찾는 정규식
              let attrs = $('.status-input-wrapper-origin input, .status-input-wrapper-origin textarea').get().map(element => element.name);
              let changedAttrs = attrs.map(name => name.replace(regex, '[' + index + ']')); // name = statues[0].type 의 '[0]' 을 '[index]' 로 수정
              $(this).append($('.status-input-wrapper-origin').clone()
                  .find('input, textarea').each(function (index, element) {
                      $(element).attr('name', changedAttrs[index]);
                  }).end().html())
          })
          $('.ability-input-wrapper .status-input-wrapper').each(function (index, element) {
              let regex = /\[\d+\]/g; // [] 안의 숫자를 찾는 정규식
              let attrs = $('.status-input-wrapper-origin input, .status-input-wrapper-origin textarea').get().map(element => element.name);
              let changedAttrs = attrs.map(name => name.replace(regex, '[' + index + ']'));
              $(this).append($('.status-input-wrapper-origin').clone()
                  .find('input, textarea').each(function (index, element) {
                      $(element).attr('name', changedAttrs[index]);
                  }).end().html())
          })

// placeholder
          $('input, textarea').each(function (index, element) {
              if (element.name.includes('ideo')) {
                  element.value = '/static/assets/video/ch/';
              } else if (element.name.includes('image') || element.name.includes('icon') || element.name.includes('ortrait')) { // mage 하면 damage 랑겹침
                  element.value = '/static/assets/img/ch/'
              } else if (element.name.includes('udio')) {
                  element.value = '/static/assets/audio/ch/'
              }
          })

          $('.apply-name-button').on('click', function () {
              let nameEnVal = $("input[name='nameEn']").val();
              $('input, textareat').each(function (index, element) {
                  if (element.name.includes('ideo') || element.name.includes('image') || element.name.includes('icon') || element.name.includes('ortrait') || element.name.includes('udio')) {
                      element.value = element.value + nameEnVal + '/';
                  }
              })
          })

// 스테이터스 체크
          $('.status-input-check').change(function () {
              $(this).is(':checked') ? $(this).parent().next().show() : $(this).parent().next().find('input').val('').end().hide();
          })
// 통신
          $('.character-submit-button').on('click', function (e) {
              let requestData = serializeJson($('#characterInputForm').get(0));
              ajaxRequest("/insert/character", requestData);
          })
          $('.idle-and-attack-submit-button').on('click', function (e) {
              let requestData = serializeJson($('#idleAndAttackInputForm').get(0));
              ajaxRequest("/insert/idle-and-attack", requestData);
          })
          $('.charge-attack-submit-button').on('click', function (e) {
              e.preventDefault();
              let requestData = serializeJson($('#chargeAttackForm').get(0));
              ajaxRequest("/insert/charge-attack", requestData);
          })
          $('.ability-submit-button').click(function () {
              let requestData = serializeJson($('#abilityForm').get(0));
              ajaxRequest("/insert/ability", requestData);
          })

          // requestData 는 JSON string
          function ajaxRequest(url, requestData) {
              console.log(requestData);
              requestData = JSON.stringify(requestData);
              $.ajax({
                  type: "POST",
                  url: url,
                  contentType: "application/json",
                  headers: {
                      // 'X-CSRF-TOKEN': $('#csrfToken').val()
                  },
                  data: requestData,
                  success: function (data) {
                      console.log(data)
                      alert(data.message)
                      $("input[name='characterId']").each(input => $(input).val(data.characterId));
                  },
                  error: function (xhr) {
                      console.log(xhr);
                  }
              })
          }

          // ready
      })
  </script>
</head>
<body>

<h1>캐릭터 삽입</h1>

<h2>character</h2>
<form id="characterInputForm" target="/input-character" method="POST">
  <div>character.name</div>
  <input class="form-control mb-2" type="text" name="name" placeholder="">
  <div>영문명 Actor.nameEn</div>
  <input class="form-control mb-2" type="text" name="nameEn" placeholder="">
  <button type="button" class="apply-name-button btn btn-primary">이름 적용</button>
  <div>battlePortraitSrc [.jpg]</div>
  <input class="form-control mb-2" type="text" name="battlePortraitSrc" placeholder="">
  <button type="button" class="character-submit-button btn btn-primary">캐릭터저장</button>
</form>

<hr>
<h2>idle and attack</h2>
<div class="attack-input-wrapper">
  <form id="idleAndAttackInputForm">
    <div>characterId</div>
    <input class="form-control mb-2" type="text" name="characterId" placeholder="">
    <h3>idle</h3>
    <div>asset.effectVideo</div>
    <input class="form-control mb-2" type="text" name="idleEffectVideoSrc" placeholder="">

    <h3>single</h3>
    <div>asset.effectVideo.src</div>
    <input class="form-control mb-2" type="text" name="singleAttackEffectVideoSrc" placeholder="">
    <div>asset.audio.src</div>
    <input class="form-control mb-2" type="text" name="singleAttackSeAudioSrc" placeholder="">

    <h3>double</h3>
    <div>asset.effectVideo.src</div>
    <input class="form-control mb-2" type="text" name="doubleAttackEffectVideoSrc" placeholder="">
    <div>asset.audio.src</div>
    <input class="form-control mb-2" type="text" name="doubleAttackSeAudioSrc" placeholder="">

    <h3>triple</h3>
    <div>asset.effectVideo.src</div>
    <input class="form-control mb-2" type="text" name="tripleAttackEffectVideoSrc" placeholder="">
    <div>asset.audio.src</div>
    <input class="form-control mb-2" type="text" name="tripleAttackSeAudioSrc" placeholder="">

    <button type="button" class="btn btn-primary idle-and-attack-submit-button">아이들, 어택 저장</button>
  </form>
</div>

<h2>charge attack</h2>
<div class="charge-attack-input-wrapper">
  <form id="chargeAttackForm">
    <div>CharacterId</div>
    <input class="form-control mb-2" type="text" name="characterId" placeholder="">

    <div>name 오의 이름</div>
    <input class="form-control mb-2" type="text" name="name" placeholder="">
    <div>info 오의 설명 텍스트</div>
    <input class="form-control mb-2" type="text" name="info" placeholder="">
    <div>effectVideoSrc 이펙트 비디오</div>
    <input class="form-control mb-2" type="text" name="effectVideoSrc" placeholder="">
    <div>seAudioSrc SE 오디오</div>
    <input class="form-control mb-2" type="text" name="seAudioSrc" placeholder="">

    <h3>status1</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status2</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status3</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status4</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status5</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <button type="button" class="btn btn-primary charge-attack-submit-button">오의</button>
  </form>
</div>

<!-- 어빌리티 -->


<h2> ability </h2>

<div class="ability-input-wrapper">
  <form id="abilityForm">
    <div>캐릭터 id</div>
    <input class="form-control mb-2" type="text" name="characterId" placeholder="">

    <div>type: 어빌리티 Move.type (FIRST_ABILITY, FIRST_SUPPORT_ABILITY, ...)</div>
    <input class="form-control mb-2" type="text" name="type" placeholder="">

    <div>name: 어빌리티 이름</div>
    <input class="form-control mb-2" type="text" name="name" placeholder="">
    <div>info: 어빌리티 설명 텍스트</div>
    <input class="form-control mb-2" type="text" name="info" placeholder="">
    <div>damageRate: 데미지 배율</div>
    <input class="form-control mb-2" type="number" name="damageRate" placeholder="">
    <div>hitCount: 히트수</div>
    <input class="form-control mb-2" type="number" name="hitCount" placeholder="">
    <div>coolDown: 어빌리티 쿨타임</div>
    <input class="form-control mb-2" type="number" name="coolDown" placeholder="">
    <div>duration: 어빌리티 효과시간 (두개 이상일 경우 쉼표로 구분하여 작성, 로직용 아니고 표현용)</div>
    <input class="form-control mb-2" type="text" name="duration" placeholder="">

    <div>iconSrc: asset.iconImageSrc 에서 사용</div>
    <input class="form-control mb-2" type="text" name="iconSrc" placeholder="">

    <div>이펙트 비디오 asset.effectVideo</div>
    <input class="form-control mb-2" type="text" name="effectVideoSrc" placeholder="">
    <div>모션 비디오 asset.motionVideo</div>
    <input class="form-control mb-2" type="text" name="motionVideoSrc" placeholder="">

    <div>SE 오디오 asset.seAudioSrc</div>
    <input class="form-control mb-2" type="text" name="seAudioSrc" placeholder="">
    <div>Voice 오디오 asset.voiceAudioSrc</div>
    <input class="form-control mb-2" type="text" name="voiceAudioSrc" placeholder="">

    <h3>status1</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status2</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status3</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status4</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <h3>status5</h3>
    <div class="form-check">
      있음
      <input class="form-check-input status-input-check" type="checkbox" value="">
    </div>
    <div class="status-input-wrapper">
    </div>

    <button type="button" class="btn btn-primary ability-submit-button">어빌리티</button>
  </form>
</div>

<!-- 스테이터스 추가 원본 -->
<div class="status-input-wrapper-origin">
  <div>type 타입</div>
  <input class="form-control mb-2" type="text" name="statuses[0].type" placeholder="">
  <div>effectText 이펙트 텍스트 (name 동일값)</div>
  <input class="form-control mb-2" type="text" name="statuses[0].effectText" placeholder="">
  <div>maxLevel 최대레벨, 없으면 0</div>
  <input class="form-control mb-2" type="number" name="statuses[0].maxLevel" placeholder="">
  <div>targetType 스테이터스 타겟 SELF, PARTY_MEMBERS, ENEMY, ...</div>
  <input class="form-control mb-2" type="text" name="statuses[0].targetType" placeholder="">
  <div>statusText 스테이터스 텍스트</div>
  <input class="form-control mb-2" type="text" name="statuses[0].statusText" placeholder="">
  <div>duration 효과시간</div>
  <input class="form-control mb-2" type="number" name="statuses[0].duration" placeholder="">
  <div>canDispel 디스펠 가능여부, true or false</div>
  <input class="form-control mb-2" type="text" name="statuses[0].canDispel" placeholder="">


  <div>statusEffect 의 type 과 value, {type, value \n 으로 작성}</div>
  <textarea rows="3" class="form-control mb-2" type="text" name="statuses[0].statusEffects" placeholder=""></textarea>

  <div>iconImageSrcs 아이콘 src, 레벨 오름차순 정렬해서 엔터로 구분</div>
  <textarea rows="10" class="form-control mb-2" type="text" name="statuses[0].iconSrcs" placeholder=""></textarea>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>